.main {
    @apply w-64 bg-primaryWhite absolute rounded-md shadow-lg flex flex-col items-center
}

.status {
     @apply w-full h-7 rounded-lg flex items-center  cursor-pointer
}

.status-box {
    @apply w-full flex items-center gap-2 border-b-2 flex-col px-1 py-2
}

.add-box {
    @apply w-full h-8 flex justify-center items-center  
}

.new-status {
    @apply w-full h-28 grid grid-rows-3
}

.cor-status-box {
    @apply flex items-center w-full justify-between
}

.nome-status-box {
    @apply flex items-center w-full justify-between border-b-2
}

.confirmar-status-box {
    @apply bg-secondary flex justify-center items-center rounded-b-lg
}

.input-add-status {
    @apply bg-primaryWhite outline-none pl-3
}

.pi-plus-circle {
    font-size: large;
}

.pi-minus-circle {
    font-size: large;
}

.pi-trash {
    font-size: large;
}