.main {
    @apply h-screen w-screen flex justify-center items-center;
}

.card-login {
    @apply h-3/4 w-2/3 flex drop-shadow-2xl;
}

.left {
    @apply bg-secondary h-full w-1/2 rounded-l-md flex justify-center items-center;
}

.welcome {
    @apply h-2/3 flex flex-col justify-between
}

.main-text {
    @apply text-justify font-semibold text-xl text-primaryWhite 
}

.right {
    @apply bg-white h-full w-1/2 rounded-r-md p-16 ;
}

.normal-white-font {
    @apply text-primaryWhite text-lg
}

.pi {
    @apply text-2xl
}

.box-text-left {
    @apply flex justify-center items-center w-4/5 h-full
}


.box-text-right {
    @apply w-full h-full flex flex-col;
    margin: 0 auto;
}

.div-inputs {
    @apply w-full h-3/6 flex justify-center flex-col  items-center
}

.inputs-login {
    @apply w-full h-4/5 flex flex-col gap-2 justify-center items-center
}

.input {
    @apply w-2/3 h-2/6 bg-none
}

.main-title {
    @apply text-4xl font-bold text-primaryFontBlack;
}

.login-topic-icon {
    @apply flex items-center gap-10
}

.link-senha {
    @apply text-primary font-bold text-lg mt-5 border-b-2 border-[#3784a0a4]
}

.div-link {
    @apply flex w-3/4 flex justify-end
}

.div-buttons {
    @apply w-full h-2/6 flex flex-col items-center
}

.checkbox {
    @apply flex w-2/3 justify-start mt-4 gap-6
}

.checkbox-text {
    @apply font-semibold text-lg text-primaryFontBlack
}

.div-login {
    @apply w-3/4 mt-10
}

.button-login {
    @apply w-full bg-secondary
}

.button-login:hover {
    @apply bg-primary border-primary
}

.div-google {
    @apply w-3/4 mt-6
}

.button-google {
    @apply w-full bg-[#e11a1ab9]
}

.button-google:hover {
    @apply bg-[#e11a1ab9] border-[#e11a1ab9]
}

.div-cadastro {
   @apply w-full flex justify-center mt-12
}

.text-cadastro {
    @apply text-lg font-semibold
}

.link-cadastro {
    @apply text-primary border-b-2 border-[#3784a0a4] font-semibold
}

// INPUT DA NET

$primary: #185E77;
$secondary: #185E77;
$white: #343434;
$gray: #185E77;
.form__group {
  position: relative;
  padding: 8px 0 0;
  width: 70%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1rem;
  color: $white;
  padding: 12px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo */
body {
  font-family: 'MontSerrat', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#222222;
}
.form-group {
    @apply flex flex-col

}



