.main {
    @apply bg-white h-full w-full rounded-md ; //botar shadow
}

.pic-project {
    @apply h-[45%] w-full flex justify-center items-center
}

.pic {
    @apply h-20 w-20 rounded-full;
    //  bg-orange-600
}

.name-project {
    @apply w-full flex justify-center items-center
}

.responsible-project {
    @apply h-[35%] w-full flex justify-center items-center 
}

.responsible-text {
    @apply text-sm text-gray-500
}

.responsible-circle {
    @apply w-6 h-6 rounded-full
}

.name-text{
    font-family: "Montserrat", sans-serif;

}
.icon2{
    @apply text-base
    sm:text-lg
    md:text-lg
  }