<div class="bg-white w-full h-full rounded-lg flex">
    <div class=" p-10 flex flex-col gap-2 justify-center items-center">
        <div class=" w-24 h-24 rounded-full bg-orange-400 overflow-clip"></div>
    
    <p class="  @apply text-primary font-bold text-[22px] name-text">{{team.name}}</p>
    </div>
    <div class="">
        
        <div *ngFor="let member of team.participants">
            fdds
            <div>
                <div>
                    
                </div>
                <div class="">{{member.name}}</div>
                <div class=""></div>
            </div>

        </div>
    </div>
</div>