
<div class="flex md:p-6 p-4 w-full sm:h-28 h-20 rounded-2xl border-2 dark:border-gray-500 gap-3 items-center">

  <div
    [ngStyle]="{
      'background-image':
        user.image != null
          ? 'url(' + user.image.data + ')'
          : user.imageColor,
      'background-size': 'cover',
      'background-color': user.imageColor
    }"
    class="sm:w-20 sm:h-20 w-16 h-16 rounded-full overflow-clip"
  >
    
  </div>
  <div class="w-[80%]">
    <p class="name truncate">{{ user.name }}</p>
    <p class="font-hind-madurai truncate sm:text-xl text-base font-normal text-slate-600 dark:text-slate-300">
      {{ user.email }}
    </p>
  </div>
</div>
