
<div class="flex p-6 w-full h-28 rounded-2xl border-2 gap-7 items-center">

  <div
    [ngStyle]="{
      'background-image':
        user.image != null
          ? 'url(data:image/jpeg;base64,' + user.image.data + ')'
          : user.imageColor,
      'background-size': 'cover',
      'background-color': user.imageColor
    }"
    class="w-20 h-20 rounded-full overflow-clip"
  >
    
  </div>
  <div>
    <p class="name">{{ user.name }}</p>
    <p class="font-hind-madurai text-xl font-normal text-slate-600">
      {{ user.email }}
    </p>
  </div>
</div>
