<div class="w-screen">
  <div class="w-full px-48">
    <div class="w-full flex flex-row justify-between py-10">
      <div class="flex flex-col gap-4 max-w-fit">
        <h1 class="nome-projeto">Projeto Padrão</h1>
        <button class="botao-adicionaProjeto">
          <i class="pi pi-plus" style="font-size: 1rem"></i>
          Adicionar Projeto
        </button>
      </div>
      <div class="flex flex-row gap-4 self-center">
        <button class="botao-opcoes">
          <select
            name="visualizacoes"
            id="1"
            class="select"
            [(ngModel)]="selectedVisualizacao"
            (change)="mudarSelect($event)"
          >
            <option value="Visualização" selected class="text-base">
                Visualização
            </option>
            <option value="Padrao" class="text-base">Padrão</option>
            <option value="Kanban" class="text-base">Kanban</option>
            <option value="Lista" class="text-base">Lista</option>
            <option value="Calendário" class="text-base">Calendário</option>

          </select>
          <i class="pi pi-eye icon" style="font-size: 1rem"></i>
        </button>

        <button class="botao-opcoes">
            <select
            name="Ordenação"
            id="2"
            class="select"
          >
            <option value="Ordenação" selected class="text-base">
                Ordenação
            </option>
            <option value="Padrao" class="text-base">Data</option>
            <option value="Kanban" class="text-base">Status</option>
            <option value="Lista" class="text-base">Favoritos</option>
          </select>
          <i class="pi pi-sort-alt icon" style="font-size: 1rem"></i>
        </button>
        <button class="botao-opcoes">
          Filtros
          <i class="pi pi-filter icon" style="font-size: 1rem"></i>
        </button>
      </div>
    </div>
    <div *ngIf="select == 'Padrao'">
      <div class="flex flex-wrap gap-6 w-full justify-center">
        <div *ngFor="let tarefa of listaTarefas; index as indice" class="card">
          <app-tarefa-card-padrao [id]="tarefa.nome + indice" [tarefaAtual]="tarefa"></app-tarefa-card-padrao>
        </div>
      </div>
    </div>
    <div *ngIf="select == 'Kanban'">kanban</div>
     <div *ngIf="select == 'Lista'">Lista</div>



  </div>
</div>
