.main-box{
  @apply w-full flex  flex-col items-center dark:bg-dark-theme-back
}

.gorgees{
  @apply flex justify-end w-screen
}

.tarefa {
  @apply  w-[50%] h-[92vh] z-[999] fixed;
}

.main{
  @apply w-4/5 flex flex-col gap-3
}
.header{
  @apply w-full flex flex-row justify-between py-6 items-center 
}
.button-name-box{
  @apply flex flex-col gap-4 max-w-fit
}
.project-name{
    @apply  text-primary  dark:text-dark-primary text-[42px] font-bold font-titulo ;

}

.button-AddProject{
    @apply bg-secondary dark:bg-dark-secundary-green rounded-xl p-3 text-white font-bold text-xl
      }

.botao-opcoes{
    @apply text-2xl font-titulo
}
.tasks-grid-padrao{
  width: 100%;
  display: grid;
  justify-self: center;
  grid-template-columns: repeat(auto-fill, minmax(330px, 1fr)); /* Cada coluna tem 200px de largura mínima */
  grid-gap: 20px; 

}
.box-list{
  @apply flex flex-col h-full w-full gap-2  items-center justify-center
}



  .cardLista {
    @apply w-[78%];
  }
  .card-box {
    @apply w-full h-full
  }
  .icon {
    @apply text-2xl text-secondary dark:text-dark-secundary-green cursor-pointer
  }
  select{
    @apply bg-secondaryWhite m-1 border-0 p-1;
    appearance: none;
    -webkit-appearance: none;
    /* Remove estilo padrão do Chrome */
    -moz-appearance: none;
  }
  .select select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
  }
.select:focus{
    outline: 0;
}

.select-button{
  @apply text-xl dark:text-gray-300 font-titulo;
}
.box-selections{
  @apply flex flex-row gap-3
}
 


.box-filterBy{
  @apply flex flex-row gap-1 items-center
}
.option-filterBy{
  @apply bg-primaryNav font-hind-madurai dark:bg-dark-theme-back px-2 rounded-md text-[#6A7181] dark:text-gray-50 text-base flex items-center flex gap-2;

}
.text-filterBy{
  @apply text-lg text-[#6A7181] dark:text-gray-200 font-hind-madurai
}
.width-name-propertys{
@apply w-[120px]  max-h-6 text-lg text-gray-500 dark:text-gray-300  font-hind-madurai;



}