.nome-projeto{
    @apply  text-primary text-[42px] font-bold ;
    font-family: 'Montserrat', sans-serif;

}

.botao-opcoes{
    font-family: 'Montserrat', sans-serif;
    @apply text-2xl
}

.card {
    @apply bg-[#F8F8F8] rounded-xl  drop-shadow-md w-full;
  }
  .icon {
    @apply text-2xl text-secondary cursor-pointer
  }
  select{
    @apply bg-secondaryWhite m-1 border-0 p-1;
    appearance: none;
    -webkit-appearance: none;
    /* Remove estilo padrão do Chrome */
    -moz-appearance: none;
  }
  .select select {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    appearance: none;
  }
.select:focus{
    outline: 0;
}

.tarefa {
  @apply  w-[45%] h-[92vh] z-50 fixed;
}