 <div class="gorgees">
  <app-modal-tarefa
    class="tarefa"
    *ngIf="booleanTask"
    [tarefa]="tarefaSelecionada"
    [projeto]="projeto"
    (closeModalTask)="closeTask($event)"
  ></app-modal-tarefa>
</div>

<div class="main-box" >
 
  <div class="main">
    
    <div class="header" >
    
      <div class="button-name-box">
        <h1 class="project-name">{{projeto.name}}</h1>
        <app-botao-add-tarefa
          class="w-[100%]"
          (click)="openTaskEdit(tarefaNova)"
          *ngIf="!(option == 'Kanban')"
        ></app-botao-add-tarefa>
      </div>
      <div class="box-selections">
        <div class="relative">
          <button (click)="changeVisualizacao($event)" class="select-button">
            <i class="pi pi-eye icon icon2" ></i>
            <p class="text-select">
              {{'Visualização' | translate}}
            </p>
          </button>
          <div *ngIf="visualizacaoVisible" class="selections absolute z-10">
            <app-select-custom
              [projeto]="projeto"
              [listOptions]="listOptions"
              [listIcons]="listIcons"
              (newItem)="optionA($event)"
            ></app-select-custom>
          </div>
        </div>

        <div>
          <button (click)="changeOrdenacao($event)" class="select-button">
            <i class="pi pi-sort-alt icon icon2 " ></i>
            <p class="text-select">
              {{'Ordenação' | translate}}
            </p>          </button>
          <div *ngIf="ordenacaoVisible" class="selections absolute z-10">
            <app-select-custom
              [projeto]="projeto"
              [listOptions]="listOptions"
              [listIcons]="listIcons"
              (newItem)="optionB($event)"
            ></app-select-custom>
          </div>
        </div>
        <div>
          <button (click)="changeFiltro($event)" class="select-button">
            <i class="pi pi-filter icon icon2" ></i>
            <p class="text-select">
              {{'Filtro' | translate}}
            </p>
          </button>
          <div *ngIf="filtroVisible" class="selections absolute z-10">
            <app-select-custom
              [projeto]="projeto"
              [listOptions]="listOptions"
              [listIcons]="listIcons"
              (newItem)="optionC($event)"
            ></app-select-custom>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="box-filterBy" *ngIf="!(optionFilter == '')">
        <p class="text-filterBy">Filtrado por:</p>
        <div class="option-filterBy">
          <p>{{ optionFilter }}</p>
          <p
            class="pi pi-times-circle dark:text-dark-primary"
            style="font-size: 1rem; color: #185e77"
            (click)="removeFilter()"
          ></p>
        </div>
      </div>
    </div>

    <div *ngIf="option == 'Cards'">
      <div class="tasks-grid-padrao">
        <div
          *ngFor="
            let tarefa of listaTarefas;
            index as indice;
            trackBy: trackById
          "
          class="card"
        >
          <app-tarefa-card-padrao
            [id]="tarefa.name + indice"
            [tarefaAtual]="tarefa"
            (click)="openTask(tarefa)"
            (newItem)="atualizar($event)"
           [project]="projeto"
          ></app-tarefa-card-padrao>
        </div>
      </div>
    </div>
    <div *ngIf="option == 'Lista'">
      <div class="box-list">
          <!-- <div class="flex gap-14   w-[70%] ml-28 ">
    

            <p class="width-name-propertys">status:</p>
            <p class="width-name-propertys">
              progresso:
            </p>
            <p class="width-name-propertys"> data final:</p>
            <p class="width-name-propertys">membros:</p>
            <p class="width-name-propertys">
              prioridade:
            </p>
            <p class="width-name-propertys">agendamento: </p>

          </div> -->
        <div
          *ngFor="
            let tarefa of listaTarefas;
            index as indice;
            trackBy: trackById
          "
          class="cardLista"
        >
          <app-tarefa-card-lista
            class="h-full w-full"
            [id]="tarefa.name + indice"
            [tarefaAtual]="tarefa"
            (newItem)="atualizar($event)"
            [project]="projeto"
            (click)="openTask(tarefa)"

          ></app-tarefa-card-lista>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="option == 'Kanban'">
    <div class="w-full">
      <app-tarefa-kanban
        [taskList]="listaTarefas"
        [project]="projeto"
      ></app-tarefa-kanban>
    </div>
  </div>
  <div *ngIf="option == 'Calendario'" class="w-full">
 
    <div class="w-full">
      
     <app-task-calendar  [taskList]="listaTarefas" [project]="projeto"></app-task-calendar>
    </div>
  </div>

</div>
