<div class="gorgees">
  <app-modal-tarefa
  class="tarefa"
  *ngIf="booleanTask"
  [tarefa]="tarefaSelecionada"
  ></app-modal-tarefa>
</div>


<div class="main-box">

  <div class="main">
    <div class="header">
      <div class="button-name-box">
        <h1 class="project-name">Projeto Padrão</h1>
        <app-botao-add-tarefa
          class="w-[100%]"
          (click)="openTaskEdit(tarefaNova)"
          *ngIf="!(option == 'Kanban')"
        ></app-botao-add-tarefa>
      </div>
      <div class="box-selections">
        <div class="relative">
          <button (click)="changeVisualizacao($event)" class="select-button">
            <i class="pi pi-eye icon" style="font-size: 1rem"></i>
            Visualização
          </button>
          <div *ngIf="visualizacaoVisible" class="selections absolute z-10">
            <app-select-custom
              [listOptions]="listOptions"
              [listIcons]="listIcons"
              (newItem)="optionA($event)"
            ></app-select-custom>
          </div>
        </div>

        <div>
          <button (click)="changeOrdenacao($event)" class="select-button">
            <i class="pi pi-sort-alt icon" style="font-size: 1rem"></i>
            Ordenação
          </button>
          <div *ngIf="ordenacaoVisible" class="selections absolute z-10">
            <app-select-custom
              [listOptions]="listOptions"
              [listIcons]="listIcons"
              (newItem)="optionB($event)"
            ></app-select-custom>
          </div>
        </div>
        <div>
          <button (click)="changeFiltro($event)" class="select-button">
            <i class="pi pi-filter icon" style="font-size: 1rem "></i>
            Filtros
          </button>
          <div *ngIf="filtroVisible" class="selections absolute z-10">
            <app-select-custom
              [listOptions]="listOptions"
              [listIcons]="listIcons"
              (newItem)="optionC($event)"
            ></app-select-custom>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="box-filterBy" *ngIf="!(optionFilter == '')">
        <p class="text-filterBy">Filtrado por:</p>
        <div class="option-filterBy">
          <p>{{ optionFilter }}</p>
          <p
            class="pi pi-times-circle"
            style="font-size: 1rem; color: #185e77"
            (click)="removeFilter()"
          ></p>
        </div>
      </div>
    </div>

    <div *ngIf="option == 'Padrão'">
      <div class="tasks-grid-padrao">
        <div *ngFor="let tarefa of listaTarefas; index as indice" class="card">
          <app-tarefa-card-padrao
            [id]="tarefa.nome + indice"
            [tarefaAtual]="tarefa"
            (click)="openTask(tarefa)"
            (newItem)="ngOnInit()"
          ></app-tarefa-card-padrao>
        </div>
      </div>
    </div>
    <div *ngIf="option == 'Lista'">
      <div class="box-list">
        <div
          *ngFor="let tarefa of listaTarefas; index as indice"
          class="cardLista"
        >
          <app-tarefa-card-lista
            class="h-full w-full"
            [id]="tarefa.nome + indice"
            [tarefaAtual]="tarefa"
            (newItem)="ngOnInit()"
          ></app-tarefa-card-lista>
        </div>
      </div>
    </div>
    
      
      </div>
      <div *ngIf="option == 'Kanban'" >
        <div class="w-full" cdkDropListGroup >
            <app-tarefa-kanban [listaTarefas]="listaTarefas" [listaStatus] = "projeto.listaStatus"
            ></app-tarefa-kanban>
        </div>
  </div>
</div>
