<div class="flex justify-between items-center gap-4 w-full p-4 border-b-2 dark:border-gray-500">

    <div *ngIf="!contact?.image?.data" class="h-16 aspect-square rounded-full " [ngStyle]="{ 'background-color': contact.imageColor }">
   
    </div>
    <img *ngIf="contact?.image?.data" src="{{contact.image.data}}" alt=""  class="h-16 w-16 rounded-full">

    <div class="flex flex-col gap-1 w-3/4">
        <div class="flex justify-between w-full">
            <p class="truncate w-full dark:text-white font-titulo ">{{contact.name}}</p>
            <p *ngIf="lastMessage" class=" w-24 flex justify-center dark:text-white font-hind-madurai">
                {{lastMessage.date | date : "dd"+"/"+"MM"}}
            </p>
        </div>
        <div class="flex justify-between w-full ">
            <p *ngIf="lastMessage" class="last-message dark:text-white font-hind-madurai">
                {{getLastMessageContent()}}
            </p>    
            <div class="w-24 flex justify-center items-center">
                <!-- <p *ngIf="lastMessage?.messageStatus!=3 && lastMessage" class="unseen-message-icon"></p> -->
            </div>
        </div>
    </div>


</div>