<div class="contact">

    <div class="img-container" [ngStyle]="{ 'background-color': contact.profilePicture }">
        <img *ngIf="contact.profilePicture.slice()[0]!='#'" src="{{contact.profilePicture}}"
            alt="" class="img">
    </div>

    <div class="body">
        <div class="name-container ">
            <p class="name">
                {{contact.name}}
            </p>
        </div>
        <div class="last-message-container">
            <p class="last-message">
                {{lastMessage.content}}
            </p>
        </div>
    </div>

    <div class="side-info">

        <div class="last-message-date-container">
            <p>
                {{lastMessage.date | date : "dd"+"/"+"MM"}} 
            </p>
        </div>
        <div class="">
            <div class="unseen-message-icon"></div>
        </div>

    </div>
</div>
