  .main{
  @apply w-[80%] lg:w-[90%] flex h-[40px] lg:h-[60px] items-center gap-[5%] justify-center  px-2  lg:p-2    bg-[#FFFFFF] dark:bg-dark-primary-black rounded-lg   ;
  
}
.taskName {
  @apply text-primary dark:text-dark-primary  text-xs lg:text-xl font-extrabold overflow-hidden absolute;
  font-family: "Hind Madurai", sans-serif;
  white-space: nowrap;
  position: absolute;
  transform: translateX(0);
  transition: transform 5s linear; 
}
.name {
  @apply text-primary dark:text-dark-primary text-base lg:text-xl font-extrabold overflow-hidden absolute;
  font-family: "Hind Madurai", sans-serif;

}
  .grey-progress {
    @apply w-16 lg:w-[96px] xl:w-[110px] h-2 lg:h-2.5 xl:h-3 rounded-sm lg:rounded-[4px] bg-[#d9d9d9] dark:bg-dark-primary-gray;
  }
  .blue-progress {
    @apply  h-full text-center text-xs text-white bg-primary dark:bg-dark-primary rounded-[4px];
    width: valorBarra;

  }
  .finalDate-box{
    @apply w-[4%]
  }
  .finalDate {
    @apply font-titulo  lg:text-base text-sm text-primary dark:text-dark-primary ;
  
  }
  .scheduleDate{
    @apply text-black dark:text-secondaryWhite font-titulo  lg:text-base text-sm text-sm
  }
  .status-box{
    @apply  flex  w-max xl:w-20 ; 

  .status {
    @apply rounded-full lg:h-5 lg:w-5 xl:w-6 xl:h-6 h-4 w-4 flex text-sm 
  }
}
 
  .taskMemberPhoto{
    @apply w-6 h-6 xl:w-8 xl:h-8 rounded-full  overflow-clip
  }
  .name-box {
    @apply h-6 w-1/6 lg:w-[10%] ;
      overflow: hidden; 
      position: relative;
    }
    .name-box:hover .taskName {
      transform: translateX(-100%);
      overflow:visible; 
    }
    
    .name-box:not(:hover) .taskName {
      transition: none; 
    }
    
    .star-box{
      @apply flex items-center justify-end
    }
    .priority-box{
      @apply w-max xl:w-32
    }
    .priority {
      @apply rounded-lg px-2 lg:px-4 sm:p-1 p-0.5  w-full text-center lg:text-sm text-[10px] self-center  ;
      font-family: "Montserrat", sans-serif;
    }
    