.main{
  @apply w-full flex h-[60px] items-center  py-2 justify-center gap-9 bg-[#FFFFFF] rounded-lg   ;
  
}
.taskName {
  @apply text-primary text-2xl font-extrabold overflow-hidden absolute;
  font-family: "Hind Madurai", sans-serif;
  white-space: nowrap;
  position: absolute;
  transform: translateX(0);
  transition: transform 5s linear; 
}
.name {
  @apply text-primary text-2xl font-extrabold overflow-hidden absolute;
  font-family: "Hind Madurai", sans-serif;

}
  .grey-progress {
    @apply  w-[110px] h-3 rounded-[4px] bg-[#d9d9d9];
  }
  .blue-progress {
    @apply  h-full text-center text-xs text-white bg-primary rounded-[4px];
    width: valorBarra;

  }
  .finalDate-box{
    @apply w-[110px]
  }
  .finalDate {
    @apply text-lg text-primary;
    font-family: "Hind Madurai", sans-serif;
  }
  .status-box{
    @apply  flex ; 

  .status {
    @apply rounded-full h-6 w-6 flex text-sm 
  }
}
 
  .taskMemberPhoto{
    @apply w-9 h-9 rounded-full  overflow-clip
  }
  .name-box {
    @apply h-6 w-[10%] ;
      overflow: hidden; 
      position: relative;
    }
    .name-box:hover .taskName {
      transform: translateX(-100%);
      overflow:visible; 
    }
    
    .name-box:not(:hover) .taskName {
      transition: none; 
    }
    
    .star-box{
      @apply flex items-center justify-end
    }
    .priority {
      @apply rounded-lg  px-4 w-max text-sm self-center bg-gray-400;
      font-family: "Montserrat", sans-serif;
    }
    