
  <div class="container-data-nome">
    <p class="texto">data final: {{tarefaAtual.dataFinal}} </p>
    <div class="status" [ngStyle]="{'background-color': tarefaAtual.statusAtual.corFundo}">{{tarefaAtual.statusAtual.nome}}</div>
  </div>
  <div class="barra-cinza">
    <div class="barra-azul" [ngStyle]="{ width: valorBarra }"></div>
  </div>
  <div class="container-nome">
    <div class=" container">
      <div *ngIf="tarefaAtual.nome.length>20">
        <p class="nomeTarefa">{{tarefaAtual.nome}}</p>
      </div>
      <div *ngIf="tarefaAtual.nome.length<=20">
      <p class="nome">{{tarefaAtual.nome}}</p>
      </div>

    </div>
    <div class="container-subtarefas">
      <div *ngFor="let sub of tarefaAtual.subtarefas; index as indice;">
        <div class="subtarefa">
          <input type="checkbox" id="({{id}}+{{sub}}+{{indice}})">
         <label for="({{id}}+{{sub}}+{{indice}})">{{sub.nome}}</label> 
         </div>
      </div>
    </div>
    <div class="container-estrela-membros">
      <div>
        <img [src]="caminhoEstrela" (click)="favoritar()" alt="" class="cursor-pointer"/>
      </div>
      <div class="flex flex-row">
        <div class="fotoMembroTarefa"></div>
        <div class="fotoMembroTarefa"> <img src="assets/pessoaTeste.svg" /> </div>
      </div>
     
      
  
    </div>


  </div>

  

