<div class="main">
  <div class="flex gap-1 flex-col h-max">
    <div class="top-box p-3 pb-0">
      <p class="endDate">data final:{{ tarefaAtual.finalDate }}</p>
      <div
        class="status"
        [ngStyle]="{
          'background-color': tarefaAtual.currentStatus.backgroundColor,
          color: tarefaAtual.currentStatus.textColor
        }"
      >
        {{ tarefaAtual.currentStatus.name }}
      </div>
    </div>
    <div class="progress-bar">
      <div class="progress-blue" [ngStyle]="{ width: valorBarra }"></div>
    </div>
  </div>

  <div class="center-box ">
    <div class="nameTask-box">
      <div *ngIf="tarefaAtual.name.length > 20">
        <p class="nameTask">{{ tarefaAtual.name }}</p>
      </div>
      <div *ngIf="tarefaAtual.name.length <= 20">
        <p class="name">{{ tarefaAtual.name }}</p>
      </div>
    </div>
    <div class="subTasks">
      <div *ngFor="let sub of tarefaAtual.subtasks; index as indice">
        <div class="subTask">
          <input type="checkbox" id="({{ id }}+{{ sub }}+{{ indice }})" />
          <label
            class="leading-[18px]"
            for="({{ id }}+{{ sub }}+{{ indice }})"
            >{{ sub.name }}</label
          >
        </div>
      </div>
    </div>
  </div>
  <div class="usersStar-box pt-0 p-4">
    <div class="star">
      <img
      [src]="caminhoEstrela"
      (click)="favoritar($event)"
      alt=""
      class="cursor-pointer"
      style="width: 21px"
    />
    </div>
    <div class="members">
      <div class="photoMember"></div>
      <div class="photoMember"><img src="assets/pessoaTeste.svg" /></div>
    </div>
  </div>
  <!-- <div class="bg-blue-500 absolute h-2 w-full"></div> -->
</div>
