.main {
  @apply bg-[#F8F8F8] dark:bg-dark-primary-black rounded-xl  drop-shadow-md sm:w-full w-[230px]    lg:h-[211px] sm:h-[180px] h-[150px]  flex flex-col justify-between

}
.top-box {
  @apply flex  justify-between;
}
.endDate {
  @apply xl:text-lg text-primary dark:text-dark-primary text-base;
  font-family: "Hind Madurai", sans-serif;
}

.status {
  @apply rounded-lg  md:px-4 w-max xl:text-sm self-center text-[12px] px-2;
  font-family: "Montserrat", sans-serif;
}

.progress-bar {
  @apply w-full h-2 bg-[#d9d9d9]  dark:bg-dark-secundary-gray;
}
.progress-blue {
  @apply  h-full text-center text-xs text-white bg-primary dark:bg-dark-primary rounded-e-md;
}
.center-box {
  @apply flex flex-col h-full gap-1 px-3 pt-1 w-full;
}
.taskName {
  @apply text-primary dark:text-dark-primary text-xl font-extrabold overflow-hidden absolute;
  font-family: "Hind Madurai", sans-serif;
  white-space: nowrap;
  position: absolute;
  transform: translateX(0);
  transition: transform 5s linear;
}
.name {
  @apply text-primary dark:text-dark-primary text-xl leading-7 font-extrabold;
  font-family: "Hind Madurai", sans-serif;
}
.taskName-box {
  @apply min-w-min h-7  flex gap-1 flex-row;
  overflow: hidden;
  position: relative;
}
.taskName-box:hover .taskName {
  transform: translateX(-100%);
  overflow: visible;
}
.taskName:not(:hover) .taskName {
  transition: none;
}
.subTasks {
  @apply flex flex-col gap-2 max-h-full overflow-hidden dark:text-secondaryWhite;
}
.subTask {
  @apply s-input flex gap-1;
}

.s-input input {
  display: none;
}

.s-input input + label:before {
  content: "";
  height: 18px;
  width: 18px;
  vertical-align: middle;
  border: solid 2px #414651;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 3px;
  display: inline-block;
  cursor: pointer;
}

.s-input input:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.54961 17.9996L3.84961 12.2996L5.27461 10.8746L9.54961 15.1496L18.7246 5.97461L20.1496 7.39961L9.54961 17.9996Z' fill='%23F8F8F8'/%3E%3C/svg%3E");
  padding: 1px;
  background-position: center;
  background-color: #4c956c;
  border: solid 2px #4c956c;
}
.usersStar-box {
  @apply flex  justify-between items-center h-max;
}
.members {
  @apply flex flex-row;
}
.photoMember {
  @apply w-7 h-7 rounded-full bg-secondary overflow-clip;
}
