
  <div class="p-3 flex flex-row justify-between">
    <p class="texto">data final: {{tarefaAtual.dataFinal}} </p>
    <div class="status" [ngStyle]="{'background-color': corStatus}">{{tarefaAtual.statusAtual.nome}}</div>
  </div>
  <div class="barra-cinza">
    <div class="barra-azul" [ngStyle]="{ width: valorBarra }"></div>
  </div>
  <div class="px-5 py-2 flex flex-col gap-2">
    <div class="flex gap-1 flex-row container">
      <div *ngIf="tarefaAtual.nome.length>20">
        <p class="nomeTarefa">{{tarefaAtual.nome}}</p>
      </div>
      <div *ngIf="tarefaAtual.nome.length<=20">
      <p class="nome">{{tarefaAtual.nome}}</p>
      </div>


    </div>
   


    <div class="flex flex-col gap-2">
      <div *ngFor="let sub of listaSub; index as indice;">
        <div class="s-input flex gap-1">
          <input type="checkbox" id="({{id}}+{{sub}}+{{indice}})">
         <label for="({{id}}+{{sub}}+{{indice}})">{{sub}}</label> 
         </div>
      </div>
      <!-- <div class="flex gap-1">
        <img [src]="caminho" (click)="bomdia()" alt="" />
        <p class="spanInputSubTarefa">Carai cocota</p>  
      </div>
      <div class="flex gap-1">
        <img [src]="caminho" (click)="bomdia()" alt="" />
        <p class="spanInputSubTarefa">Carai cocota</p>
      </div> -->
    </div>
    <div class="flex flex-row justify-between">
      <div>
        <img [src]="caminhoEstrela" (click)="favoritar()" alt="" class="cursor-pointer"/>
      </div>
      <div class="flex flex-row">
        <div class="fotoMembroTarefa">
        </div>
        <div class="fotoMembroTarefa">
          <img src="assets/pessoaTeste.svg" />
        </div>
      </div>
     
      
  
    </div>


  </div>

  

