<div class="h-full">
    <div class="titulo">
        <p>Equipe Padrão</p>
    </div>
    <div class="flex justify-center">
        <div class="separa-component">
            <div class="imagem-projeto"> <div class="div-foto-centraliza"><div class="foto"><div class="lapis-edit" ><i class="pi pi-pencil text-primary dark:text-dark-primary"></i></div></div> </div></div>
            <div class="inputs">
                <div class="flex justify-between">
                    <div class="nome-projeto">
                        <label class="label" for="Nome do Projeto">Nome do Projeto:</label>
                        <label class="p-input-icon-right">
                            <i class="pi pi-pencil px-2 dark:text-dark-primary"></i>
                            <input class="nome-input" type="text" pInputText #nome />
                        </label>
                    </div>
                    <div class="data-projeto">
                        <label class="label" for="Nome do Projeto">data final:</label>
                        <input class="data-input" placeholder="Digite aqui" #data type="date">
                    </div>
                </div>
            </div>
            <div class="descricao">
                <label class="label" for="Descricao">Descrição</label>
                <textarea maxlength="200" placeholder="Digite aqui" #descricao ></textarea>
            </div>


            <div class="membro-components">
                <div class="membro-equipe">
                    <label class="label" for="Membro equipe">Pesquise um membro da sua equipe:</label>
                    <input class="membro-input" placeholder="email do usuário" type="text" pInputText />
                </div>
                <button class="botao-pesquisar"><p>Pesquisar</p> <i class="pi pi-search dark:text-gray-900"></i></button>
            </div>
            <div class="membros">
                <div *ngFor="let p of usuarios">
                    <app-membros-equipe [user]="p" (adiconarUser)="addUser(p)" ></app-membros-equipe>
                </div>
            </div>
            <div class="botoes">
                <button class="cancelar">Cancelar</button>
                <button class="salvar" (click)="salvarProjeto()">Salvar</button>
            </div>
        </div>
    </div>
</div>