<div class="h-full">
    <div class="titulo">
        
        <p>Equipe Padrão</p>
    </div>
    <div class="flex justify-center">
        <div class="separa-component">
            <div class="imagem-projeto"> <div class="div-foto-centraliza"><div class="foto"><div class="lapis-edit" ><i class="pi pi-pencil text-primary dark:text-dark-primary"></i></div></div> </div></div>
            <div class="inputs">
                <div class="flex justify-between">
                    <div class="nome-projeto">
                        <label class="label" for="Nome do Projeto">Nome do Projeto:</label>
                        <label class="p-input-icon-right">
                            <i class="pi pi-pencil px-2 dark:text-dark-primary"></i>
                            <input *ngIf="projeto" class="nome-input" type="text" pInputText [(ngModel)]="projeto.name" />
                        </label>
                    </div>
                    <div class="data-projeto bg-transparent">
                        <label class="label" for="Nome do Projeto">data final:</label>
                        <p-calendar class="data-input bg-transparent" placeholder="00/00/0000" [(ngModel)]="date"></p-calendar>
                    </div>
                </div>
            </div>
            <div class="descricao">
                <label class="label" for="Descricao">Descrição</label>
                <textarea maxlength="200" placeholder="Digite aqui" *ngIf="projeto" [(ngModel)]="projeto.description" ></textarea>
            </div>


            <div class="membro-components">
                <div class="membro-equipe">
                    <label class="label" for="Membro equipe">Pesquise um membro da sua equipe:</label>
                    <div *ngIf="statusVisible" class="absolute translate-y-20 " #statusClose >
                        <app-select-status
                        [projeto]="projeto"
                        [statusLista]="projeto.statusList"
                        (addNewStatus)="createStatus($event)"
                        ></app-select-status>
                    </div>                    
                    <input class="membro-input" placeholder="email do usuário" type="text" [(ngModel)]="searchTerm" pInputText />
                </div>
                <button class="botao-pesquisar"><p>Pesquisar</p> <i class="pi pi-search dark:text-gray-900"></i></button>
            </div>
            <div *ngIf="usuarios.length > 0" class="membros">
                <div *ngFor="let p of filteredNames()">
                    <app-membros-equipe [user]="p" [projeto]="projeto" ></app-membros-equipe>
                </div>
            </div>
            <div *ngIf="filteredNames().length <= 0" class="membros w-full h-full flex items-center justify-center">
                <p class="text-xl text-fontGray">Nenhum usuário encontrado</p>
            </div>
            <div class="status-priority">
                <button class="add-status" (click)="statusEnabled()">Adicionar status</button>
                <button class="add-priority" (click)="priorityEnabled()">Adicionar prioridade</button>
            </div>
            <div class="lembrete">
                <p>Os status e propriedades criadas serão adicionados a todas as tarefas</p>
            </div>
            <div class="botoes">
                <button class="cancelar" (click)="cancelar()">Cancelar</button>
                <button class="salvar" (click)="salvarProjeto()">Salvar</button>
            </div>
        </div>
    </div>
</div>
