<div class="main">
    <input type="file" class="file-input"
        (change)="onFileSelected($event)" #fileUpload>
    <div class="content max-h-[100%]">
        <div 
        class="flex flex-col justify-center items-center"
        *ngIf="task.files == null"
        >
            <i class="pi pi-file-import file-icon"></i>
            <p class=" text-fontGray">arraste seu arquivo aqui para anexa-lo</p>
        </div>
        <div 
        class="flex flex-col justify-start min-h-[40%] w-full items-center overflow-y-auto"
        *ngIf="task.files != null"
        >
            <div 
            class="fileFor"
            *ngFor="let file of task.files; let index = index"
            >
            <a [download]="file.name" [href]="file.url" [type]="file.type" (click)="a(file)">
            <i 
            class="pi pi-download file-icon2">
             </i>
            </a>
            
        
            <p>{{file.name}}</p>
            <i class="pi pi-trash file-icon3 text-xl"></i>
            </div>
        </div>
    </div>
    <div class="box-btn-add">
        <div class="btn-add-content" (click)="fileUpload.click()">
            <i class="pi pi-plus btn-add-text"></i>
            <p class="btn-add-text">adicionar anexo</p>
        </div>
    </div>
</div>