.main {
  @apply w-full pb-0   bg-white dark:bg-dark-primary-black rounded-xl border-2  justify-between border-primaryWhite flex flex-col items-center gap-0 h-full
}


.file-input {
  @apply hidden;
}

.box-btn-add {
  @apply w-full h-min  py-2 px-3 border-t-2  rounded-b-xl flex justify-center items-center cursor-pointer;
}

.btn-add-text-2 {
  @apply text-fontGray dark:text-gray-300 sm:text-xl text-base font-bold
}

.s-input input {
  display: none;
}

.s-input input + label:before {
  content: "";
  height: 18px;
  width: 18px;
  vertical-align: middle;
  border: solid 2px #6a7181;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 3px;
  display: inline-block;
  cursor: pointer;
}

.s-input input:checked + label:before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.54961 17.9996L3.84961 12.2996L5.27461 10.8746L9.54961 15.1496L18.7246 5.97461L20.1496 7.39961L9.54961 17.9996Z' fill='%23F8F8F8'/%3E%3C/svg%3E");
  padding: 1px;
  background-position: center;
  background-color: #4c956c;
  border: solid 2px #4c956c;
}

.btn-add-content {
  @apply flex justify-center items-center gap-3;
}

.btn-add-text {
  @apply text-primary dark:text-dark-primary sm:text-xl text-base font-bold;
}

.content {
  @apply flex w-full justify-center items-center flex-col gap-4 h-full ;
}

.file-icon {
  @apply text-8xl text-secondary;
}

.file-icon2 {
  @apply lg:text-2xl text-lg text-secondary dark:text-dark-secundary-green cursor-pointer hover:px-2 hover:py-1 hover:bg-slate-100 rounded-xl;
}

.file-icon3 {
  @apply lg:text-2xl text-lg text-secondary dark:text-dark-secundary-green cursor-pointer hover:px-2 hover:py-1 hover:bg-slate-100 rounded;
}

.fileFor {
  @apply min-h-[20%] w-full  flex items-center px-4 justify-between ;
}

