<div class="modal -translate-y-8 translate-x-52 overflow-hidden dark:bg-dark-secundary-gray" style="z-index: 9999999;" [ngClass]="!newChartBool ? 'h-0 w-0':'h-[46vh] w-[40vw]'">

    
    
    
    <ul class="rotate-180 w-full overflow-hidden duration-300" [ngClass]="labelChooseBol ? 'h-0':'h-full'">
        <div class="w-full overflow-hidden rounded-t-lg duration-300 absolute z-50" [ngClass]="labelChoosed === -1 ? 'h-0':'h-[20%]'">
            <button (click)="chooseCharts()" class="flex bg-secondary dark:bg-dark-secundary-green dark:text-primaryFontBlack  h-[50%] justify-center  w-full items-center hover:scale-105 duration-100 text-lg font-semibold text-primaryWhite rotate-180">{{'Adicionar' | translate}}</button>
        </div>
    
        <div class="div-modal rotate-180" >
            <p class="title" >{{'Escolha o valor que sera exibido no novo gráfico' | translate}}</p>
    
            <div class="box min-w-max" [ngClass]="!newChartBool ? 'invisible ':'visible'">
                <div class=" border-2 p-2 w-[15vw] flex justify-center items-center rounded-lg duration-100 cursor-pointer" *ngFor="let squad of labels, index as i" (click)="chooseLabel(squad.id)" [ngClass]="squad.style">
                    <p>{{squad.value}}</p>
                </div>
            </div>
    
        </div>
    </ul>
    
    
    <div class="rotate-180 w-[40vw] overflow-hidden duration-300" [ngClass]="!labelChooseBol ? 'h-0':'h-full'">
        <div class="w-full overflow-hidden rounded-t-lg duration-300 absolute z-50" [ngClass]="chartChoosed === -1 ? 'h-0':'h-[20%]'">
            <button (click)="createNewChart()" class="flex bg-secondary dark:bg-dark-secundary-green dark:text-primaryFontBlack  h-[50%] justify-center  w-full items-center hover:scale-105 duration-100 text-lg font-semibold text-primaryWhite rotate-180">{{'Adicionar' | translate}}</button>
        </div>
    
        <div class="div-modal rotate-180" >
            <p class="title" >{{'Escolha o novo gráfico' | translate}}</p>
    
            <div class="invisible">
                <div class="grid">
                    <div class="col-start-2 col-end-5 row-start-2"></div>
                    <div class="col-start-2 col-end-5"></div>
                    <div class="col-span-full row-span-full"></div>
                </div>
            </div>
    
            <div class="box" [ngClass]="!newChartBool ? 'invisible ':'visible'">
        <div class="squads " *ngFor="let squad of charts, index as i" (click)="chooseChart(squad.id)" [ngClass]="squad.style">
                    <p-chart [type]="charts[i].type" [data]="charts[i].data" [options]="charts[i].options" width="100%" height="100%" ></p-chart>
                </div>
            </div>
    
        </div>
        <div class="absolute bottom-2 right-4 duration-150 cursor-pointer hover:scale-110 hover:text-primary">
            <i (click)="chooseCharts()" class="pi pi-arrow-right"></i>
        </div>
    </div>
</div>

