<div
  class="w-full xl:h-[10vh] rounded-lg grid grid-cols-4 grid-rows-2 xl:px-3 my-4 shadow-lg bg-secondaryWhite dark:bg-dark-secundary-gray dark:shadow-dark-primary-black"
  style="grid-template-columns: 10% 30% 20% 20% 20%"
>
  <div class="w-full h-full row-span-full flex justify-center items-center">
    <div class="foto">
      <div
        *ngIf="verifyImage() && user"
        class="foto2"
        [ngStyle]="{ background: user.imageColor }"
      >
        {{ user.name.charAt(0).toUpperCase() }}
      </div>
      <img
        class="fotoImagem"
        *ngIf="!verifyImage()"
        src="{{ user.image.data }}"
        alt=""
      />
    </div>
  </div>

  <p
    class="xl:text-2xl font-semibold text-primary flex items-end dark:text-dark-primary"
  >
    {{ user.name }}
  </p>
  <p class="row-start-2 text-sm xl:max-w-[25rem] max-w-[10rem] truncate text-fontGray dark:text-gray-300">{{ user.email }}</p>

  <p
    class="row-span-full text-sm xl:text-lg text-fontGray flex justify-center items-center dark:text-gray-300"
  >
    {{user.currentRole}}
  </p>


  <div
    class="flex row-span-full items-center justify-center"
    *ngIf="user.id != getProjectCreator(project).id && hasPermission"
    (click)="selectPermissions = !selectPermissions"
  >
    <button
      class="h-[2rem] w-[80%] text-sm bg-primary dark:bg-dark-primary text-secondaryWhite dark:text-primaryFontBlack rounded-full duration-200 hover:scale-105"
    >
      {{ "Alterar permições" | translate }}
    </button>
    <app-select-custom
    *ngIf="
        selectPermissions
    "
    [listOptions]="options"
    [listIcons]="IconsOptionsSelect"
    [projeto]="project"
    (newItem)="choosenRole($event, userProject)"
    class="absolute mt-44"
  ></app-select-custom>
  </div>
  <div
    class="flex row-span-full items-center justify-center"
    *ngIf="user.id != getProjectCreator(project).id && hasPermission"
  >
    <button
      class="h-[2rem] w-[80%]  text-sm bg-red-600 rounded-full text-secondaryWhite duration-200 hover:scale-105"
      (click)="removeMember()"
    >
      {{ "Remover membro" | translate }}
    </button>
  </div>
</div>
