<div class="main w-full ">
    <div class="flex w-full ">
      <div>
        <button (click)="alterarSemana(-1)" class="pi pi-chevron-left text-[#aaa]"></button>
      </div>
      <div class="calendario-title-year-month">
        {{ semanaAtual[0] | date: "MMM yyyy" }}
      </div>
      <div>
        <button (click)="alterarSemana(+1)" class="pi pi-chevron-right text-[#aaa]"></button>
      </div>
    </div>
    <div >
      <div >
        <div class="days-row flex flex-col gap-4 items-center ">
          <ng-container *ngFor="let dia of diasSemana; let i = index" >
            <div class="flex w-full bg-white gap-2">
              <div class=" max-w-[160px] w-full bg-secondary rounded-lg flex flex-col items-center p-1" [ngClass]="{'todayText': isToday(dia)}">
                <p class="text-p">{{ dia | date: "EEEE" }}</p>
                <p class="text-p text-gray-50">{{ dia | date: "dd" }}/{{dia | date: "mm"}}</p>
              </div>
              <div class="flex w-full items-center gap-2 bg-white overflow-x-scroll scroll-container  "(mousedown)="startDrag($event)" >
              <div *ngFor="let task of taskList" class="scroll-content" #scrollContent>
                <div *ngIf="isSameDay(dia, task.finalDate)" class="p-1 rounded-lg w-36 text-center" [ngStyle]="{
                      'background-color': task.currentStatus.backgroundColor,
                      color: task.currentStatus.textColor
                    }">
                  {{ task.name }}
                </div>
              </div>
            </div>
            </div>
          
            
          </ng-container>
        </div>
  
        <div class="grid-calendar">
          <div *ngFor="let dia of diasSemana" class="day-box">
          
            
          </div>
        </div>
      </div>
    </div>
  </div>