<div class="main">
    <div class="date">
        <!-- <p class="date-text">data final : 00/00</p> -->
        <!-- <p class="date-text">data final : {{dataFinal | date: "dd" + "/" + "MM"}}</p> -->
        <p class="date-text">data final : {{dataFinal}}</p>
        <p class="status-text">doing</p>
    </div>
    <div class="name">
        <!-- <p class="name-text">Titulo da tarefa</p> -->
        <p class="name-text whitespace-nowrap max-h-full ">{{titulo}}</p>
    </div>
    <div class="star">
        <!-- <i class="pi pi-star-fill"></i> -->
        <img *ngIf="!favoritado" src="../../../assets/estrelaNaoMarcada.svg" alt="" (click)="favoritado=true" >
        <img *ngIf="favoritado" src="../../../assets/estrelaMarcada.svg" alt="" (click)="favoritado=false">
    </div>
</div>