<div class="w-full h-full flex px-44 py-10  flex-col gap-16 dark:bg-dark-theme-back">
   

    <div class="w-full h-64 border-slate-300 dark:border-gray-500 border rounded-xl flex items-center p-14  justify-between">
      

        <div class="flex items-center gap-4">
            <div
            [ngStyle]="{
              'background-image':
                user?.image?.data != null
                  ? 'url(' + user.image.data + ')'
                  : user?.imageColor,
              'background-size': 'cover',   
              'background-color': user?.imageColor
            }"
            class="w-32 h-32 rounded-full overflow-clip"
          >
        

          <label class=" input-image rounded-xl p-2 bg-white dark:bg-back-grey w-12 h-12 absolute cursor-pointer" *ngIf="!disabledInfo"
          >
            <div class="flex items-center justify-center w-full h-full">
                <i class="pi pi-camera cursor-pointer"></i>
            </div>
            <input
                class="invisible w-full  cursor-pointer h-full absolute top-0 left-0"
                type="file"
                [disabled]="disabledInfo"
                (change)="setImage($event)"

            />
        </label>
         
            
          </div>
            <div class=" flex flex-col gap-1">
                <input
                type="email"
                name=""
                id=""
                [placeholder]="user?.name"
                [disabled]="disabledInfo"
                [(ngModel)]="name"
                class="py-1 px-3 rounded-md font-titulo text-4xl font-bold disabled:placeholder:text-primaryFontBlack text-primaryFontBlack dark:disabled:placeholder:text-white disabled:bg-transparent bg-slate-100 dark:disabled:bg-transparent dark:bg-dark-secundary-gray  "
              />                <input
            type="email"
            name=""
            id=""
            [placeholder]="user?.email"
            [disabled]="disabledInfo"
            [(ngModel)]="email"
            class="py-1 px-3 rounded-md font-hind-madurai text-xl text-gray-400 disabled:bg-transparent bg-slate-100 dark:disabled:bg-transparent dark:bg-dark-secundary-gray  "
          />
            </div>
        </div>
        <div class="flex flex-col gap-3">
            <button (click)="openConfig()" *ngIf="logged" class="p-1.5 px-6 w-full bg-secondary dark:bg-dark-secondary rounded-md text-white text-xl font-hind-madurai  flex items-center gap-2 justify-center">
                {{config_cancel}} 
                <i class="pi  pi-cog "style="font-size: 1.2rem" *ngIf="disabledInfo" ></i>
            </button>
    
            <button (click)="goToChat()"*ngIf="!logged" class="p-1.5 px-6 w-full bg-secondary  dark:bg-dark-secondary rounded-md text-white text-xl font-hind-madurai  flex items-center gap-2 justify-center">
                iniciar chat 
                <i class="pi  pi-cog "style="font-size: 1.2rem"  ></i>
            </button> 
            <button (click)="editInfo()" *ngIf="logged" class="p-1.5 px-6 w-full bg-primary dark:bg-dark-primary rounded-md text-white text-xl font-hind-madurai flex items-center gap-2">
                {{edit_confirm}}
                <i class="pi pi-user-edit
                "style="font-size: 1.2rem" *ngIf="disabledInfo" ></i>
            </button>
            <button  (click)="sendEmail()" *ngIf="!logged" class="p-1.5 px-6 w-full bg-primary bg-dark-primary rounded-md text-white text-xl font-hind-madurai flex items-center gap-2">
                mandar email
                <i class="pi pi-user-edit
                "style="font-size: 1.2rem" ></i>
            </button>
        </div>
    </div>
    <div class="flex w-full justify-between">
        <div class="title flex flex-col h-full  gap-5 w-1/4">
            <p class="dark:text-dark-primary">Membros de suas Equipes: </p>

                <div *ngFor="let user1 of teamUsers"  >

                    <app-user-card-perfil [user]="user1" (click)="goToUser(user1)" ></app-user-card-perfil>
                </div>
        </div>
        <div class="flex flex-col gap-2 w-2/3 ">
            <div class="flex w-full gap-10 border-b-2 dark:border-gray-500">
                <div *ngFor="let team of user?.teams">
                    <p class="font-hind-madurai text-xl text-fontGray dark:text-gray-300 cursor-pointer" (click)="changeTeam(team)">{{team.name}}</p>
                    
                </div>
                
               
            </div>

                <app-projects-info-perfil [team]="teamShowing" [user]="user"></app-projects-info-perfil>


           
        </div>
    </div>
    <app-modal-config *ngIf="config" (close)="closeConfig()"></app-modal-config>
</div>