.message-container{
    @apply flex flex-col w-full ;
}

.sender-img-box{
    @apply  flex items-center pb-2 w-full ;
}

.sender-img-container{
    @apply xl:w-16 w-8 h-8 xl:h-16 rounded-full ;
}

.sender-img{
    @apply w-full h-full rounded-full ;
}

.message{
    @apply w-full px-8 p-1 xl:px-16 flex ;
}

.message-body{
    @apply bg-primaryWhite dark:bg-dark-secundary-gray relative min-w-[10%] w-min p-4 max-w-[40rem] min-h-[10%] rounded-[0.625rem] self-end ;
}

.sender-image-pointer{
    @apply z-[1] top-[-15px] absolute  ;
}

.sender-image-pointer {
    width: 35px;
    height: 40px;
    clip-path: polygon(54% 0, 100% 89%, 100% 100%, 0% 100%);
    @apply bg-[#F4F4F4] dark:bg-[#414651];
 }

 .message-content{
    @apply  break-words w-max max-w-full h-max ;
 }