<div class="div-pai-projeto">
    <div class="imagem-capa"> <div class="div-foto-centraliza"><div class="foto"></div> </div> <div class="lapis-edit"></div> </div>
    <div class="nome-projeto"><h1>Projeto WEG</h1></div>
    <div class="descricao">
        <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore. Lrem Ipsum is simply dummy text of the printing and typesetting industry. Lore</div>
    </div>
    <div class="responsaveis"></div>
    <div class="data-final"></div>
</div>
