<div id="projeto" >
    <div class="projeto-visualizacao">

        <div [ngClass]="isVisible ? 'rounded-s-xl' : 'rounded-xl'" class="projeto">
            <div class="imagem-capa"> <div class="div-foto-centraliza"><div class="foto"><div class="lapis-edit" [ngClass]="isVisible ? 'w-[25%] h-[25%]':'w-0'" ><i class="pi pi-pencil text-primary" [ngClass]="isVisible ? 'visible':'invisible'"></i></div></div> </div></div>
            <div class="nome-projeto"><input  maxlength="19" [disabled]="isVisible ? 'false':'true'"  [ngClass]="isVisible ? 'border-2':'border-none'" type="text" [(ngModel)]="nomeProjeto"></div>
            <div class="descricao">
                <div class="desc" ><textarea [disabled]="isVisible ? 'false':'true'" class="descricao-valor" [(ngModel)]="descricao" maxlength="200" cols="10" rows="5"></textarea></div>
            </div>
            <div class="responsaveis">
                <div class="responsaveis-escrita">Responsaveis: </div>
                <div class="bolas">
                    <div class="bola"></div>
                    <div class="bola"></div>
                </div>
            </div>
            <div class="linha">
                <div class="linha-verde"></div>
            </div>
            <div class="data-final">Data final: 00/00</div>
        </div>
    
        <div   [ngClass]="isVisible && md ? 'h-[55vh] w-[100%]' : 'h-0'" [ngClass]="isVisible && !md ? 'w-[29rem] h-[55vh]' : 'w-0'" class="infos">
            <div [ngClass]="isVisible ? 'opacity-100' : 'opacity-0'" class="infos-projeto">
                <div class="cabecalho">
                    <h1 class="Nome">Nome</h1>
                    <h1 class="Progresso">Progresso</h1>
                    <h1 class="Status">Status</h1>
                    <h1 class="Prazo">Prazo</h1>
                </div>
    
                <div *ngFor="let t of tarefas" [ngClass]="isVisible ? 'opacity-100' : 'opacity-0'" class="valores">
                    <p class="Nome">{{t.nome}}</p>
                    <h1 class="Progresso"><div class="valor-progresso"  [style.width.%]="t.progresso" ></div></h1>
                    <h1 class="Status">{{t.status}}</h1>
                    <h1 class="Prazo">{{t.prazo}}</h1>
                </div>
            </div>
            <div *ngIf="isVisible" class="integrantes">
                <div class="seta"><</div>
                <div  class="pessoas">
                    <div *ngFor="let p of integrantes;"  class="infos-pessoas">
                        <div class="foto" [style.backgroundColor]="p.cor">{{p.nome.charAt(0).toUpperCase()}}</div>
                        <p class="nome">{{p.nome}}</p>
                        <p class="tipo">{{p.tipo}}</p>
                    </div>
                </div>
                <div class="seta">></div>
            </div>
            <div *ngIf="isVisible" class="botoes">
                <button class="botao-cancelar"><i class="pi pi-trash"></i> Deletar</button>
                <button class="botao-ir-para-projeto">Ir para projeto <i class="pi pi-angle-double-right"></i> </button>
            </div>
        </div>
    
    </div>
</div>
