.projeto-visualizacao{
    @apply drop-shadow-xl flex flex-col lg:flex-row;

    .projeto{
        @apply w-[100%] xl:w-[30rem] h-[55vh] xl:h-[55vh] grid grid-cols-3 duration-500 gap-3 bg-secondaryWhite;
        grid-template-rows: 24% 15% 30% 10% 1.5% 5%;
    
        
    
        .imagem-capa{
            @apply col-start-2 flex pt-5;
        
            .div-foto-centraliza{
                
                @apply w-full h-full flex justify-center items-center;
        
                .foto{
                    @apply h-[7rem] w-[7rem] rounded-full relative bg-yellow-500;
    
                    .lapis-edit{
                        @apply absolute bg-primaryGray flex justify-center items-center rounded-full bottom-2 right-1 duration-200 animate-bounce
                    }
                }
            }
        
            
        }
        
        .nome-projeto{
            @apply col-span-full flex items-center justify-center row-start-2 text-center text-3xl;
        
            input{
                @apply p-2 w-auto rounded-lg font-titulo text-center items-center bg-transparent outline-none resize-none text-clip
            }
        }
        
        .descricao{
            @apply col-span-3 row-start-3 flex items-center justify-center overflow-auto;
        
            .desc{
                @apply p-[2%] border-2 rounded-lg w-[70%] bg-primaryGray text-primaryFontBlack text-justify;
    
                .descricao-valor{
                    @apply h-full w-full bg-transparent border-none resize-none outline-none
                }
            }
        }
        
        .responsaveis{
            @apply row-start-4 col-span-3 grid grid-cols-3 items-end;
        
            .responsaveis-escrita{
                @apply text-gray-500 flex justify-end;
            }
        
            .bolas{
                @apply col-start-3 flex
            }
        
            .bola{
                @apply w-[2.5rem] h-[2.5rem] rounded-full bg-secondary ;
            }
        }
        
        .linha{
            @apply row-start-5 col-span-full grid grid-cols-3 bg-gray-200;
        
            .linha-verde{
                @apply w-[30%] duration-700 col-span-full bg-secondary rounded-lg;
            }
        }
        
        .data-final{
            @apply row-start-6 col-span-full flex px-2 text-lg text-primary items-start
        }
    }
    
    
    .infos{
        @apply duration-200  bg-gray-200 overflow-hidden grid gap-6  rounded-r-xl;
        grid-template-rows: 3% 40% 30% 10%;
        grid-template-columns: 0% 90% 0%;
    
        .infos-projeto{
            @apply  row-start-2 col-start-2 col-end-3 bg-secondaryWhite rounded-xl w-full overflow-auto;
    
            .cabecalho{
                @apply duration-700 grid grid-cols-4 rounded-xl text-lg md:text-xl text-gray-500 bg-secondaryWhite;
    
                .Nome{
                    @apply col-start-1 flex justify-center
                }
    
                .Progresso{
                    @apply col-start-2 flex justify-center
                }
    
                .Status{
                    @apply col-start-3 flex justify-center
                }
    
                .Prazo{
                    @apply col-start-4 flex justify-center
                }
            }
    
    
            .valores{
                @apply duration-700  grid grid-cols-4 items-center text-sm  font-semibold pt-[2%] overflow-auto;
    
                .Nome{
                    @apply col-start-1 flex justify-center text-center px-[1%] text-primary font-bold
                }
    
                .Progresso{
                    @apply col-start-2 mx-[10%] grid items-center h-4 rounded-xl bg-gray-200 overflow-hidden;
    
                    .valor-progresso{
                        @apply bg-primary duration-700 h-full
                    }
                }
    
                .Status{
                    @apply col-start-3 flex max-h-10 justify-center items-center rounded-2xl mx-3 bg-yellow-400
                }
    
                .Prazo{
                    @apply col-start-4 flex justify-center text-lg text-primary font-semibold
                }
            }
        }
    
        .integrantes{
            @apply row-start-3 col-start-2 col-end-2 bg-secondaryWhite w-full flex rounded-xl;
    
            .seta{
                @apply h-full flex items-center justify-center w-[25%] text-2xl font-bold
            }
    
            .pessoas{
                @apply col-start-2 col-end-3 h-full flex gap-2 md:gap-5 overflow-auto;
    
                
                .infos-pessoas{
                    @apply flex flex-col justify-center items-center;
    
                    .foto{
                        @apply h-14 w-14 md:w-20 md:h-20 rounded-full flex justify-center items-center text-4xl font-semibold
                    }
    
                    .nome, .tipo{
                        @apply  text-gray-700
                    }
    
                    .tipo{
                        @apply text-sm
                    }
                }
            }
            
        }
    
        .botoes{
            @apply flex justify-between  w-full col-start-2 col-end-3  row-start-4;
        }
    
        
    }

    .botao-cancelar{
        @apply w-auto px-4 h-10 bg-red-600 rounded-lg font-bold text-sm text-white
    }

    .botao-ir-para-projeto{
        @apply w-auto px-4 h-10 bg-secondary rounded-lg font-bold text-sm flex gap-1 items-center text-white
    }
}
