<div>
    <div class="drop-shadow-2xl flex  flex-col md:flex-row">

        <div [ngClass]="revela ? 'rounded-s-xl' : 'rounded-xl'" class="projeto" (click)="revelaInfos()">
            <div class="imagem-capa"> <div class="div-foto-centraliza"><div class="foto"></div> </div> <div class="lapis-edit"></div> </div>
            <div class="nome-projeto"><h1>Projeto WEG</h1></div>
            <div class="descricao">
                <div class="desc">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore. Lrem Ipsum is simply dummy text of the printing and typesetting industry. Lore</div>
            </div>
            <div class="responsaveis">
                <div class="responsaveis-escrita">Responsaveis: </div>
                <div class="bolas">
                    <div class="bola"></div>
                    <div class="bola"></div>
                </div>
            </div>
            <div class="linha">
                <div class="linha-verde"></div>
            </div>
            <div class="data-final">Data final: 00/00</div>
        </div>
    
        <div [ngClass]="revela ? 'w-[100%] md:w-[30rem]' : 'w-0'" class="infos">
            <div [ngClass]="revela ? 'opacity-100' : 'opacity-0'" class="infos-projeto">
                <div class="cabecalho">
                    <h1 class="Nome">Nome</h1>
                    <h1 class="Progresso">Progresso</h1>
                    <h1 class="Status">Status</h1>
                    <h1 class="Prazo">Prazo</h1>
                </div>
    
                <div [ngClass]="revela ? 'opacity-100' : 'opacity-0'" class="valores">
                    <p class="Nome">Nome tarefa</p>
                    <h1 class="Progresso"><div class="valor-progresso"></div></h1>
                    <h1 class="Status">Doing</h1>
                    <h1 class="Prazo">00/00</h1>
                </div>
            </div>
            <div class="integrantes"></div>
            <p-button  label="Ir para o projeto" icon="pi pi-angle-double-right" iconPos="right"></p-button>
        </div>
    
    </div>
</div>
