<div class="main">
    <div class="final-date">
        <p class="final-date-text">{{'data final:' | translate}} 00/00</p>
    </div>
    <div class="name">
        <p class="name-text">{{'Titulo da Tarefa' | translate}}</p>
    </div>
    <div class="attribuition">
        <div class="class-attribuition">
            <p class="class-attribuition-text">{{'to-do' | translate}}</p>
        </div>
        <div class="star">
            <i class="pi icon pi-star-fill"></i>
        </div>
    </div>
</div>