<div class="contact w-full h-[15%] bg-[#f5f5f5] border-b-2 flex items-center">

    <div class="image-container flex justify-center pl-4">
        <img src="https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcT9kry1myZTi2dMJ7OtgJjmdT__lImpI-pJ9mdq42Cz8HhIet_ro_Obp6q4xbksBbpT"
            alt="" class="w-16 rounded-[100%]">
    </div>

    <div class=" flex flex-col justify-center items-start w-[70%]   h-full pl-8">
        <div class="w-full">
            <p class="w-full truncate font-bold">
                Roberto Carlos
            </p>
        </div>
        <div class="">
            <p class="w-full truncate text-[80%]">
                Ultima mensagem de Roberto Carlos Foi essa daqui
            </p>
        </div>
    </div>

    <div class="flex flex-col justify-start items-center h-full  ">

        <div class="flex items-center  w-full h-1/2">
            <p>
                24/11
            </p>
        </div>
        <div class="">
            <div class="rounded-full w-4 h-4 bg-secondary"></div>
        </div>

    </div>
</div>