<div class="w-[310px] h-[124px] bg-white p-4  rounded-lg flex flex-col gap-2">
  <div class="flex gap-4 items-center">
    <div class="w-14 h-14 overflow-clip rounded-full" [ngStyle]="{'background-color': project.imageColor}"></div>
    <div class="text">
      {{ project.name }}
    </div>
  </div>
  <div class="flex justify-between">
    <p class="date-text">
      data final: {{ project.finalDate | date : "dd" + "/" + "MM" }}
    </p>
    <div class="star">
        <img
          *ngIf="!project.favorited"
          src="../../../assets/estrelaNaoMarcada.svg"
          alt=""
          style="width: 21px"          

          (click)="favorite()"
        />
        <img
          *ngIf="project.favorited"
          src="../../../assets/estrelaMarcada.svg"
          alt=""
          style="width: 21px"          
          (click)="favorite()"
         
        />
      </div>
  </div>
</div>
