<div class="component" #project>

    <div class="project" [ngClass]="projectOpen ? 'rounded-s-xl' : 'rounded-xl'" >
        <div class="project-image"><div></div><span><i class="pi pi-pencil"></i></span></div>
        <div class="project-name"><input type="text" value="Nome Projeto"></div>
        <div class="project-desc"><textarea name="" id="" cols="30" rows="10"></textarea></div>
        <div class="project-response"><p>Responsaveis:</p></div>
        <div class="project-users-response"><div></div><div></div></div>
        <div class="project-progress"><div></div></div>
        <div class="project-final-date"><p>data final: 00/00</p></div>
    </div>
    <div class="project-open" [ngClass]="!projectOpen ? 'w-0':'w-[25vw] px-[2%] rounded-r-xl'" (click)="openAgain()">
        <div class="project-open-infos">
            <div class="tittle-infos">
                <p>Nome</p>
                <p>Progresso</p>
                <p>Status</p>
                <p>Prazo</p>
            </div>
            
            <div class="value-infos" *ngFor="let t of tarefas">
                <p class="Nome">{{t.nome}}dawdawd</p>
                <div class="Progresso">
                    <div class="valor-progresso"  [style.width.%]="t.progresso" ></div>
                </div>
                <p class="Status">{{t.status}}</p>
                <p class="Prazo">{{t.prazo}}</p>
            </div>
        </div>
        <div class="project-open-users">
            <span><</span>
            <div class="users">
                
            </div>
            <span>></span>
        </div>
    </div>
</div>

