.component{
    @apply flex mb-14 drop-shadow-2xl dark:shadow-secondaryWhite;;

    .project{
        @apply grid grid-rows-6 grid-cols-3 w-[26vw] h-[56vh] bg-secondaryWhite dark:bg-dark-primary-black duration-300;
        grid-template-rows: 30% 15% 25% 10% 9% 1% 10%;
        grid-template-columns: 28% 44% 28%;

        .project-image{
            @apply col-start-2 p-2 w-full h-full justify-center items-center relative grid grid-cols-3 grid-rows-2 justify-items-center;
            grid-template-columns: 40% 40% 20%;
            grid-template-rows: 50% 50%;

            .image{
                @apply w-[7vw] h-[7vw] rounded-full bg-yellow-400 col-span-full row-span-full overflow-hidden;

                img{
                    @apply h-full w-full object-cover;
                }
            }

            label{
                @apply w-[2vw] h-[2vw] col-start-2 row-start-2 rounded-full bg-[#E9EDF1] dark:bg-dark-secundary-gray flex justify-center items-center;

                i{
                    @apply text-xl text-primary dark:text-dark-primary
                }
            }
        }

        .project-name{
            @apply row-start-2 col-start-2 col-end-3 flex items-center ;

            input{
                @apply w-full px-2 h-[6vh] rounded-lg text-clip text-2xl bg-transparent text-center outline-gray-300 dark:text-secondaryWhite; 
            }
        }

        .project-desc{
            @apply col-span-full px-[10%] row-start-3 row-end-4 flex justify-center items-center;

            textarea{
                @apply h-full resize-none w-full bg-gray-100 rounded-lg outline-none shadow-inner p-4 px-5 truncate dark:bg-dark-primary-gray dark:text-secondaryWhite;
            }
        }

        .project-response{
            @apply row-start-7 px-[10%] col-start-3 w-full h-full flex items-center;
            p{
                @apply text-fontGray dark:text-secondaryWhite
            }
        }

        .project-user-response{
            @apply row-start-7 col-start-3 col-end-3 w-full h-full flex items-center gap-3;

            div{
                @apply w-[2vw] h-[2vw] rounded-full flex justify-center items-center select-none
            }

            p{
                @apply text-fontGray;
            }
        }

        .project-progress{
            @apply row-start-6 row-end-7 col-span-full w-full h-full bg-gray-200;

            div{
                @apply w-[40%] bg-secondary h-full rounded-r-lg
            }
        }

        .project-final-date{
            @apply row-start-7 h-full w-full flex items-center px-[10%] col-span-full;

            p{
                @apply text-primary text-xl dark:text-dark-primary;
            }
        }
    }
    
    .project-open{
        @apply flex flex-col gap-[10%] py-[3%] h-[56vh] bg-gray-200 duration-300 overflow-hidden dark:bg-dark-primary-gray;

        .project-open-infos{
            @apply h-[70%] w-full bg-secondaryWhite dark:bg-dark-primary-black rounded-lg overflow-y-hidden relative;

            .tittle-infos{
                @apply grid grid-cols-4 grid-rows-1 justify-items-center mb-2 px-2 z-50 bg-secondaryWhite dark:bg-dark-primary-black rounded-lg min-w-max;

                p{
                    @apply text-fontGray text-lg font-medium
                }
            }

            .value-infos{
                @apply h-[20vh] overflow-y-auto;

                .values{
                    @apply grid grid-cols-4 grid-rows-1 px-2 justify-items-center items-center mb-3 min-w-min;

                    .Nome{
                        @apply truncate w-full text-center text-sm text-primary
                    }
    
                    .Progresso{
                        @apply w-[90%] h-1/2 bg-gray-200 dark:bg-dark-secundary-gray rounded-full overflow-hidden;
        
                        .valor-progresso{
                            @apply bg-primary dark:bg-dark-primary duration-700 h-full
                        }
                    }
    
                    .Status{
                        @apply p-1 rounded-2xl px-2 text-sm z-50 max-w-full truncate
                    }
    
                    .Prazo{
                        @apply text-primary
                    }
    
                    p{
                        @apply font-semibold
                    }
                }
            }
        }

        .project-open-users{
            @apply h-[40%] w-full bg-secondaryWhite dark:bg-dark-primary-black rounded-lg grid grid-cols-3 justify-items-center items-center;
            grid-template-columns: 10% 80% 10%;

            span{
                @apply text-2xl font-semibold cursor-pointer hover:scale-110 duration-100 dark:text-secondaryWhite
            }

            .users{
                @apply flex gap-2 w-full overflow-x-auto;

                .users-spam{
                    @apply flex flex-col items-center gap-1;

                    div{
                        @apply w-[4.2vw] h-[4.2vw] rounded-full flex items-center justify-center font-bold text-4xl 
                    }

                    p{
                        @apply text-sm truncate max-w-[5vw] dark:text-secondaryWhite
                    }
                }
            }
        }

        .botoes{
            @apply flex justify-between min-w-max;

            button{
                @apply duration-200;
            }

            .botao-cancelar{
                @apply w-auto px-2 h-10 bg-red-600 dark:bg-red-400 rounded-lg font-bold text-sm text-primaryWhite dark:text-gray-900 duration-200 hover:scale-105
            }
        
            .botao-salvar-projeto{
                @apply w-auto px-3 h-10 bg-secondary dark:bg-dark-primary rounded-lg font-bold text-sm text-primaryWhite dark:text-gray-900 duration-200 hover:scale-105;
        
                i{
                    @apply px-1
                }
            }

            .botao-editar-projeto{
                @apply w-auto px-3 h-10 bg-primary dark:bg-dark-primary rounded-lg font-bold text-sm text-primaryWhite dark:text-gray-900 duration-200 hover:scale-105;
        
                i{
                    @apply px-1
                }
            }
        
            .botao-ir-para-projeto{
                @apply w-auto px-4 h-10 bg-secondary dark:bg-dark-secondary rounded-lg font-bold text-sm flex gap-1 items-center duration-200 text-primaryWhite dark:text-dark-primary-black
            }
                .botao-ir-para-tarefa{
                @apply w-auto px-4 h-10 bg-secondary dark:bg-dark-secundary-green rounded-lg font-bold text-sm flex gap-1 items-center duration-200 text-primaryWhite dark:text-dark-primary-black
            }
        }
    }
}