<div class="component" #project>

    <div class="project" [ngClass]="projectOpen ? 'rounded-t-xl xl:rounded-tr-none xl:rounded-l-xl' : 'rounded-xl'" >
        <div class="project-image">
            <div class="image" *ngIf="projeto">
                <div *ngIf="preImage === '' && projeto.image === null" [ngStyle]="{'background-color': projeto.imageColor}" class="w-full h-full"></div>
                <img *ngIf="(preImage !== '')" [src]="preImage" alt="">
                <img *ngIf="(preImage === '') && (projeto.image != null)" [src]="projeto.image?.data" alt="">
            </div>
            <label [ngClass]="!projeto.editOn ? 'invisible':'visible'" class=" border-primary dark:border-secondary bottom-3 right-10 rounded-full p-2 bg-white dark:bg-back-grey w-12 h-12 absolute cursor-pointer">
                <div class="flex items-center justify-center w-full h-full">
                    <i class="pi pi-camera cursor-pointer"></i>
                </div>
                <input
                    [disabled]="!projeto.editOn"
                    class="invisible w-full  cursor-pointer h-full absolute top-0 left-0"
                    (change)="setImageProject($event)"
                    type="file"
                />
            </label>
        </div>
        <div class="project-name"><input [disabled]="!projeto.editOn" maxlength="35" type="text" [(ngModel)]="projeto.name"></div>
        <div class="project-desc"><textarea class="text-justify" maxlength="110" cols="30" rows="10" [disabled]="!projeto.editOn" [(ngModel)]="projeto.description"></textarea></div>
        <div class="project-user-response">
            <p>{{'Criador:' | translate}}</p>
            <div *ngIf="verifyImg(getProjectCreator(projeto)) && getProjectCreator(projeto)" [ngStyle]="{'background': getProjectCreator(projeto).imageColor }" >{{getProjectCreator(projeto).name.charAt(0).toUpperCase()}}</div>
            <div class="overflow-hidden object-center" *ngIf="!verifyImg(getProjectCreator(projeto))">
                <img *ngIf="!verifyImg(getProjectCreator(projeto))" src="{{getProjectCreator(projeto).image.data}}" alt="">
            </div>
        </div>
        <div class="project-progress"><div></div></div>
        <div class="project-final-date"><p>{{'data final:' | translate}} 
            <input #data [disabled]="!projeto.editOn" type="date" [(ngModel)]="projeto.finalDate" class="bg-transparent">
        </p></div>
        <div class="absolute top-4 left-4" (click)="openAgain()">
            <img
            *ngIf="!projeto.favorited"
            src="../../../assets/estrelaNaoMarcada.svg"
            alt=""
            style="width: 30px ; height: 30px"   
            (click)="alterarTarefaFavoritado()"
            />
            <img
            *ngIf="projeto.favorited"
            src="../../../assets/estrelaMarcada.svg"
            alt=""
            style="width: 30px; height: 30px"   
            (click)="alterarTarefaFavoritado()"
            />
        </div>
    </div>
    
    <div class="project-open" [ngClass]="!projectOpen ? 'w-0':'w-[30vw] 2xl:w-[25vw] px-[2%] rounded-r-xl'" (click)="openAgain()">
        <div class="project-open-infos">
            <div class="tittle-infos">

                <p>{{'Nome' | translate}}</p>
                <p>{{'Progresso' | translate}}</p>
                <p>{{'Status' | translate}}</p>
                <p>{{'Prazo' | translate}}</p>
            </div>
            
            <div class="value-infos pb-5">
                <div [ngClass]="getTasksLength() === 0 ? 'invisible':'visible'" class="values" *ngFor="let t of projeto.tasks" (click)="openTask(t)">
                    <p class="Nome">{{t.name}}</p>
                    <div class="Progresso">
                        <div class="valor-progresso"  [style.width.%]="t.progress" ></div>
                    </div>
                    <p class="Status" [style.backgroundColor]="t.currentStatus.backgroundColor" [style.color]="t.currentStatus.textColor" >{{t.currentStatus.name}}</p>
                    <p class="Prazo">{{t.finalDate}}</p>
                </div>
                <div *ngIf="getTasksLength() === 0" class="noneTask">
                    <p>{{'Nenhuma tarefa criada' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="project-open-users">
            <div class="bg-primaryGray dark:bg-dark-secundary-gray dark:text-secondaryWhite w-full h-[30%] flex justify-center items-center rounded-t-lg">
                <input class="p-2 outline-none border-none h-full w-[90%] bg-transparent" placeholder="{{'email ou nome do usuário' | translate}}" type="text" [(ngModel)]="searchTerm" pInputText />
                <i class="pi pi-search text-primary dark:text-dark-primary"></i>
            </div>
            <div class="users">
                <span><i class="pi pi-chevron-left font-semibold text-fontGray" style="font-size: 12px;"></i></span>
                <div class="users" *ngIf="projeto">
                    <div class="users-spam" *ngFor="let p of filteredNames()">
                        <div *ngIf="verifyImg(p.user) && !p.user.image" class="user-image-chartAt" [ngStyle]="{'background': p.user.imageColor }" >{{p.user.name.charAt(0).toUpperCase()}}</div>
                        <div *ngIf="!verifyImg(p.user)" class="user-image-chartAt overflow-hidden object-center">
                            <img class="fotoImagem" class="" *ngIf="!verifyImg(p.user)" src="{{p.user.image.data}}" alt="">
                        </div>
                        <p>{{p.user.name}}</p>
                    </div>
                    <div *ngIf="filteredNames().length <= 0" class="membros">
                        <p class="text-xl font-hind-madurai text-fontGray text-center">{{'Nenhum membro encontrado' | translate}}</p>
                    </div>
                </div>
                <span><i class="pi pi-chevron-right font-semibold text-fontGray" style="font-size: 12px;"></i></span>
            </div>
        </div>

        <div class="botoes">

            <button *ngIf="!projeto.editOn && hasPermission" class="botao-cancelar" (click)="deletarProjeto(projeto.id)" >{{'Deletar Projeto' | translate}} <i class="pi pi-trash"></i></button>
            <button *ngIf="projeto.editOn" class="botao-cancelar" (click)="cancelEdit()" >{{'Cancelar Edição' | translate}} <i class="pi pi-times"></i></button>
            <button *ngIf="!projeto.editOn && hasPermission" class="botao-editar-projeto" (click)="editOn(true)">{{'Editar Projeto' | translate}} <i class="pi pi-pencil"></i> </button>
            <button *ngIf="projeto.editOn" class="botao-salvar-projeto" (click)="salvaProjeto()">{{'Salvar Edição' | translate}} <i class="pi pi-save"></i> </button>
            <button [disabled]="projeto.editOn" *ngIf=" hasPermission" [ngClass]="projeto.editOn ? 'opacity-50 cursor-not-allowed':'hover:scale-105'" class="botao-ir-para-projeto" (click)="irParaProjeto(this.projeto.id)">{{'Ir para projeto' | translate}} <i class="pi pi-angle-double-right"></i></button>

        </div>
    </div>

    <div class="project-open-sm" [ngClass]="!projectOpen ? 'h-0':'h-[46vh] lg:h-[50vw] pt-[2%] py-[1%] rounded-b-xl'" (click)="openAgain()">
    
        <div class="project-open-infos">
            <div class="tittle-infos">
                <p>{{'Nome' | translate}}</p>
                <p>{{'Progresso' | translate}}</p>
                <p>{{'Status' | translate}}</p>
                <p>{{'Prazo' | translate}}</p>
            </div>
            
            <div class="value-infos pb-5">
                <div [ngClass]="getTasksLength() === 0 ? 'invisible':'visible'" class="values" *ngFor="let t of projeto.tasks" (click)="openTask(t)">
                    <p class="Nome">{{t.name}}</p>
                    <div class="Progresso">
                        <div class="valor-progresso"  [style.width.%]="t.progress" ></div>
                    </div>
                    <p class="Status" [style.backgroundColor]="t.currentStatus.backgroundColor" [style.color]="t.currentStatus.textColor" >{{t.currentStatus.name}}</p>
                    <p class="Prazo">{{t.finalDate}}</p>
                </div>
                <div *ngIf="getTasksLength() === 0" class="h-[50%] w-full flex justify-center items-center text-sm text-fontGray whitespace-nowrap">
                    <p>{{'Nenhuma tarefa criada' | translate}}</p>
                </div>
            </div>
        </div>
        <div class="project-open-users">
            <div class="bg-primaryGray dark:bg-dark-secundary-gray dark:text-secondaryWhite w-full h-[30%] flex justify-center items-center rounded-t-lg">
                <input class="p-2 outline-none border-none h-full w-[90%] bg-transparent" placeholder="{{'email ou nome do usuário' | translate}}" type="text" [(ngModel)]="searchTerm" pInputText />
                <i class="pi pi-search text-primary dark:text-dark-primary"></i>
            </div>
            <div class="users overflow-hidden">
                <span><</span>
                <div class="users" *ngIf="projeto">
                    <div class="users-spam" *ngFor="let p of filteredNames()">
                        <div *ngIf="verifyImg(p.user) && !p.user.image" class="user-image-chartAt" [ngStyle]="{'background': p.user.imageColor }" >{{p.user.name.charAt(0).toUpperCase()}}</div>
                        <div *ngIf="!verifyImg(p.user)" class="user-image-chartAt overflow-hidden object-center">
                            <img class="fotoImagem" class="" *ngIf="!verifyImg(p.user)" src="{{p.user.image.data}}" alt="">
                        </div>
                        <p>{{p.user.name}}</p>
                    </div>
                    <div *ngIf="filteredNames().length <= 0" class="membros">
                        <p class="text-sm text-fontGray w-fit">{{'Nenhum membro encontrado' | translate}}</p>
                    </div>
                </div>
                <span>></span>
            </div>
        </div>

        <div class="botoes">

            <button *ngIf="!projeto.editOn" class="botao-cancelar" (click)="deletarProjeto(projeto.id)" >{{'Deletar Projeto' | translate}} <i class="pi pi-trash"></i></button>
            <button *ngIf="projeto.editOn" class="botao-cancelar" (click)="cancelEdit()" >{{'Cancelar Edição' | translate}} <i class="pi pi-times"></i></button>
            <button *ngIf="!projeto.editOn" class="botao-editar-projeto" (click)="editOn(true)">{{'Editar Projeto' | translate}} <i class="pi pi-pencil"></i> </button>
            <button *ngIf="projeto.editOn" class="botao-salvar-projeto" (click)="salvaProjeto()">{{'Salvar Edição' | translate}} <i class="pi pi-save"></i> </button>
            <button  class="botao-ir-para-projeto" [disabled]="projeto.editOn" [ngClass]="projeto.editOn ? 'opacity-50 cursor-not-allowed':'hover:scale-105'" (click)="irParaProjeto(projeto.id)">{{'Ir para projeto' | translate}} <i class="pi pi-angle-double-right"></i></button>

        </div>

    </div>
</div>

<!-- right-[50%] left-[50%] top-[40%] bottom-[50%]"  -->