<div class="w-[16vw] bg-white shadow-lg dark:shadow-gray-900 rounded-lg pt-2 dark:bg-dark-secundary-gray">
    <div class="status-grid ">
        <div class="create-status h-[30vh] p-2">
            <div *ngFor="let s of statusPadrao" class="w-full">
                <div class="status">
                    <p class=" rounded-md w-full" [style.background]="s.corFundo" >{{s.nome}}</p>
                    <i class="pi" [ngClass]="adicionado ? 'pi-minus-circle':'pi-plus-circle'"></i>
                </div>
            </div>
            <div *ngFor="let s of statusNovo" class="w-full">
                <div class="status">
                    <p class="bg-orange-400 rounded-md w-full">{{s.nome}}</p>
                    <i class="pi" [ngClass]="adicionado ? 'pi-minus-circle':'pi-plus-circle'"></i>
                    <i class="pi" [ngClass]="adicionado ? 'pi-minus-circle':'pi-plus-circle'"></i>
                </div>
            </div>
        </div>
        <div >
            <div *ngIf="adicionar" (click)="adicionarStatus()" class="flex border-t-2 dark:border-gray-400 justify-center gap-3 items-center h-[3rem] text-gray-500 dark:text-primaryGray cursor-pointer">
                <i class="pi" [ngClass]="adicionado ? 'pi-minus-circle':'pi-plus'"></i>
                <P>Adicionar Status</P>
            </div>
            <div *ngIf="!adicionar" class="flex flex-col border-t-2 dark:border-gray-400 justify-center gap-1 items-center h-[9rem] text-gray-500 dark:text-primaryGray cursor-pointer">
                <input type="text" [(ngModel)]="status.nome" class="bg-transparent h-full w-full p-2 outline-none" placeholder="escreva o nome">
                <div class="flex justify-between w-full border-t-2 dark:border-gray-400 p-2">
                    <input class="bg-transparent" disabled="true" placeholder="selecione a cor" [ngModel]="status.corFundo.toUpperCase()" type="text"><p-colorPicker [(ngModel)]="status.corFundo"></p-colorPicker>
                </div>
                <button (click)="criarStatus()" class="w-full h-full font-semibold text-primaryGray dark:text-gray-800 bg-secondary rounded-b-lg dark:bg-dark-secundary-green">Confirmar</button>
            </div>
        </div>
    </div>
</div>