<div class="comentario-pai">
  <div class="fundo-comentario border-t-2 border-r-2 border-l-2">
      <div class="comentarios" *ngIf="project?.comments?.length && project.comments.length > 0">
          <div class="comentario"  *ngFor="let comment of sortCommentsByTime(project.comments)">
              <div class="foto-user ">
                  <div class="foto">
                      <div *ngIf="verifyImage(comment.user) && comment.user" class="foto2" [ngStyle]="{'background': comment.user.imageColor }" >{{comment.user.name.charAt(0).toUpperCase()}}</div>
                      <img class="fotoImagem" *ngIf="!verifyImage(comment.user)" src="{{comment.user.image.data}}" alt="">        
                  </div>
              </div>
              <div class="nome">
                  <p>{{comment.user.name}}</p>
              </div>
              <div class="comentario-text">
                  <p>{{comment.value}}</p>
              </div>
              <div class="date">
                  <p>{{comment.timeDayAndMonth}} {{comment.timeHour}}</p>
              </div>
          </div>
      </div>
      <div *ngIf="project.comments?.length === 0" class="w-full h-full flex flex-col justify-center items-center">
        <p class="text-fontGray text-2xl font-semibold">Nenhum comentário no projeto</p>
        <p class="text-fontGray text-xl">Seja o primeiro a comentar 😁</p>
      </div>
    </div>
  <button [ngClass]="booleanAddComment ? 'h-0 border-0 hidden':'h-[6vh] border-2'" (click)="addCommentInput()" class="duration-200 overflow-hidden w-full z-10 rounded-b-lg bg-secondaryWhite text-primary font-semibold"><i class="pi pi-plus"></i> Adicionar comentário</button>
  <div [ngClass]="!booleanAddComment ? 'h-0 border-0 invisible':'h-min border-2 py-3 px-2 visible'" class="duration-200 box-comment-input min-h-fit  bg-secondaryWhite w-full flex overflow-hidden  justify-center items-center">
          <div class=" w-[65%] h-full flex items-center">
              <textarea
              rows="2"
              cols="20"
              maxlength="200"
              pInputTextarea
              [autoResize]="true"
              placeholder="Digite seu comentário aqui ..."
              class=" w-full border-2 border-primaryGray rounded-xl p-1"
              [(ngModel)]="comment.value"
            ></textarea>
          </div>
          <div class=" w-[30%] h-full flex flex-col items-end gap-2">
              <div 
              (click)="addCommentValue()"
              (keydown.enter)="addCommentValue()"
              class="cursor-pointer w-[80%] h-[40%] px-2 py-1 bg-primary flex justify-between gap-1 items-center rounded-lg">
                  <p class="text-primaryWhite font-semibold text-sm">salvar comentário</p>
                  <i class="pi pi-check text-primaryWhite "></i>
              </div>
              <div (click)="cancelComment()" class="cursor-pointer w-[80%] h-[40%] px-2 py-1 bg-red-500 flex justify-between items-center rounded-lg">
                  <p class="text-primaryWhite font-semibold text-sm">cancelar comentário</p>
                  <i class="pi pi-trash  text-primaryWhite"></i>
              </div>
          </div>
      </div>
</div>