<div class="main" style="background-color: #ffff">
  <div class="status-box">
    <div
      class="status"
      [ngStyle]="{ 'background-color': '#cccccc' }"
      (click)="savePriority()"
    >
      <p>nenhuma</p>
    </div>
  </div>
  <div class="status-box">
    <div
      class="status"
      [ngStyle]="{ 'background-color': '#6bbcfa' }"
      (click)="savePriority()"
    >
      <p>muito baixa</p>
    </div>
  </div>
  <div class="status-box">
    <div
      class="status"
      [ngStyle]="{ 'background-color': '#4db339' }"
      (click)="savePriority()"
    >
      <p>baixa</p>
    </div>
  </div>
  <div class="status-box">
    <div
      class="status"
      [ngStyle]="{ 'background-color': '#f5e020' }"
      (click)="savePriority()"
    >
      <p>media</p>
    </div>
  </div>
  <div class="status-box">
    <div
      class="status"
      [ngStyle]="{ 'background-color': '#f57520' }"
      (click)="savePriority()"
    >
      <p>alta</p>
    </div>
  </div>
  <div class="status-box">
    <div
      class="status"
      [ngStyle]="{ 'background-color': '#e32910' }"
      (click)="savePriority()"
    >
      <p>urgente</p>
    </div>
  </div>
</div>
