<div class="div-membros">
    <div class="foto">
        <div *ngIf="verifyImage() && user" class="foto2" [ngStyle]="{'background': user.imageColor }" >{{user.name.charAt(0).toUpperCase()}}</div>
        <img class="fotoImagem" *ngIf="!verifyImage()" src="{{user.image.data}}" alt="">
    </div>
    <div class="infos">
        <div *ngIf="user" class="nome"><p>{{user.name}}</p></div>
        <div *ngIf="user" class="email"><p>{{user.email}}</p></div>
    </div>
    <button class="adicionar" (click)="adicionar()">
        <div class="fundo-icon">
            <i class="pi" [ngClass]="adicionado ? 'pi-check-circle':'pi-plus'"></i>
        </div>
    </button>
</div>
