
  <!-- main content part -->
  <div class="card">
    <div
      class="flex flex-col gap-4 overflow-y-auto w-full max-h-full flex-1 pt-3"
    >
      <div class="comment px-3" *ngFor="let comment of comments">
        <div class="profile-picture-box">
          <div
            class="profile-picture"
            [ngStyle]="{
              'background-image':
                comment.user.image != null
                  ? 'url(' + comment.user.image.data + ')'
                  : comment.user.imageColor,
              'background-size': 'cover',
              'background-color': comment.user.imageColor
            }"
            class="md:w-12 md:h-12 w-8 h-8 rounded-full overflow-clip"
          ></div>
        </div>
        <div class="comment-content">
          <div class="commentor-name-box">
            <p class="commentor-name">{{ comment.user.name }}</p>
            <p class="comment-date">
              {{ comment.timeDayAndMonth }} - {{ comment.timeHour }}
            </p>
          </div>
          <div class="comment-text-box">
            <p class="comment-text">
              {{ comment.value }}
            </p>
            <i
              class="pi pi-trash p-2 hover:bg-slate-100 rounded-full cursor-pointer text-primary"
              *ngIf="verifyCommentOwner(comment)"
              (click)="deleteComment(comment)"
            ></i>
          </div>
        </div>
      </div>
    </div>

    <div
      class="box-comment-input h-min w-full flex py-3 px-2 border-x-2 justify-center gap-5 border-primaryWhite items-center"
      *ngIf="booleanAddComment"
    >
      <div class="w-[90%] flex items-center">
        <textarea
          rows="2"
          pInputTextarea
          [autoResize]="true"
          placeholder="Digite seu comentário aqui ..."
          class="w-full border-2 border-primaryGray rounded-xl p-1"
          [(ngModel)]="comment.value"
        ></textarea>
      </div>
      <div class="w-[15%] h-full flex flex-col items-end gap-2">
        <div
          (click)="addCommentValue()"
          class="cursor-pointer w-full h-[40%] px-2 py-1 bg-primary flex justify-center gap-2 items-center rounded-lg"
        >
          <p class="text-primaryWhite font-semibold text-sm hidden sm:flex">
            {{'salvar' | translate}}
          </p>
          <i class="pi pi-check text-primaryWhite"></i>
        </div>
        <div
          (click)="cancelar()"
          class="cursor-pointer w-full h-[40%] px-2 py-1 bg-red-500 flex justify-center gap-2 items-center rounded-lg"
        >
          <p class="text-primaryWhite font-semibold text-sm hidden sm:flex">
            {{'cancelar' | translate}}
          </p>
          <i class="pi pi-trash text-primaryWhite"></i>
        </div>
      </div>
    </div>
    <div
      class="box-btn-add"
      *ngIf="!booleanAddComment && !verifyApprovament()"
      (click)="addCommentInput()"
    >
      <div class="btn-add-content">
        <i class="pi pi-plus btn-add-text"></i>
        <p class="btn-add-text">{{'adicionar comentário' | translate}}</p>
      </div>
    </div>
    <div
      class="box-btn-add"
      *ngIf="!booleanAddComment && verifyApprovament()"
    >
      <div class="btn-add-content"> 
        <p class="btn-add-text-2">{{'você não pode mais adicionar comentários' | translate}}</p>
      </div>
    </div>
  </div>

  <!-- button part  -->

  <!-- input part -->
  