
<body class="w-screen h-screen relative  bg-secondaryWhite dark:bg-dark-theme-back ">
    <app-navegacao></app-navegacao>
  
    <div class="sm:pt-[15%] md:pt-[10%] pt-[20%] lg:pt-[8%] xl:pt-[4%] bacalhau ">
        <app-vlibras class=""
        ></app-vlibras>
        <app-text-to-speech>
        </app-text-to-speech>
        <router-outlet></router-outlet>

    </div>

</body>
<!--
<div class="flex flex-col max-h-[100vh] overflow-x-hidden">
    <div class="w-full h-[20vh] max-h-[8vh]">
        <app-navegacao></app-navegacao>
    </div>
    <div class="h-80 w-full max-h-[92vh]">
        <router-outlet></router-outlet>
    </div>
</div>-->


