<div class="w-full h-full flex flex-wrap gap-5 justify-center">
    <div class="cards" *ngFor="let item of cards, index as i">
        <div>
            <div class="flex justify-between px-2 items-center h-full">
                <p class="text-primary font-semibold">Data final: 00/00</p>
                <p class="p-1 px-2 rounded-lg h-fit font-hind-madurai" [style.background]="item.color">{{item.text}}</p>
            </div>
        </div>
        <div class="bg-gray-300">
            <div class="w-1/2 h-full bg-primary rounded-r-lg"></div>
        </div>
        <div class="px-2">
            <p class="font-semibold text-primary text-lg my-1">Titulo da tarefa</p>
            <div class="flex gap-2 items-center task">
                <p-checkbox [(ngModel)]="item.checked1" [binary]="true" inputId="binary"></p-checkbox>

                <p>Tarefa 1</p>
            </div>
            <div class="flex gap-2 items-center task">
                <p-checkbox [(ngModel)]="item.checked2" [binary]="true" inputId="binary"></p-checkbox>

                <p>Tarefa 2</p>
            </div>
            <div class="flex gap-2 items-center task">
                <p-checkbox [(ngModel)]="item.checked3" [binary]="true" inputId="binary"></p-checkbox>
                <p>Tarefa 3</p>
            </div>
        </div>
        <div class="flex items-center px-5 pt-2 justify-between">
            <img *ngIf="!item.favorited" src="../../../assets/estrelaNaoMarcada.svg" alt=""
                style="width: 27px ; height: 20px" (click)="alterarTarefaFavoritado(i)" />
            <img *ngIf="item.favorited" src="../../../assets/estrelaMarcada.svg" alt=""
                style="width: 27px ; height: 20px" (click)="alterarTarefaFavoritado(i)" />
            <div class="flex">
                <div class="w-[20px] h-[20px] bg-secondary rounded-full"></div>
                <div class="w-[20px] h-[20px] bg-gray-300 rounded-full -translate-x-1"></div>
            </div>
        </div>
    </div>
</div>