@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Fun:wght@400..700&display=swap');


*{
    @apply font-hind-madurai
}

.reem-kufi-fun{
    font-family: "Reem Kufi Fun", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
