<div class="gorgees">
  <app-modal-tarefa
    class="tarefa"
    *ngIf="booleanTask"
    [tarefa]="tarefaSelecionada"
    [projeto]="projeto"
    (closeModalTask)="closeTask($event)"
  ></app-modal-tarefa>
</div>


<div class="flex lg:flex-row flex-col w-full h-full lg:justify-center  xl:gap-[88px] lg:gap-[40px] md:px-16 px-8 dark:bg-dark-theme-back">
 
  <div class="lg:w-[40%] h-full flex lg:pt-9">
  
    <div class="close-deliveries">
      <p class=" text-lg font-bold md:text-2xl text-secondary font-titulo dark:text-dark-secondary ">Entregas Próximas</p>
      
      <div class="card-deliveries-box sm:h-[424px]">
        <div
          *ngFor="let tarefa of listaTarefas; index as i"
          class="w-full gap-3 flex flex-col items-center "
        >

          <app-entrega-prox
            *ngIf="i <= 3"
            class="card-deliveries"
            [tarefa]="tarefa"
            [favoritedAble]="true"
            (click)="openTask(tarefa)"
          ></app-entrega-prox>
        </div>
        <div
          *ngIf="listaTarefas.length == 0"
          class="flex flex-col items-center justify-center text-center font-bold text-primary text-xl"
        >
          <h1>Parece que você concluiu todas suas tarefas!</h1>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <p class="text-lg font-bold md:text-2xl text-secondary font-titulo dark:text-dark-secondary">Projetos Favoritados</p>
        <div></div>
        <div class="container ">
          <div *ngFor="let project of projectList; index as i">
            <app-important-project [project]="project" (click)="goTasks(project.id)" ></app-important-project>
          </div>
          </div>
      </div>
    </div>
  </div>
  <div class="w-full max-w-[845px]  flex flex-col gap-6 pt-9">
    <div class="flex flex-col gap-6 w-full sm:h-[280px]">
      <p class="text-lg font-bold md:text-2xl text-secondary font-titulo dark:text-dark-secondary">Suas Equipes:</p>
      <div class="w-full flex justify-center">
      <div class="flex w-full relative  gap-3">
       
        <button class="absolute top-1/2 -translate-y-1/2 -left-5 pi pi-chevron-left text-[#aaa]" (click)="mudarItem(indiceAtual - 1)"></button>
       
          <app-equipe-recente-card
            (click)="goProjetos()"
            [team]="loggedUser.teams[indiceAtual]"
            class="w-full max-h-[200px]"
          ></app-equipe-recente-card>
          <button class="absolute top-1/2 -translate-y-1/2 -right-5 pi pi-chevron-right text-[#aaa]" (click)="mudarItem(indiceAtual + 1)"></button>
      
      </div>
    </div>
    </div>
    <div class="flex flex-col w-full gap-6 ">
     
      <app-week-calendar class="w-full"></app-week-calendar>
    </div>
  </div>
</div>
