<div class="gorgees">
  <app-modal-tarefa
    class="tarefa"
    *ngIf="booleanTask"
    [tarefa]="tarefaSelecionada"
    [projeto]="projeto"
    (closeModalTask)="closeTask($event)"
  ></app-modal-tarefa>
</div>


<div class="flex lg:flex-row flex-col w-screen h-screen lg:justify-center  xl:gap-[88px] lg:gap-[40px] md:px-16 px-8 dark:bg-dark-theme-back">
 
  <div class="lg:w-[40%] h-full flex lg:pt-3">
  
    <div class="close-deliveries">

      <p class=" text-lg font-bold md:text-2xl text-secondary font-titulo dark:text-dark-secondary ">{{'Entregas Próximas' | translate}}:</p>
      
      <div class="card-deliveries-box sm:h-[424px]">
        <div           *ngIf="listaTarefas.length != 0"
        class="w-full h-full gap-5 flex flex-col"
        >
          <div
            *ngFor="let tarefa of listaTarefas; index as i"
            class="w-full gap-5 flex flex-col items-stretch "
          >
  
            <app-entrega-prox
              *ngIf="i <= 3"
              class="card-deliveries"
              [tarefa]="tarefa"
              [favoritedAble]="true"
              (click)="openTask(tarefa)"
            ></app-entrega-prox>
          </div>
        </div>
     
        <div
          *ngIf="listaTarefas.length == 0"
 class="text-lg  md:text-2xl text-secondary font-titulo dark:text-dark-secondary">
          
  
          <h1 class="flex flex-col items-center justify-center text-center  text-fontGray text-lg font-hind-madurai"> {{'Parece que não há tarefas atribuidas a você!' | translate}}</h1>
        </div>
      </div>
      <div class="flex flex-col gap-3">
        <p class="text-lg font-bold md:text-2xl text-secondary font-titulo dark:text-dark-secondary">{{'Projetos Favoritados' | translate}}:</p>
        <div></div>
        <div class="container " *ngIf="projectList.length!=0">
          <div *ngFor="let project of projectList; index as i">
            <app-important-project [project]="project" (click)="goTasks(project.id)" ></app-important-project>
          </div>
          </div>

      </div>
      <div
      *ngIf="projectList.length == 0"
      class="flex flex-col items-center justify-center text-center  text-fontGray text-lg font-hind-madurai"
    >
      <h1>Parece que  você não possui nenhum projeto favoritado. Favorite um de seus projetos e os encontre aqui!</h1>
    </div>
    </div>
  </div>
  <div class="w-full max-w-[845px]  flex flex-col gap-6 pt-3">
    <div class="flex flex-col gap-6 w-full sm:h-[280px]">
      <p class="text-lg font-bold md:text-2xl text-secondary font-titulo dark:text-dark-secondary">{{'Suas Equipes:' | translate}}</p>
      <div class="w-full flex justify-center">
      <div class="flex w-full relative  gap-3">
       
        <button class="absolute top-1/2 -translate-y-1/2 -left-5 pi pi-chevron-left text-[#aaa]" (click)="mudarItem(indiceAtual - 1)"></button>
       
          <app-equipe-recente-card
            (click)="goProjetos()"
            [team]="getCurrentTeam(indiceAtual)"
            class="w-full max-h-[200px]"
          ></app-equipe-recente-card>
          <button class="absolute top-1/2 -translate-y-1/2 -right-5 pi pi-chevron-right text-[#aaa]" (click)="mudarItem(indiceAtual + 1)"></button>
      
      </div>
    </div>
    </div>
    <div class="flex flex-col w-full gap-6 ">
      <app-week-calendar class="w-full"></app-week-calendar>
    </div>
  </div>
</div>
