<div class="main-box">
    <app-modal-tarefa class="tarefa" *ngIf="booleanTask" [tarefa]="tarefaSelecionada"></app-modal-tarefa>
    <div class="main">
        <div class="left-side  ">
           <div class="close-deliveries">
              
                    <p class="title-text">Entregas Próximas</p>
               
                <div class="card-deliveries-box">

                    <div *ngFor="let tarefa of listaTarefas; index as i " class="w-full gap-3 flex flex-col items-center justify-center">
                        <app-entrega-prox *ngIf="i<=3"
                        class="card-deliveries"
                         [tarefa]="tarefa" 
                         [withProgressBar]="true"
                         (click)="openTask(tarefa)"
                        ></app-entrega-prox>
                       
                    </div>
                    <div *ngIf="listaTarefas.length == 0" class="flex flex-col items-center justify-center text-center font-bold text-primary text-xl ">
                        <h1> Parece que você concluiu todas suas tarefas!</h1>
                    </div>
                </div>
                    <div class="flex flex-col gap-5">
                        <p class="title-text">Projetos Favoritados</p>
                        <div>

                        </div>
                        <div class="container">
                            <div *ngFor="let project of projectList" >
                                <app-important-project [project]="project"></app-important-project>
    
                            </div>
                        </div>
                     
                   </div>
           </div>
          
        </div>
        <div class="right-side">
        <div class="right-side-box">
            <div class="flex flex-col gap-6">
                <p class="title-text">Suas Equipes: </p>
               <!-- <app-equipe-recente-card  [projeto]="projeto"></app-equipe-recente-card> -->
            </div>
            

            <div class="calendar-box">
              <div class="calendar">
                  <div class="title-box">
                      <p class="title-text">Calendário</p>
                  </div>
                  <!-- <div class="calendar-content">
                      <app-dia-calendario></app-dia-calendario>
                      <app-dia-calendario></app-dia-calendario>
                      <app-dia-calendario></app-dia-calendario>
                      <app-dia-calendario></app-dia-calendario>
                  </div> -->
              </div>
            </div>
        </div>
        </div>
    </div>
</div>
<!-- <script src="tela-inicial.component.ts"></script> -->