.main-box{
  @apply flex items-center justify-center w-full h-full;
}

.main{
  @apply flex items-center w-[80%]  h-[80%] rounded-[1rem] overflow-clip dark:bg-dark-primary-gray ; 
}

.contacts-container{
  @apply flex flex-col bg-[#f5f5f5] dark:bg-dark-primary-gray w-[30%] h-full;
}

.contacts-nav{
  @apply w-full z-10 py-5 bg-secondary flex justify-center text-primaryWhite font-titulo dark:bg-dark-secundary-green font-bold;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.contacts-nav-text-container{
  @apply flex justify-center items-center w-1/3;
}

.contacts-list-container{
  @apply  w-full h-full bg-[#f5f5f5] dark:bg-dark-primary-gray overflow-y-scroll ;
}

.search-bar-container{
  @apply z-20 flex justify-center items-center relative w-full h-[10%] bg-[#f5f5f5] dark:bg-dark-primary-gray border-b-2 dark:border-gray-500  top-0;
}

.search-bar{
  @apply flex justify-end items-center w-[80%] h-[60%] bg-[#F0F0F0] dark:bg-dark-secundary-gray rounded-xl px-4 gap-2 border-2  border-primary dark:border-dark-primary;
}

.search-input{
  @apply w-full bg-[#F0F0F0] outline-none dark:bg-dark-secundary-gray  ;
}

.search-icon{
  @apply text-primary dark:text-dark-primary ;
}

.contacts-list{
  @apply w-full h-max ;
}


.chat{
  @apply justify-between flex-col flex bg-white flex-1 w-full relative h-full ;
}

.chat-header{
  @apply w-full min-h-[4rem] h-16 bg-primary dark:bg-dark-primary  flex items-center gap-4 px-8 ;
}

.chat-header-img-container{
  @apply  h-[3.25rem] min-w-[3.25rem] max-w-min rounded-full;
}

.chat-header-img{
  @apply  rounded-full h-full w-full ;
}

.chat-name{
  @apply font-bold text-primaryWhite  font-titulo  flex w-full truncate ;
}

.chat-config-icon{
  @apply bg-primaryWhite w-16 h-[80%] ;
}

.messages-container{
  @apply w-full h-full pt-4 overflow-scroll px-16 flex flex-col gap-4 dark:bg-dark-primary-black  ;
}

.message-box{
  @apply w-full h-max ;
}

.message-bar{
  @apply  w-full h-[10%] ;
}



/* Hide scrollbar for Chrome, Safari and Opera */
.contact-list::-webkit-scrollbar,
.messages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.contact-list::-webkit-scrollbar,
.messages::-webkit-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar{
    @apply hidden;
}