
<div class="main-box">
    <div class="main">

        <div class="contacts-container">

            <nav class="contacts-nav">
                <div class="contacts-nav-text-container">
                    <p (click)="setChatListType(chatTypeTeams)">
                        Equipes
                    </p>
                </div>
                <div class="contacts-nav-text-container">
                    <p (click)="setChatListType(chatTypeProjects)">
                        Projetos
                    </p>
                </div>
                <div class="contacts-nav-text-container">
                    <p (click)="setChatListType(chatTypeUsers)">
                        Pessoas
                    </p>
                </div>
            </nav>

            <div class="contacts-list-container">

                <div
                    class="search-bar-container">
                    <div
                        class="search-bar">
                        <input class="search-input" type="text" [(ngModel)]="search" placeholder="Pesquise aqui...">
                        <i class="search-icon pi pi-search"></i>
                    </div>
                </div>

                <div class="contacts-list"  *ngFor="let chat of chatList">
                    <app-contact [contact]="getContact(chat,loggedUser)" [chat]="chat" (click)="selectChat(chat)" *ngIf="checkSearch(chat)"></app-contact>
                </div>

                
            </div>

        </div>

        <div class="chat ">

            <div class="chat-header " *ngIf="true">

                <div class="chat-header-img-container" [ngStyle]="{'background-color': contact.imageColor}">
                    <img *ngIf="contact.image?.data" src="{{contact.image.data}}"
                        alt="" class="chat-header-img">
                </div>
                <p class="chat-name">
                    {{contact.name}}
                </p>
                <!-- <div class="chat-config-icon"></div> -->

            </div>


            <div class="messages-container" #messagesContainer>

                <div class="message-box" *ngFor="let message of selectedChat?.messages; index as index ">
                    <div *ngIf ="showDateMesssage(message)" class="w-full h-16  flex justify-center items-center">
                        <div class="w-28 h-8 flex justify-center items-center  rounded-[10px]">
                            {{message.date | date: "MMM d, y"}}
                        </div>
                    </div>
                    <app-message [loggedUser]="loggedUser" [chat]="selectedChat" [message]="message"></app-message>
                </div>

            </div>

            
            <div class="message-bar">
               <app-message-bar [loggedUser]="loggedUser" [chat]="selectedChat"></app-message-bar>
            </div>

        </div>

    </div>
    <!--<div class="h-[1900px] w-full bg-black">

    </div>-->
</div>