<div class="main-box flex items-center justify-center w-full h-full">
    <div class="main flex items-center w-[80%]  h-[80%]">
        
        <div class=" contatos-container flex flex-col bg-[#f5f5f5] w-[30%] h-full">

            <nav class="contatos-nav w-full z-10 py-5 bg-secondary flex justify-center text-primaryWhite font-bold ">
                <div class="contatos-nav-text flex justify-center items-center w-1/3">
                    <p>
                        Equipes
                    </p>
                </div>
                <div class="contatos-nav-text flex justify-center items-center w-1/3">
                    <p>
                        Projetos
                    </p>
                </div>
                <div class="contatos-nav-text flex justify-center items-center w-1/3">
                    <p>
                        Pessoas
                    </p>
                </div>
            </nav>

            <div class="contatos w-full h-full bg-pink-400">
                <div class="contato w-full h-[10%] bg-[#f5f5f5] border-b-2 ">
                    
                </div>
                <div class="contato w-full h-[10%] bg-[#f5f5f5] border-b-2 flex items-center">
                    <div class="image-container flex justify-center pl-4">
                        <img src="https://t2.gstatic.com/licensed-image?q=tbn:ANd9GcT9kry1myZTi2dMJ7OtgJjmdT__lImpI-pJ9mdq42Cz8HhIet_ro_Obp6q4xbksBbpT" alt="" class="w-12 rounded-[100%]">
                    </div>
                    <div class="w-[70%] flex justify-start items-center bg-pink-300 h-full pl-8">
                        <p>
                            Roberto Carlos
                        </p>
                    </div>
                    <div class="flex self-end justify-around bg-gray-400 items-center h-full flex-col">
                        <div class="">
                            <p>
                                24/11
                            </p>
                        </div>
                        <div class="rounded-full w-4 h-4 bg-secondary">
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="conversa bg-black w-[70%] h-full">

        </div>

    </div>
</div>