<div class="w-screen h-screen flex  justify-center lg:pt-20 pt-0">
  <div class="flex xl:w-[80%] w-[90%] flex-col gap-10 lg:gap-0 lg:flex-row lg:justify-evenly">
    <div class="flex flex-col lg:gap-12 gap-5 h-min lg:w-[48%] w-full">
      <div  joyrideStep="step2" title="Informações da Equipe" text="Preencha as informações necessárias para criar uma equipe." class="flex md:gap-10 gap-3 items-center">
        <div class="project-image">
          <div class="image border-2 dark:border-dark-secundary-gray" [ngStyle]="{'background': backGroundColorProject }">
          </div>
          
          <label  *ngIf="!disabledInfo" class="alterateColor" for="alterate color">
              <div class="flex items-center justify-center w-full h-full cursor-pointer" (click)="randomColor()">
                  <i class="pi pi-palette text-primary dark:text-dark-primary"></i>
              </div>
          </label>
        </div>
        <div>
          <input
            type="text"
            name=""
            id=""
            [placeholder]="team?.name"
            [disabled]="disabledInfo"
            [(ngModel)]="name"
            class="input-name text-primary dark:text-dark-primary"
          />
          <div class="flex md:gap-3 gap-1 flex-col md:flex-row md:items-center  px-2 w-full">
            <p class="font-titulo lg:text-sm md:text-xl xl:text-xl text-sm text-gray-500 dark:text-primaryWhite">{{'Código da equipe:' | translate}}</p>
            <div class="flex gap-1">

              <p class="font-titulo xl:text-xl md:text-lg text-xs text-secondary dark:text-dark-secundary-green font-medium">
                {{ team?.code }}
              </p>
              <i class="pi pi-clone icon text-gray-500 cursor-pointer"  *ngIf="!copied" (click)="copyInfo()"></i>
              <i class="pi pi-check icon text-secondary dark:text-dark-secundary-green cursor-pointer"  *ngIf="copied" (click)="copyInfo()"></i>

            </div>
          </div>
        </div>

      </div>

      <div class="flex flex-col gap-1">
        <p class="font-titulo xl:text-3xl md:text-xl lg:text-2xl font-bold text-primary dark:text-dark-primary">
          {{'Níveis de acesso:' | translate}}
        </p>

        <div class="flex flex-wrap gap-6">
          <div class="flex flex-col w-[45%]">
            <div class="flex items-center justify-between">
              <p class="font-hind-madurai lg:text-2xl text-lg font-medium dark:text-secondaryWhite">{{'Criador' | translate}}</p>
              <i
                class="pi pi-verified text-secondary dark:text-dark-secundary-green font-bold"
                style="font-weight: 700"
              ></i>
            </div>
            <p class="font-hind-madurai md:text-base text-sm text-gray-500 dark:text-gray-300">
              {{'editar, controle dos participantes, criar projetos, e excluir a equipe.' | translate}}
            </p>
          </div>
          <div class="flex flex-col w-[45%]">
            <div class="flex items-center justify-between">
              <p class="font-hind-madurai lg:text-2xl text-lg font-medium dark:text-secondaryWhite">
                {{'Administrador' | translate}}
              </p>
              <i
                class="pi pi-shield text-secondary dark:text-dark-secundary-green font-bold"
                style="font-weight: 700"
              ></i>
            </div>
            <p class="font-hind-madurai md:text-base text-sm text-gray-500 dark:text-gray-300">
              {{'editar, controle dos participantes, e criar projetos.' | translate}}
            </p>
          </div>
          <div class="flex flex-col w-[45%]">
            <div class="flex items-center justify-between">
              <p class="font-hind-madurai lg:text-2xl text-lg font-medium dark:text-secondaryWhite">{{'Colaborador' | translate}}</p>
              <i
                class="pi pi-wrench text-secondary dark:text-dark-secundary-green font-bold"
                style="font-weight: 700"
              ></i>
            </div>
            <p class="font-hind-madurai md:text-base text-sm text-gray-500 dark:text-gray-300">
              {{'visualizar e criar projetos.' | translate}}
            </p>
          </div>
          <div class="flex flex-col w-[45%]">
            <div class="flex items-center justify-between">
              <p class="font-hind-madurai lg:text-2xl text-lg font-medium dark:text-secondaryWhite">{{'Espectador' | translate}}</p>
              <i
                class="pi pi-eye text-secondary dark:text-dark-secundary-green font-bold"
                style="font-weight: 700"
              ></i>
            </div>
            <p class="font-hind-madurai md:text-base text-sm text-gray-500 dark:text-gray-300">
              {{'apenas visualizar.' | translate}}
            </p>
          </div>
   
        </div>
                   
      
      </div>
      <div class="flex gap-3 xl:mt-[54px] 2xl:mt-[50px]">
        <button (click)="goChat()" class="py-2 px-7 bg-primary dark:bg-dark-primary text-sm lg:text-base text-white font-bold font-titulo rounded-lg ">
          {{"Iniciar Chat"|translate }}
         </button>
         <button (click)="goProjects()" class="py-2 px-7 bg-secondary dark:bg-dark-secundary-green text-sm lg:text-base text-white font-bold font-titulo rounded-lg ">
          {{"Ir Para Projetos" | translate}}  
         </button>
      </div>
   

    </div>
    
    <div class="lg:w-[44%] w-full flex flex-col gap-6">
      <div class="flex justify-between">
        <p
          class="font-titulo xl:text-3xl md:text-xl lg:text-2xl font-bold text-primary dark:text-dark-primary"
          *ngIf="!isSearchUserModalOpen"
        >
          {{'Membros da equipe:' | translate}}
        </p>
        <div class="flex w-max justify-end relative">
          <button
            *ngIf="!isSearchUserModalOpen && !disabledInfo"
            class="bg-primary dark:bg-dark-primary rounded-full lg:p-2 lg:w-12 lg:h-12 w-8 h-8 items-center"
          >
            <i
              class="pi pi-plus text-white font-bold"
              style="font-weight: 700"
              (click)="setSearchUserModal()"
            ></i>
          </button>

          <button
            *ngIf="isSearchUserModalOpen"
            class="bg-red-500 justify-self-end rounded-full lg:p-2 lg:w-12 lg:h-12 w-8 h-8"
            (click)="setSearchUserModal()"
          >
            <i
              class="pi pi-times text-white font-bold"
              style="font-weight: 700"
              (click)="setSearchUserModal()"
            ></i>
          </button>
        </div>


        <app-search-users
          *ngIf="isSearchUserModalOpen"
          class="absolute lg:w-[26%] w-full right-2 lg:right-[200px] z-50"
          [addedUsers]="getUsersFromTeam(teamParticipants)"
          (usersToAdd)="addUsers($event)"
        ></app-search-users>
      </div>

      <div class="flex justify-between lg:px-36 px-10 border-[1px] border-x-0">
        <p class="font-titulo text-lg text-gray-500 dark:text-gray-300">{{'Usuário' | translate}}</p>
        <p class="font-titulo text-lg text-gray-500 dark:text-gray-300">{{'Atribuição' | translate}}</p>
      </div>

      <div class="member-list flex flex-col w-full overflow-scroll gap-8 lg:h-[350px] h-[200px] max-h-[350px] overflow-y-auto">
        <div
          class="member flex items-center w-full  justify-between   "
          *ngFor="let userTeam of teamParticipants; index as indice"
        >
          <div class="flex w-1/2 gap-6 justify-start items-center">
            <div
              class="xl:min-h-[64px] min-h-[50px] aspect-square rounded-full"
              [ngStyle]="{ 'background-color': userTeam?.user?.imageColor }"
            >
              <img
                *ngIf="userTeam?.user?.image?.data"
                src="{{ userTeam?.user?.image?.data }}"
                alt=""
                class="xl:h-16 lg:h-14 h-12 aspect-square rounded-full"
              />
            </div>

            <div
              class="max-w-full flex flex-col items-start justify-center gap-1 truncate"
            >
              <p class="truncate font-titulo w-full xl:text-xl text-base font-medium dark:text-white">
                {{ userTeam?.user?.name }}
              </p>
              <p class="truncate font-hind-madurai w-full xl:text-xl text-base font-light dark:text-gray-300">
                {{ userTeam?.user?.email }}
              </p>
            </div>
          </div>
          <div class="flex lg:gap-12 gap-6 items-center ">
            <div class="flex flex-col justify-self-end" *ngIf="true">
                <div class="atribuition-container w-[250px]">
                  <div
                    class="atribuition flex justify-center items-center min-w-full h-1/3"
                  >
                        <button
                      (click)="openSelect(userTeam.userId)"
                      class="text-primary  dark:text-dark-primary font-titulo font-medium text-sm lg:text-base"
                        >
                      {{options2[userTeam.role.id-1] | translate}}
                        </button>
                  </div>
                  <app-select-custom
                    *ngIf="select && userId == userTeam.userId && !disabledInfo && !userTeam.manager"
                    [listOptions]="options"
                    [listIcons]="IconsOptionsSelect"
                    (newItem)="choosenRole($event, userTeam)
                    "
                    class="absolute"
                  ></app-select-custom>
                </div>
              </div>
              <div class="w-5">
                <i
                *ngIf="!disabledInfo && !userTeam.manager"
                class="pi pi-trash text-red-500 font-bold"
                style="font-weight: 700"
                (click)="removeUser(indice)"
              ></i>
              </div>
           
          </div>

        
        </div>
      </div>
      
    <div *ngIf="!disabledInfo" class="flex xl:gap-10 gap-3 self-end">
      <button (click)="cancelar()" class="py-2 px-4 bg-primary dark:bg-dark-primary text-white font-bold font-titulo rounded-lg">
        {{'cancelar' | translate}}
       </button>

       <div joyrideStep="step3" title="Salvar Equipe" text="Clique aqui para salvar a equipe.">
         <button (click)="salvar()" class="py-2 px-6 bg-secondary dark:bg-dark-secundary-green   text-white font-bold font-titulo rounded-lg">
   {{'salvar' | translate}}        </button>
       </div>

    </div>
    <div *ngIf="disabledInfo" class="flex xl:gap-10 gap-3 self-end">
      <button *ngIf="permission()" (click)="editar()" class="py-2 lg:px-7 px-3  bg-primary dark:bg-dark-primary text-white font-bold text-sm lg:text-base  font-titulo rounded-lg">
        {{'editar' | translate}}
       </button>
    
       <button (click)="leaveTeam()" *ngIf="findTeamAdm(team)?.id != loggedUser?.id" class="py-2 px-7 bg-red-500  text-white font-bold font-titulo rounded-lg">
        {{'sair da equipe' | translate}}
       </button>
      
       <button (click)="removeTeam()" *ngIf="findTeamAdm(team)?.id == loggedUser?.id " class="py-2 px-7 bg-red-500 text-white font-bold font-titulo rounded-lg">

        {{'excluir equipe' | translate}}
       </button>
     
       <app-tela-reports  [team]="team"> </app-tela-reports>
    </div>
    </div>
  </div>
  <app-message-modal *ngIf="openModal" [title]="title" [message]="message" (modal)="modal($event)"></app-message-modal>
</div>

