<div class="w-screen h-screen flex justify-center pt-20">
  <div class="flex w-[80%] justify-evenly">
    <div class="flex flex-col gap-12 h-min w-[53%]">
      <div class="flex gap-10 items-center">
        <div class="project-image">
          <div class="image border-2 dark:border-dark-secundary-gray" [ngStyle]="{'background': backGroundColorProject }">
          </div>
          
          <label  *ngIf="!disabledInfo" class="alterateColor" for="alterate color">
              <div class="flex items-center justify-center w-full h-full cursor-pointer" (click)="randomColor()">
                  <i class="pi pi-palette text-primary dark:text-dark-primary"></i>
              </div>
          </label>
        </div>
        <div>
          <input
            type="text"
            name=""
            id=""
            [placeholder]="team?.name"
            [disabled]="disabledInfo"
            [(ngModel)]="name"
            class="input-name text-primary"
          />
          <div class="flex gap-3 items-center px-2 w-full">
            <p class="font-titulo text-xl text-gray-500">Código da equipe:</p>
            <p class="font-titulo text-xl text-secondary font-medium">
              {{ team?.code }}
            </p>
            <i class="pi pi-clone icon text-gray-500"></i>
          </div>
        </div>
      </div>

      <div class="flex flex-col gap-6">
        <p class="font-titulo text-3xl font-bold text-primary">
          Niveis de acesso:
        </p>

        <div class="flex flex-wrap gap-6">
          <div class="flex flex-col w-[45%]">
            <div class="flex items-center justify-between">
              <p class="font-hind-madurai text-2xl font-medium">Criador</p>
              <i
                class="pi pi-shield text-secondary font-bold"
                style="font-weight: 700"
              ></i>
            </div>
            <p class="font-hind-madurai text-base text-gray-500">
              editar, controle dos participantes, criar projetos, e excluir a
              equipe.
            </p>
          </div>
          <div class="flex flex-col w-[45%]">
            <div class="flex items-center justify-between">
              <p class="font-hind-madurai text-2xl font-medium">
                Administrador
              </p>
              <i
                class="pi pi-shield text-secondary font-bold"
                style="font-weight: 700"
              ></i>
            </div>
            <p class="font-hind-madurai text-base text-gray-500">
              editar, controle dos participantes, e criar projetos.
            </p>
          </div>
          <div class="flex flex-col w-[45%]">
            <div class="flex items-center justify-between">
              <p class="font-hind-madurai text-2xl font-medium">Colaborador</p>
              <i
                class="pi pi-wrench text-secondary font-bold"
                style="font-weight: 700"
              ></i>
            </div>
            <p class="font-hind-madurai text-base text-gray-500">
              visualizar e criar projetos.
            </p>
          </div>
          <div class="flex flex-col w-[45%]">
            <div class="flex items-center justify-between">
              <p class="font-hind-madurai text-2xl font-medium">Espectador</p>
              <i
                class="pi pi-eye text-secondary font-bold"
                style="font-weight: 700"
              ></i>
            </div>
            <p class="font-hind-madurai text-base text-gray-500">
              apenas visualizar.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="w-[36%] flex flex-col gap-6">
      <div class="flex justify-between">
        <p
          class="font-titulo text-3xl font-bold text-primary"
          *ngIf="!isSearchUserModalOpen"
        >
          Membros da equipe:
        </p>
        <div class="flex w-max justify-end relative">
          <button
            *ngIf="!isSearchUserModalOpen && !disabledInfo"
            class="bg-primary rounded-full p-2 w-12 h-12"
          >
            <i
              class="pi pi-plus text-white font-bold"
              style="font-weight: 700"
              (click)="setSearchUserModal()"
            ></i>
          </button>

          <button
            *ngIf="isSearchUserModalOpen"
            class="bg-red-500 justify-self-end rounded-full p-2 w-12 h-12"
            (click)="setSearchUserModal()"
          >
            <i
              class="pi pi-times text-white font-bold"
              style="font-weight: 700"
              (click)="setSearchUserModal()"
            ></i>
          </button>
        </div>

        <app-search-users
          *ngIf="isSearchUserModalOpen"
          class="absolute w-[26%] right-[200px] z-50"
          [addedUsers]="teamParticipants"
          (usersToAdd)="addUsers($event)"
        ></app-search-users>
      </div>

      <div class="flex justify-between px-20 border-[1px] border-x-0">
        <p class="font-hind-madurai text-lg text-gray-500">Usuário</p>
        <p class="font-hind-madurai text-lg text-gray-500">Atribuição</p>
      </div>

      <div class="member-list flex flex-col w-full overflow-scroll gap-8 h-[350px] max-h-[350px] overflow-y-auto">
        <div
          class="member flex items-center w-full gap-[23%]"
          *ngFor="let user of teamParticipants; index as indice"
        >
          <div class="flex w-1/2 gap-6 justify-start items-center">
            <div
              class="min-h-[64px] aspect-square rounded-full"
              [ngStyle]="{ 'background-color': user.imageColor }"
            >
              <img
                *ngIf="user.image?.data"
                src="{{ user.image.data }}"
                alt=""
                class="h-16 aspect-square rounded-full"
              />
            </div>

            <div
              class="max-w-full flex flex-col items-start justify-center gap-1 truncate"
            >
              <p class="truncate font-titulo text-xl font-medium">
                {{ user.name }}
              </p>
              <p class="truncate font-hind-madurai text-lg font-light">
                {{ user.email }}
              </p>
            </div>
          </div>
          <div class="flex gap-12 items-center">
            <div class="flex flex-col justify-self-end" *ngIf="true">
                <div class="atribuition-container">
                  <div
                    class="atribuition flex justify-center items-center min-w-full h-1/3"
                  >
                        <button
                      (click)="openSelect()"
                      class="text-primary font-titulo font-medium"
                        >
                      membro
                        </button>
                  </div>
                  <app-select-custom
                    *ngIf="select"
                    [listOptions]="options"
                    [listIcons]="IconsOptionsSelect"
                    class="absolute"
                  ></app-select-custom>
                </div>
              </div>
              <i
              class="pi pi-trash text-red-500 font-bold"
              style="font-weight: 700"
              (click)="removeUser(indice)"
            ></i>
          </div>

        
        </div>
      </div>
      
    <div *ngIf="!disabledInfo" class="flex gap-10 self-end">
      <button (click)="cancelar()" class="py-2 px-4 bg-primary text-white font-bold font-titulo rounded-lg">
        cancelar
       </button>
      <button (click)="salvar()" class="py-2 px-6 bg-secondary   text-white font-bold font-titulo rounded-lg">
salvar      </button>
    </div>
    <div *ngIf="disabledInfo" class="flex gap-10 self-end">
      <button (click)="editar()" class="py-2 px-7 bg-primary text-white font-bold font-titulo rounded-lg">
        editar
       </button>
       <button (click)="leaveTeam()" *ngIf="team?.administrator?.id != loggedUser?.id" class="py-2 px-7 bg-red-500 text-white font-bold font-titulo rounded-lg">
        sair da equipe
       </button>
       <button (click)="removeTeam()" *ngIf="team?.administrator?.id == loggedUser?.id" class="py-2 px-7 bg-red-500 text-white font-bold font-titulo rounded-lg">
        excluir equipe
       </button>
    </div>
    </div>
  </div>
</div>

<!-- <div class="main bg-primaryWhite w-full h-full flex justify-center">

    <div class="container w-[80%] h-full bg-primaryWhite flex flex-col">

        <div class="header  w-full max-h-[20%] min-h-[20%] flex justify-start gap-8 items-center">
            
            <div class="img-test aspect-square h-32 rounded-full " [ngStyle]="{'background-color': team?.imageColor}">
                <img *ngIf="team?.image?.data" src="{{team.image.data}}" alt="" class="h-full aspect-square rounded-full">
            </div>

            <div class="team-name flex justify-center items-center w-[30%] px-4 h-16 gap-4 bg-primaryWhite">
                <input #teamNameInput class="bg-primaryWhite w-full h-full text-xl text-primary font-bold outline-none focus:border-b-2" type="text" disabled placeholder="Nome da equipe" [(ngModel)]="team.name">
                <div class="flex gap-2">
                    <i class="pi pi-pencil text-primary" *ngIf="!isEditingTeamName" (click)="editTeamName()"></i>
                    <i class="pi pi-times text-red-700" *ngIf="isEditingTeamName" (click)="cancelEditingTeamName()" ></i>
                    <i class="pi pi-check text-secondary" *ngIf="isEditingTeamName" (click)="saveTeamName()"></i>
                </div>
            </div>
        </div>

        <div class="adding-members flex flex-col justify-center items-center w-full max-h-[25%] min-h-[25%] ">

            <div class="link-container w-full h-full flex items-center justify-center gap-4">

                <p class="text-[#6A7181] text-xl">Envie um link: </p>

                <div class="link w-[70%] h-12 rounded-[10px] bg-secondaryWhite flex items-center" >

                    <div class="w-[90%] max-w-[90%] h-full px-4 flex justify-start items-center">
                        <p class="w-full max-w-full truncate">
                            https://link2f4526d9a5d058720295dc854124cfbd89c0b624.com 
                        </p>
                    </div>

                    <button class="bg-secondary h-full w-[10%] text-primaryWhite rounded-[10px]">
                        <p>
                            Copiar
                        </p>
                    </button>
                </div>

            </div>

            <div class="divisory w-full h-2 flex items-center justify-between">
                <div class="w-[45%] h-1/2 bg-[#d9d9d9] rounded-[10px]"></div>

                <div class="w-[10%] h-full flex justify-center items-center text-[#6A7181] ">
                    <p>ou</p>
                </div>


                <div class="w-[45%] h-1/2 bg-[#d9d9d9] rounded-[10px]"></div>
            </div>

            <div class="w-full min-h-[40%] flex justify-center items-center relative">

                <button *ngIf="!isSearchUserModalOpen" class="flex justify-center items-center min-w-[20%] h-12 gap-8 bg-secondary text-primaryWhite rounded-[10px]" (click)="setSearchUserModal()">
                    <div>
                        <img src="../../assets/mais.svg" alt="">
                    </div>
                    <div>
                        <p>
                            Adicionar usuário
                        </p>
                    </div>
                </button>
                <button *ngIf="isSearchUserModalOpen" class="flex justify-center items-center min-w-[20%] h-12 gap-8 bg-red-500 text-primaryWhite rounded-[10px]" (click)="setSearchUserModal()"> 
                    <p>
                        Cancelar
                    </p>
                </button>
           <app-search-users *ngIf="isSearchUserModalOpen" class="absolute top-20 z-50" [addedUsers]="teamParticipants" (usersToAdd)="addUsers($event)"></app-search-users> 
            </div>

        </div>


        <div class="member-list-container flex flex-col w-full h-[45%]  bg-primaryWhite gap-4">

            <div class="header w-full flex justify-center items-center">
                <div class="flex-1 w-full flex flex-col justify-center items-center">
                    <div class="w-full h-1 rounded-[0.625rem] bg-[#d9d9d9]"></div>
                    <p>Membros</p>
                    <div class="w-full h-1 rounded-[0.625rem] bg-[#d9d9d9]"></div>
                </div>

                <div class="flex w-1/2 flex-col justify-center items-center" *ngIf="true">
                    <div class="w-full h-1 rounded-[0.625rem] bg-[#d9d9d9]"></div>
                    <p>Atribuição</p>
                    <div class="w-full h-1 rounded-[0.625rem] bg-[#d9d9d9]"></div>
                </div>
            </div>


            <div class="member-list flex flex-col w-full h-[27rem] max-h-[27rem] overflow-scroll gap-8" >

                <div class="member flex justify-start items-center w-full  bg-primaryWhite " *ngFor="let user of teamParticipants">
                    
                    <div class="flex flex-1 w-full gap-8 px-8 justify-start items-center" >
                        <div class="min-h-[5rem] aspect-square rounded-full" [ngStyle]="{'background-color': user.imageColor}">
                            <img *ngIf="user.image?.data" src="{{user.image.data}}" alt="" class="h-[5rem] aspect-square rounded-full">
                        </div>

                        <div class="max-w-full h-full flex flex-col items-start justify-center gap-2 truncate">
                            <p class="truncate">
                                {{user.name}}
                            </p>
                            <p class="truncate text-[0.75rem]">
                                {{user.email}}
                            </p>
                        </div>
                    </div>


                    <div class="bg-primaryWhite flex flex-col w-1/2" *ngIf="true">
                        <div class="atribuition-container w-full max-h-full min-h-full bg-primaryWhite">
    
                            <div class="atribuition flex justify-center items-center min-w-full h-1/3">
                                <p class="w-full flex justify-center items-center">
                                    Membro
                                </p>
                            </div>
        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="cretion-confirmaton flex justify-between items-center w-full h-[30%] ">
            <button class="w-40 h-12 bg-primary text-primaryWhite rounded-[0.625rem]">
                Cancelar
            </button>
            <button class="w-40 h-12 bg-secondary text-primaryWhite rounded-[0.625rem]">
                Salvar
            </button>
        </div>

    </div>

</div> -->
