<div class="message-container flex flex-col w-full ">
    
    <div class="sender-image-container w-full flex justify-{{messageAlignment}} items-center pb-2" *ngIf="showImage(message) ">
        <img class="sender-image w-16 h-16 rounded-full"  src="{{message.sender.fotoPerfil}}" alt="" >
    </div>

    <div class="message w-full px-16  flex justify-{{messageAlignment}}">
        <div class="bg-primaryWhite relative min-w-[10%] w-min p-4 max-w-[80%] min-h-[10%] rounded-[0.625rem] self-end">
            <div class="sender-image-pointer z-[1] top-[-15px] {{senderImagePointerAlignment}}-[-15px] absolute rotate-[{{senderImagePointerDirection}}deg]"  *ngIf="showSenderImagePointer"></div>
            <p class="message-content break-words w-max h-max">
                {{message.content}}
            </p>
        </div>
    </div>

</div>