.screen{
    @apply w-screen h-screen p-4 px-[10%] flex flex-col  pt-[20%] xl:pt-10;

    .tittle{
        @apply mb-[4%]  h-max w-max ;

        p{
            @apply  text-primary mb-4  dark:text-dark-primary text-2xl font-bold font-titulo 
            lg:text-4xl
            md:text-3xl
            2xl:text-[42px]
        }

        //button{
        //    @apply py-2 px-6 rounded-lg bg-secondary 
        //}



        button{
            @apply w-[20vw] bg-secondary  dark:bg-dark-secondary rounded-lg text-sm px-6  py-2 text-white font-bold 
            2xl:text-xl 2xl:px-20
            lg:text-lg lg:px-16
            md:text-lg md:px-14
        }
    }
    .project-name{
    @apply  text-primary  dark:text-dark-primary text-2xl font-bold font-titulo 
    lg:text-4xl
    md:text-3xl
    2xl:text-[42px]

}

    .projects{
        @apply flex flex-wrap gap-10 justify-center;

    }
}