<confirm-action-project-modal *ngIf="confirmationActionModalBol" class="fixed z-10 left-[5%] right-[5%] xl:right-0 top-1/3 xl:left-[37%]" (result)="setResponse($event)" [quest]="quest"></confirm-action-project-modal>
<app-modal-tarefa
    class="tarefa"
    *ngIf="booleanTask"
    [tarefa]="task"
    [projeto]="project"
    (closeModalTask)="closeTask($event)"
  ></app-modal-tarefa>
<div class="screen duration-150" [ngClass]="confirmationActionModalBol ? 'blur-sm opacity-50':'blur-0'">
    <div class="flex justify-between w-full">
        <div class="tittle">
            <p>{{team?.name}}</p>
            <button class="disabled:opacity-70" *ngIf="hasPermission(team)" (click)="goToCreateProject(this.teamId)"><i class="pi pi-plus"></i> {{'Adicionar Projeto' | translate}}</button>
        </div>

       <div class="flex gap-5 items-center">
            <div class="w-fit">
                <button (click)="changeFiltro()" (click)="ordenacaoBol()" class="select-button">
                    <i class="pi pi-filter icon icon2" ></i>
                    <p class="text-select">
                    {{'Ordenação' | translate}}
                    </p>
                </button>
                <div class="bg-primaryWhite shadow-xl overflow-hidden rounded-lg absolute duration-200 translate-y-3 w-[8vw]" [ngClass]="ordenacaoBoolean ? 'h-fit':'h-0'">
                    <div (click)="getFinalDateProjectFilter()" [ngClass]="ordenacaoBoolean ? 'h-[2vw]':'h-0'" class=" w-full overflow-hidden hover:px-4 duration-200 border-b-2 text-lg cursor-pointer flex gap-2 px-3 items-center ">
                        <i class="pi pi-calendar text-primary font-semibold "></i>
                        <p>Data final</p>
                    </div>
                    <div (click)="sortProjectsByProgress()" [ngClass]="ordenacaoBoolean ? 'h-[2vw]':'h-0'" class=" w-full overflow-hidden hover:px-4 duration-200 border-b-2 text-lg cursor-pointer flex gap-2 px-3 items-center ">
                        <i class="pi pi-chart-line text-primary font-semibold "></i>
                        <p >Progresso</p>   
                    </div>
                </div>
            </div>

            <div class="w-fit">
                <button (click)="changeFiltro()" (click)="filterBol()" class="select-button">
                    <i class="pi pi-filter icon icon2" ></i>
                    <p class="text-select">
                    {{'Filtro' | translate}}
                    </p>
                </button>
                <div class="bg-primaryWhite shadow-xl overflow-hidden rounded-lg absolute duration-200 translate-y-3 w-[8vw]" [ngClass]="filterBoolean ? 'h-fit':'h-0'">
                    <div (click)="getFavorites()" [ngClass]="filterBoolean ? 'h-[2vw]':'h-0'" class=" w-full overflow-hidden hover:px-4 duration-200 border-b-2 text-lg cursor-pointer flex gap-2 px-3 items-center ">
                        <i class="pi pi-star text-primary font-semibold "></i>
                        <p >Favoritos</p>
                    </div>
                    <div (click)="filterProjectsByLoggedUser()" [ngClass]="filterBoolean ? 'h-[2vw]':'h-0'" class=" w-full overflow-hidden hover:px-4 duration-200 border-b-2 text-lg cursor-pointer flex gap-2 px-3 items-center ">
                        <i class="pi pi-user text-primary font-semibold "></i>
                        <p >Associado</p>
                    </div>
                </div>
            </div>
       </div>
    </div>
    <div class="flex gap-2 items-center h-[5vh]">
        <p class="text-lg text-fontGray" *ngIf="atualFilter != null">Exibido por:</p>
        <div *ngIf="atualFilter != null" class="p-1 px-2 select-none rounded-lg text-lg flex items-center gap-1 text-fontGray"><p>{{atualFilter.name}}</p><i (click)="removeFilter()" class="pi pi-times-circle hover:scale-105 duration-150 text-primary cursor-pointer"></i></div>
    </div>
    
    <div class="projects">
        <div *ngFor="let p of projects" #projectElement>
            
            <app-projeto-remastered 
            
            (salvarProjeto)="editFun($event)"
            [projectOpen]="p.isVisible" 
            [projeto]="p" 
            (click)="openProject(p)" 
            (noCloseProject)="noCloseProject(p)"
            (deletar)="delete($event)"
            [resetProject]="resetProject"
            (editProject)="editProject($event, p)"
            (resetProjectOff)="resetProjectOff()"
            (MultipartFile)="saveImage($event)"
            (quest)="setQuest($event)"
            [confirmationAction]="getResponse()"
            (listFromRemove)="setListFromRemove($event)"
            (openTaskModal)="openTaskModal($event)"
            ></app-projeto-remastered>
            
        </div>
    </div>
</div>
<div *ngIf="confirmationActionModalBol" class="fixed w-screen h-screen top-0 left-0"></div>