<div class="flex items-center justify-start w-full h-16 bg-primaryWhite gap-4">
    <div class="rounded-full aspect-square h-[70%] ml-2 " [ngStyle]="{'background-color': user.imageColor}" *ngIf="!user.image?.data"></div>
    <img class="rounded-full aspect-square h-[70%] pl-4" src="user.image?.data" alt="" *ngIf="user.image?.data">
    <div class="flex flex-col max-w-full ">
        <p class="max-w-[8rem] truncate">
            {{user.name}}
        </p>
        <p class="max-w-[8rem] truncate text-[0.750rem]">
            {{user.email}}
        </p>
    </div>
</div>

