<i class="icon pi pi-bell icon2 pt-1" (click)="openNotification()"></i>

<div class="bg-white dark:bg-dark-primary-gray fixed right-[230px] top-12 shadow-lg rounded-lg flex flex-col duration-300 justify-between overflow-hidden"
    [ngClass]="
    notification ? 'w-[400px] h-[480px] opacity-100' : 'w-0 h-0 opacity-0'
  ">
    <div class="main-box min-w-fit" *ngIf="!editingConfigs">
        <div class="teams-box" *ngFor="let userTeam of loggedUser.teamRoles">
            <div class="h-16 w-full flex justify-between items-center px-4">
                <i class="pi pi-users team-icon"></i>

                <p class="text-primaryFontBlack dark:text-white text-lg font-semibold font-titulo">
                    {{ userTeam.team.name }}
                </p>
                <i class="pi pi-angle-down team-icon2" *ngIf="!userTeam.team.booleanView"
                    (click)="openNotifications(userTeam.team)">
                </i>
                <i class="pi pi-angle-up team-icon2" *ngIf="userTeam.team.booleanView"
                    (click)="closeNotifications(userTeam.team)">
                </i>
            </div>
            <div class="notifications-box" *ngIf="userTeam.team.booleanView" [ngClass]="{
          'overflow-y-auto': userTeam.team.notifications.length > 3
        }">
                <div class="notification-item" *ngFor="let notification of userTeam.team.notifications">
                    <div class="notification-item-user" *ngIf="notification.type == 'task'">
                        <i class="pi-check-square pi text-primary dark:text-dark-primary"></i>
                    </div>
                    <div class="notification-item-user" *ngIf="notification.type == 'project'">
                        <i class="pi-folder pi text-primary dark:text-dark-primary"></i>
                    </div>
                    <div class="notification-item-user" *ngIf="notification.type == 'team'">
                        <i class="pi-users pi text-primary dark:text-dark-primary"></i>
                    </div>
                    <div class="notification-item-content">
                        <p
                            class="text-primaryFontBlack text-sm text-center font-hind-madurai font-semibold dark:text-gray-200">
                            {{ notification.value }}
                        </p>
                    </div>
                    <div class="notification-readed">
                        <div *ngIf="!notification.readed" class="w-full h-[50%] flex justify-end items-center">
                            <i class="pi pi-circle-fill notification-item-icon"></i>
                        </div>
                        <div
                            class="w-full h-[50%] flex justify-center items-start text-sm font-hind-madurai font-semibold dark:text-gray-200">
                            <p>
                                {{ notification.dateTime | date : "dd" }}/{{
                                notification.dateTime | date : "LL"
                                }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="editingConfigs"
        class="max-h-full w-full py-2 overflow-y-auto min-w-fit text-xl px-8 flex flex-col gap-3">
        <div class="flex flex-col gap-0">
            <div class="check">
              
                <input class="w-4" type="checkbox" id="1" [(ngModel)]="loggedUser.notificationsConfig.taskAll"
                     />
                    <label class="text-primary font-bold font-titulo text-xl dark:text-dark-primary  " for="1">
                        {{ "Tarefas" | translate }}
                    </label>
            </div>
            <p class="text-primaryFontBlack font-hind-madurai text-sm dark:text-white">
                Defina suas preferencias de notificação dentro de suas tarefas, escolha
                o que deseja receber e o que não deseja
            </p>
        </div>

        <div class="flex gap-5 w-full">
            <div class="w-[130px]">
                <div class="flex gap-4 justify-between check">
                   
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskAssociates"
                        />
                        <label class="text-primaryFontBlack font-hind-madurai text-base dark:text-white">
                            {{ "Associados" | translate }}
                        </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskAttachments"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Anexos" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskComments"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Comentários" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskDescription"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Descrição" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskFinalDate"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Data Final" | translate }}
                    </label>
                </div>
            </div>
            <div class="w-[130px]">
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskName"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Nome" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskPriority"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Prioridade" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskProperties"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Propriedade" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskStatus"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Status" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.taskAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.taskSubtasks"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Subtasks" | translate }}
                    </label>
                </div>
            </div>
        </div>

        <hr />
        <div>
            <div class="flex gap-4 check">
                <input class="w-4" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.projectAll"
                />
                
                        <label class="text-primary font-bold font-titulo text-xl dark:text-dark-primary">
                            {{ "Projetos" | translate }}
                        </label>
            </div>
            <p class="text-primaryFontBlack font-hind-madurai text-sm dark:text-white">
                Defina suas preferencias de notificação dentro de seus projetos, escolha
                o que deseja receber e o que não deseja
            </p>
        </div>
       
        <div class="flex gap-5 w-full">
            <div class="w-[140px]">
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.projectAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.projectComments"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Comentários" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.projectAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.projectDashboards"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Dashboards" | translate }}
                    </label>
                </div>
              
            </div>
         
            <div class="w-[170px]">
                <div class="flex gap-3 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.projectAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.projectInfos"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Informações Básicas" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.projectAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.projectParticipants"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Membros" | translate }}
                    </label>
                </div>
                <div class="flex gap-4 justify-between check">
                    <input [disabled]="!loggedUser.notificationsConfig.projectAll" type="checkbox" [(ngModel)]="loggedUser.notificationsConfig.projectStatus"
                    />
                    <label class="text-primaryFontBlack dark:text-white font-hind-madurai text-base">
                        {{ "Status" | translate }}
                    </label>
                </div>  
            </div>
           
        </div>
    </div>

    <div *ngIf="!editingConfigs" class="no-close clean-box h-[15%] w-full flex justify-between items-end px-4 pb-3">
        <div class="no-close clean-button" (click)="editNotificationsConfig()">
            <i class="pi pi-cog text-primaryWhite"></i>
        </div>
        <div class="no-close clean-button" (click)="cleanAllNotifications()">
            <p class="no-close text-base text-primaryWhite font-titulo font-semibold">
                {{ "Limpar" | translate }}
            </p>
        </div>
    </div>
    <div *ngIf="editingConfigs" class="no-close clean-box h-[15%] w-full flex justify-between items-end px-4 pb-3">
        <div class="no-close h-8 w-24 rounded-lg flex items-center justify-center cursor-pointer bg-red-500"
            (click)="cancelEditingConfigs()">
            <p class="no-close text-base text-primaryWhite font-titulo font-semibold">
                {{ "Cancelar" | translate }}
            </p>
        </div>
        <div class="no-close h-8 w-24 rounded-lg flex items-center justify-center cursor-pointer bg-secondary"
            (click)="saveConfigs()">
            <p class="no-close text-base text-primaryWhite font-titulo font-semibold">
                {{ "Salvar" | translate }}
            </p>
        </div>
    </div>
</div>