.main-box {
    @apply max-h-96 w-full py-2 overflow-y-auto
}

// .clean-box {
//     @apply h-[15%] w-full flex justify-end items-end px-4 pb-3
// }

.clean-button {
    @apply h-8 w-24 bg-primary dark:bg-dark-primary rounded-lg flex items-center justify-center cursor-pointer
}

.teams-box {
    @apply min-h-[20%] w-full  flex flex-col items-start justify-between gap-2 border-b-2
}

.team-icon {
    @apply text-4xl text-primary dark:text-dark-primary
}

.team-icon2 {
    @apply text-3xl text-secondary dark:text-dark-secundary-green cursor-pointer
}

.notifications-box {
    @apply w-full flex flex-col items-stretch justify-start max-h-52 bg-slate-100 dark:bg-dark-secundary-gray px-4
}

.notification-item {
    @apply flex items-center justify-center gap-4 w-full py-2 cursor-pointer 
} 

.notification-item-user {
    @apply w-12 h-12 flex items-center justify-center bg-slate-200 dark:bg-gray-500  rounded-full 
}

.notification-item-content {
    @apply w-[70%] h-full flex items-center justify-center
}

.notification-readed {
    @apply w-[15%] h-full flex-col justify-end px-2 items-center
}

.notification-item-icon {
    @apply text-lg text-primary 
}

.icon {
    @apply text-2xl text-primary dark:text-dark-primary cursor-pointer
}

.icon2{
    @apply text-lg
    md:text-xl
    lg:text-2xl

  
  }
//   .input2{
//     @apply s-input
//   }
//   .s-input input {
//     display: none;
//   }
  
  .s-input input + label:before {
    content: "";
    height: 18px;
    width: 18px;
    vertical-align: middle;
    border: solid 2px #6A7181;
    border-radius: 4px;
    margin-right: 8px;
    margin-bottom: 3px;
    display: inline-block;
    cursor: pointer;
  }
  
  .s-input input:checked + label:before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.54961 17.9996L3.84961 12.2996L5.27461 10.8746L9.54961 15.1496L18.7246 5.97461L20.1496 7.39961L9.54961 17.9996Z' fill='%23F8F8F8'/%3E%3C/svg%3E");
    padding: 1px;
    background-position: center;
    background-color: #4C956C;
    border: solid 2px #4C956C;
  
  
  }
  
