<div class="main">
    <div class="card-login">
        <div class="left">
            <div class="box-text-left">
                <div class="welcome">
                    <p class="normal-white-font">Bem-vindo ao Evolve. Aqui a organização e eficiência se encontram para transformar sua forma de gerenciar tarefas e projetos. Abra as portas para uma nova era de produtividade.</p>
                    <div class="login-topic-icon"><i class="pi pi-check"></i><p>Personalize fluxos de trabalho para se adequar à maneira como sua equipe trabalha.</p></div>
                </div>
                <div>
    
                </div>
            </div>
        </div>  
        <div class="right">

        </div>
    </div>
</div>