<div class="card-box">
  <div class="card" *ngFor="let historic of task.historic">
    <div class="left relative h-16 w-full">
      <div class="flex justify-center items-center h h-full">
        <p class="text-fontGray text-xs md:text-sm">
          {{ historic.dateTime | date : "shortDate" }}
        </p>
      </div>
      <div
        class="h-3 w-3 bg-secondary rounded-full absolute -right-1.5 top-[40%]"
      ></div>
    </div>
    <div class="right w-[90%] gap-2 flex justify-between items-center ml-5">
      <p class="font-semibold w-[80%] text-xs sm:text-sm md:text-base">
        {{ historic.description }}
      </p>
      <div class="flex justify-center items-center w-[20%]">
        <p class="text-fontGray text-xs md:text-sm">
          {{ historic.dateTime | date : "shortTime" }}
        </p>
      </div>
    </div>
  </div>
</div>
