.main {
    @apply w-full h-full flex justify-center
}

.card-box {
    @apply w-full flex flex-col h-full  overflow-y-scroll border-2 rounded-xl pr-2
}

.card {
    @apply w-full h-fit grid;
    grid-template-columns: 30% 70%;
}

.left {
    @apply w-full border-r-2
}

@media screen and (min-width: 1280px) {
  .card {
    @apply w-full h-fit grid;
    grid-template-columns: 15% 85%;
}

.card-box {
  @apply w-full flex flex-col h-full  overflow-y-scroll border-2 rounded-xl 
}
}

@media screen and (min-width: 760px) {
  .card {
    @apply w-full h-fit grid;
    grid-template-columns: 25% 75%;
}

.card-box {
  @apply w-full flex flex-col h-full  overflow-y-scroll border-2 rounded-xl 
}
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px; 

    
    /* largura do scroll */
   
  }
  
  /* Define a cor do fundo do scroll */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    @apply rounded-md
  }
  
  /* Define a cor do thumb (a alça do scroll) */
  ::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background: #E5E5E5 
    
  }