<div class="main">
 <div class="card-box">
    
    <div class="card" *ngFor="let historic of task.historic">
        <div class="left relative h-16 w-full">
            <div class="flex justify-center items-center h h-full">
                <p class=" text-fontGray">{{ historic.dateTime | date : "shortDate" }}</p>
            </div>
            <div class="h-3 w-3 bg-secondary rounded-full absolute -right-1.5 top-[40%] ">
            </div>
        </div>
        <div class="right h-16 w-[90%] flex justify-between items-center ml-5">
            <p class="font-semibold">{{historic.description}}</p>
            <div class="h-[70%] flex items-center">
                <p class="text-fontGray text-sm">{{ historic.dateTime | date : "shortTime" }}</p>
            </div>
        </div>
    </div>
 </div>
</div>