.main {
    @apply w-[50vw] h-full absolute bg-white rounded-tl-sm rounded-bl-sm shadow-2xl overflow-y-scroll flex flex-col items-center
}

.name-progress {
    @apply w-full min-h-[15%] flex flex-col justify-center ;
}

.close-btn {
    @apply h-12 w-[95%] flex items-end cursor-pointer mt-2
}

.icon-close {
    @apply text-xl text-gray-400
}

.name-box {
    @apply w-[65%] h-[100%] flex items-center min-w-min mb-5
}

.foco-box {
    @apply w-[35%] h-full flex justify-end
}

.foco {
    @apply w-[60%] h-[60%] bg-primary rounded-lg flex justify-center items-center gap-3 text-primaryWhite cursor-pointer py-1
}

.foco-name-box {
    @apply flex w-full h-full items-center
}

.foco-on {
    @apply w-[85%] h-16 mb-5 flex items-center pl-2 justify-between
}

.foco-timer {
    @apply text-4xl text-black font-bold w-[35%] h-full flex items-center
}

.actions-timer {
    @apply flex w-[50%] h-full items-center gap-4
}

.action {
    @apply w-[30%] h-[50%] px-2 flex justify-center items-center rounded-lg text-primaryWhite font-bold gap-2 cursor-pointer
}

.cancel {
    @apply bg-red-500
}

.pause {
    @apply bg-primary
}

.stop {
    @apply bg-secondary
}

.input-box {
    @apply w-[80%] h-[100%] outline-none pb-2
}

.name {
    @apply text-4xl text-primary font-bold ;
    white-space: nowrap; /* Evita a quebra de linha */
  position: absolute;
  transform: translateX(0); /* Inicia na posição original */
  transition: transform 5s linear;
}

.progress-bar-box {
    @apply w-full h-[30%] flex items-center gap-3 justify-between mb-5
}

.edit-button {
    @apply w-12 h-7 bg-secondary rounded-md
}

.remove-button {
    @apply w-12 h-7 bg-red-500 rounded-md
}

.progress-bar {
    @apply w-[70%] h-3 bg-primaryGray rounded-md;
}

.propertie {
    @apply flex w-full gap-4 h-11 items-center 
}

.propertie-value {
    @apply h-full 
}

.date-propertie {
    @apply flex  w-full items-center cursor-pointer
}

.task-properties-box {
    
   
    @apply flex flex-col w-full gap-0 
}

.date-end {
    @apply flex justify-center ml-2 hover:bg-slate-100  px-2 rounded-lg cursor-pointer text-slate-500
}

.name-icon {
    @apply flex items-center
}

.add-icon {
    @apply flex items-center mb-10 px-1 py-1 bg-secondary rounded-md w-[30%] justify-center
}

.add-icon:hover {
    @apply cursor-pointer  bg-green-900 rounded-md flex justify-center items-center;
}

.name-propertie {
    @apply pl-3 text-lg text-primaryFontBlack
}

.add-propertie-text  {
    @apply text-base pl-3
}

.icon-propertie {
    @apply text-lg text-secondary
}

.date-end-text {
    @apply text-lg 
}

.responsible-propertie {
    @apply flex w-full justify-center
} 

.responsible-icon {
    @apply h-9 w-9 bg-slate-100 rounded-full 
}

.responsible-icon-box {
    @apply flex items-center justify-start cursor-pointer 
}

.status-propertie {
    @apply flex w-full gap-5
} 

.status-icon {
    @apply h-6 px-4 rounded-lg flex justify-center items-center text-sm text-primaryFontBlack
}

.status-icon-box {
    @apply flex items-center justify-center 
}

.description-propertie {
    @apply w-full mt-3
} 

.description-icon {
    @apply h-8 w-20 bg-yellow-200 rounded-xl flex justify-center items-center
}

.description-icon-box {
    @apply flex items-center justify-center
}

.tabs {
    @apply w-full h-[55%] flex flex-col
}

.pages {
    @apply w-full h-[7%] flex gap-6 justify-between border-b-2 mb-2 mt-7
}

.page-name {
    @apply text-fontGray text-lg 
}

.page-name:hover {
    @apply border-b-2 border-primary cursor-pointer
}

.box-description {
    @apply w-full border-2 border-primaryGray rounded-xl
}

.components {
    @apply w-full h-[90%] flex justify-center mt-5
}

.component {
    @apply w-full h-full flex justify-center
}


.name-box {
    @apply min-w-min h-10 ;
      overflow: hidden; 
      position: relative;
    }
    
    
    
    .name-box:hover .name {
      transform: translateX(-100%);
      overflow:visible; 
    }
    
    .name-box:not(:hover) .name {
      transition: none; 
    }


.cancel-button {
    @apply bg-primary px-5 py-1 rounded-lg
}

.save-button {
    @apply bg-secondary px-5 py-1 rounded-lg
}



.created-properties {
    @apply w-[80%] ml-12
}

.the-box {
    @apply w-[80%] h-full
}