
<div class="main z-50">
  <div [ngClass]="modalFelipeGorges ? 'shadow-2xl':''" *ngIf="modalFelipeGorges && verifyAprovament()" class="w-[20vw] left-[30%] z-[9999] p-5 gap-4  rounded-lg flex flex-col justify-around items-center top-[30%] h-max bg-secondaryWhite dark:bg-dark-secundary-gray absolute">
    <div class="w-full  flex justify-center items-center flex-col gap-2">
      <h2 class="font-titulo text-lg font-bold dark:text-white">Tarefa em aprovação  </h2>
      <p class="text-fontGray font-hind-madurai dark:text-primaryWhite">
      Você não pode editar essa tarefa, pois ela está em aprovação.
      </p>  </div>
    <button (click)="alternateModalAviso()" class="py-2 px-4 bg-secondary dark:bg-dark-secundary-green rounded-lg text-secondaryWhite font-titulo font-bold">Entendido!</button>
  </div>
  
  <div [ngClass]="modalFelipeGorges ? 'shadow-2xl':''" *ngIf="modalFelipeGorges && tarefa.concluded" class="w-[20vw] left-[35%] z-[9999] p-5 gap-4  rounded-lg flex flex-col justify-around items-center top-[30%] h-max bg-secondaryWhite absolute">
    <div class="w-full flex justify-center items-center flex-col gap-2">
      <h2 class="font-titulo text-lg font-bold">Tarefa finalizada  </h2>
      <p class="text-fontGray font-hind-madurai">
      Está tarefa ja foi aprovada e não pode mais ser editada.
      </p>  </div>
    <button (click)="alternateModalAviso()" class="py-2 px-4 bg-secondary rounded-lg text-secondaryWhite font-titulo font-bold">Entendido!</button>
  </div>
  <div *ngIf="modalFelipeGorges || tarefa.concluded || verifyAprovament()" class="w-full z-40 absolute " [ngClass]="modalFelipeGorges ? 'h-full':'h-[45%]'">

  </div>
  <div class="close-btn z-50" (click)="sendEventEmitter()">
    <i class="pi pi-angle-double-right icon-close"></i>
  </div>
  <div class="the-box">

    <div class="foco-on" *ngIf="booleanFoco">
      <div class="foco-timer">
        <div>{{ timerString }}</div>
      </div>
      <div class="actions-timer">
        <div class="cancel action" (click)="finishFocus()">
          <i class="pi pi-times" style="font-size: 1rem"></i>{{'cancelar' | translate}}
        </div>
        <div
          *ngIf="booleanPlayPause"
          class="pause-return action"
          (click)="startTimer()"
        >
          <i class="pi pi-play" style="font-size: 1rem"></i>{{'começar' | translate}}
        </div>
        <div 
        *ngIf="!booleanPlayPause"
        class="pause-return action" 
        (click)="stopTimer()"
        >
          <i class="pi pi-pause" style="font-size: 1rem"></i>{{'pausar' | translate}}
        </div>
        <div
          class="stop action"
          (click)="sendTimeFocus()"
        >
          <i class="pi pi-check-square" style="font-size: 1rem"></i>{{'terminar' | translate}}
        </div>
      </div>
    </div>
    <div class="name-progress">
      <div class="h-52 "></div>

      <div class="foco-name-box">
        <div class="name-box items-center justify-between">
          <p class="name truncate " *ngIf="!booleanEditName && tarefa.name != ''">{{ tarefa.name }}</p>
          <p (click)="booleanEditName=true" class="name-empty" *ngIf="!booleanEditName && tarefa.name == ''">Digite o nome da tarefa aqui</p>
          <i
            *ngIf="!booleanEditName"
            class="pi pi-pencil text-primary dark:text-dark-primary cursor-pointer rounded-md"
            style="font-size: 1.3rem"
            (click)="this.booleanEditName = true"
          >
          </i>
          <div
            class="w-full h-full flex items-center"
            *ngIf="booleanEditName"
          >
            <input
              class="input-box truncate text-primary dark:text-dark-primary bg-slate-100 dark:bg-dark-secundary-gray p-2 rounded-lg"
              style="font-size: 30px;  font-weight: semibold"
              type="text"
              maxlength="25"
              pInputText
              placeholder="Digite o nome da tarefa"
              [(ngModel)]="tarefa.name"
            />
            <div class="h-full w-[20%] flex justify-center items-center">
              <i
                class="pi pi-check md:p-2 text-lg p-1 bg-secondary cursor-pointer rounded-md"
                style="color: white"
                (click)="saveName()"
              ></i>
            </div>
          </div>
        </div>
        <div class="foco-box">
          <div class="foco " (click)="startFocus()" *ngIf="!booleanFoco">
            <i class="pi pi-clock" style="font-size: 1.3rem"></i>
            <p class="font-bold text-sm hidden md:flex font-titulo">{{'iniciar foco' | translate}}</p>
          </div>
        </div>
      </div>

      <div class="progress-bar-box">
        <div class="progress-bar">
          <div
            class="h-full bg-primary dark:bg-dark-primary rounded-md"
            [ngStyle]="{ width: tarefa.progress + '%' }"
          ></div>
        </div>
        <!-- BOTÃO QUE DELETA A TAREFA -->
        <div
          class="flex gap-5 h-full w-max cursor-pointer"
          (click)="deleteTask()"
        >
          <div class="remove-button flex  justify-center items-center px-2 py-4">
            <div class="flex w-full justify-center items-center gap-2">
              <i class="text-white pi pi-trash" style="font-size: 1.3rem"></i>
              <p class="text-white font-bold hidden md:flex text-sm font-titulo">{{'excluir tarefa' | translate}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="add-icon self-start hover" (click)="addPropertie()">
      <i class="icon-propertie pi pi-plus" style="color: white"></i>
      <p class="add-propertie-text" style="color: white">
        {{'adicionar propriedade' | translate}}
      </p>
    </div>
    <app-select-propriedade
      *ngIf="booleanAddPropriedade"
      [tarefa]="tarefa"
      [projectId]="projeto.id"
      (newItemEvent)="updatePropertiesList()"
    ></app-select-propriedade>
    <div
      class="task-properties-box"
      [ngClass]="propertiesList.length > 0 ? 'gap-3' : ''"
    >
      <aside class="flex flex-col sm:flex-row justify-between">
        <section class="w-full md:w-1/2 flex flex-col">
          <div class="propertie">
            <div class="name-icon">
              <i class="icon-propertie pi pi-calendar"></i>
              <p class="name-propertie">{{'data final:' | translate}}</p>
            </div>
            <div class="date-end">
              <p
                *ngIf="tarefa.finalDate != null && !booleanCalendarioFinalDate"
                (click)="editDataFinalDate()"
                class="date-end-text cursor-pointer"
              >
                {{ tarefa.finalDate }}
              </p>
              <p
                *ngIf="tarefa.finalDate == null && !booleanCalendarioFinalDate"
                (click)="booleanCalendarioFinalDate = true"
              >
                {{'sem data final' | translate}}
              </p>
              <input
                *ngIf="booleanCalendarioFinalDate"
                type="date"
                [(ngModel)]="tarefa.finalDate"
              />
              <div
                *ngIf="booleanCalendarioFinalDate"
                class="confirmation-buttons"
                (click)="saveProperty()"
              >
                <div class="btn confirm-btn">
                  <i class="pi pi-check"></i>
                </div>
              </div>
            </div>
            <img (click)="submitToGoogleCalendar()" class="mx-2 m-1" src="assets/g-calendar.svg" alt="" width="24px" height="24px">

          </div>
          <div class="propertie">
            <div class="name-icon">
              <i class="icon-propertie pi pi-spinner"></i>
              <p class="name-propertie">{{'status:' | translate}}</p>
            </div>
            <div *ngIf="!booleanStatus" class="status-icon-box cursor-pointer">
              <div
                (click)="editStatus()"
                class="status-icon"
                [ngStyle]="{
                  'background-color': tarefa.currentStatus.backgroundColor
                }"
              >
                {{ tarefa.currentStatus.name }}
              </div>
            </div>
            <app-select-status
              (newItem)="editStatus()"
              [projeto]="projeto"
              [tarefa]="tarefa"
              [loggedUser]="loggedUser"
              *ngIf="booleanStatus"
            ></app-select-status>
          </div>
        </section>

        <article class="w-1/2 flex flex-col">
          <div class="propertie">
            <div class="name-icon">
              <i class="icon-propertie pi pi-users"></i>
              <p class="name-propertie">{{'associados:' | translate}}</p>
            </div>
            <div
              class="gap-1 responsible-icon-box hover:px-2 hover:py-1 hover:bg-slate-100 rounded-lg"
              *ngIf="!booleanSelectAssociates"
              (click)="openSelectAssociates()"
            >
              <div
                *ngFor="let associate of listAssociates"
                class="responsible-icon"
                [ngStyle]="{
                  'background-image':
                    associate.image != null
                      ? 'url(' + associate.image.data + ')'
                      : associate.imageColor,
                  'background-size': 'cover',
                  'background-color': associate.imageColor
                }"
              ></div>
            </div>
            <div
              *ngIf="listAssociatesVerify()"
              (click)="openSelectAssociates()"
              class="h-9 w-9 bg-slate-100 hover:bg-slate-200 rounded-full cursor-pointer flex justify-center items-center"
            >
              <i class="pi pi-plus text-primary text-base font-bold"></i>
            </div>
            <div>
              <app-select-associates
                [project]="projeto"
                [task]="tarefa"
                (newItem)="updateAssociatesList($event)"
                *ngIf="booleanSelectAssociates"
              ></app-select-associates>
            </div>
          </div>
          <div class="propertie">
            <div class="name-icon">
              <i class="icon-propertie pi pi-calendar"></i>
              <p class="name-propertie">{{'agendamento:' | translate}}</p>
            </div>
            <div class="date-end">
              <p
                *ngIf="tarefa.scheduledDate!=null && !booleanCalendariosScheduling"
                (click)="editDataScheduling()"
                class="date-end-text cursor-pointer"
              >
                {{ tarefa.scheduledDate }}
              </p>
              <p
                *ngIf="tarefa.scheduledDate == null && !booleanCalendariosScheduling"
                (click)="booleanCalendariosScheduling = true"
              >
                {{'sem data agendamento' | translate}}
              </p>
              <input
                *ngIf="booleanCalendariosScheduling"
                type="date"
                [(ngModel)]="tarefa.scheduledDate"
              />
              <div
                *ngIf="booleanCalendariosScheduling"
                class="confirmation-buttons"
                (click)="saveProperty2()"
              >
                <div class="btn confirm-btn">
                  <i class="pi pi-check"></i>
                </div>
              </div>
            </div>
          </div>
        </article>
      </aside>

      <div class="flex justify-between w-full">
        <div class="flex flex-col h-max w-1/2">
          <div class="propertie min-w-[40%]">
            <div class="name-icon">
              <i class="icon-propertie pi pi-exclamation-circle"></i>
              <p class="name-propertie">{{'prioridade:' | translate}}</p>
            </div>
            <div
              *ngIf="!booleanSelectPrioridade"
              class="status-icon-box cursor-pointer"
            >
              <div
                (click)="editPriority()"
                class="status-icon"
                [ngStyle]="{
                  'background-color': tarefa.priority.backgroundColor
                }"
              >
                {{ tarefa?.priority?.name?.toLowerCase() }}
              </div>
            </div>
            <div>
              <app-select-prioridade
                [task]="tarefa"
                [listPriorities]="listPriorities"
                [loggedUser]="loggedUser"
                *ngIf="booleanSelectPrioridade"
                (eventEmitter)="finishEditPriority($event)"
              >
              </app-select-prioridade>
            </div>
          </div>
          <div
            *ngFor="let property of propertiesList; index as indice"
          >
            <div *ngIf="indice % 2 == 0">
              <app-propriedade-tarefa
                class="propertie"
                [property]="property"
                [task]="tarefa"
                [loggedUser]="loggedUser"
                [events]="eventsSubject.asObservable()"
                (eventEmitterValue)="setPropertyValue($event)"
                (eventEmitterValue2)="setPropertyValue2($event)"
              ></app-propriedade-tarefa>
            </div>
          </div>
        </div>

        <div class="flex flex-col h-full w-1/2">
          <div
            *ngFor="let property of propertiesList; index as indice"
          >
            <div *ngIf="indice % 2 != 0">
              <app-propriedade-tarefa
                class="propertie"
                [property]="property"
                [task]="tarefa"
                [loggedUser]="loggedUser"
                [events]="eventsSubject.asObservable()"
                (eventEmitterValue)="setPropertyValue($event)"
                (eventEmitterValue2)="setPropertyValue2($event)"
              ></app-propriedade-tarefa>
            </div>
          </div>
        </div>
      </div>

      <!-- DEVERIA ESTAR FUNCIONANDO DESCOMENTADO, MAS POR ALGUM MOTIVO O SELECT DE PROPRIEDADES NÃO FUNCIONA -->
    </div>

    

    <div class="description-box w-full self-start">
      <div class="description-propertie">
        <div class="name-icon">
          <i
            *ngIf="!booleanDesc"
            class="icon-propertie pi pi-angle-down"
            (click)="openDesc()"
          ></i>
          <i
            *ngIf="booleanDesc"
            class="icon-propertie pi pi-angle-up"
            (click)="openDesc()"
          ></i>
          <p class="name-propertie">{{'descrição' | translate}}</p>
        </div>
      </div>
      <div class="w-full">
        <textarea
          (change)="saveDescription()"
          rows="4"
          cols="80"
          pInputTextarea
          [autoResize]="true"
          [(ngModel)]="tarefa.description"
          [ngClass]="booleanDesc ? 'min-w-[80%] h-48' : 'w-0 h-0'"
          class="box-description"
          *ngIf="booleanDesc"
        ></textarea>
      </div>
    </div>

    <div class="tabs" [ngClass]="booleanDesc ? 'mt-10' : 'w-0 h-0'">
      <div class="pages">
        <p
          [ngClass]="
            page_task == 'sub-tarefas'
              ? 'border-b-2 border-primary'
              : 'border-none'
          "
          class="page-name"
          (click)="changePage('sub-tarefas')"
        >
          {{'sub-tarefas' | translate}}
        </p>
        <p
          [ngClass]="
            page_task == 'comentarios'
              ? 'border-b-2 border-primary'
              : 'border-none'
          "
          class="page-name"
          (click)="changePage('comentarios')"
        >
          {{'comentários' | translate}}
        </p>
        <p
          [ngClass]="
            page_task == 'historicos'
              ? 'border-b-2 border-primary'
              : 'border-none'
          "
          class="page-name"
          (click)="changePage('historicos')"
        >
          {{'históricos' | translate}}
        </p>
        <p
          [ngClass]="
            page_task == 'anexos' ? 'border-b-2 border-primary' : 'border-none'
          "
          class="page-name"
          (click)="changePage('anexos')"
        >
          {{'anexos' | translate}}
        </p>
      </div>
      <div class="components">
        <app-sub-tarefa
          [tarefa]="tarefa"
          [listaSubtarefas]="tarefa.subtasks"
          class="component"
          (customEvent)="updateTask()"
          *ngIf="page_task == 'sub-tarefas'"
        ></app-sub-tarefa>
        <app-comentarios
          class="component"
          *ngIf="page_task == 'comentarios'"
          [task]="tarefa"
        ></app-comentarios>
        <app-historicos
          class="component"
          *ngIf="page_task == 'historicos'"
          [task]="tarefa"
        ></app-historicos>
        <app-anexos
          class="component"
          *ngIf="page_task == 'anexos'"
          [task]="tarefa"
          [loggedUser]="loggedUser"
        ></app-anexos>
        <app-automacao
          class="component"
          *ngIf="page_task == 'automacao'"
        ></app-automacao>
        <app-integracao
          class="component"
          *ngIf="page_task == 'integracao'"
        ></app-integracao>
      </div>
    </div>
  </div>
  <div class="h-[50px]"></div>
</div>
