<div
  class="w-[890px] h-[790px] shadow-lg bg-white dark:bg-dark-primary-black absolute left-[500px] top-24 flex flex-col p-9 rounded-xl"
>
  <div class="border-b-2 flex justify-between pb-2">
    <h1 class="text-3xl font-titulo text-secondary dark:text-dark-secondary font-semibold">
      Configurações
    </h1>
    <i class="pi pi-times self-center text-fontGray" (click)="closeModal()"></i>
  </div>
  <div class="p-5 flex flex-col gap-5 w-full">
    <div>
      <div class="flex justify-between items-center">
        <div>
          <p class="font-titulo font-medium">Email:</p>

          <input
            type="email"
            name=""
            id=""
            [placeholder]="loggedUser?.email"
            [disabled]="disabledEmail"
            [(ngModel)]="email"
            class="py-1 px-3 rounded-md font-hind-madurai disabled:bg-transparent bg-slate-100 "
          />
        </div>
        <button
        *ngIf="disabledEmail"

          class="px-7 font-hind-madurai h-min bg-primary dark:bg-dark-primary text-white   rounded-md"
          (click)="editEmail()"
        >
          editar
        </button>
        <button 
        *ngIf="disabledEmail==false"
        class="px-7 font-hind-madurai h-min bg-secondary dark:bg-dark-secondary text-white rounded-md"
        (click)="putEmail()"
      >
        confirmar 
      </button>
      </div>
    </div>
    <div>
      <div class="flex justify-between items-center">
        <div>
          <p class="font-titulo font-medium">Senha:</p>

          <input
            type="password"
            name=""
            id=""
            placeholder="********"
            [(ngModel)]="password"

            [disabled]="disabledPassword"
            class="py-1 px-3 rounded-md disabled:bg-transparent bg-slate-100 outline-none"
          />
        </div>
        <button 
        (click)="editPassword()"
        *ngIf="disabledPassword"
          class="px-7 font-hind-madurai h-min bg-primary dark:bg-dark-primary text-white rounded-md"
        >
          editar
        </button>
        <div class="flex gap-2"          *ngIf="!disabledPassword"
        >
          <button 
          (click)="putPassword()"
            class="px-7 font-hind-madurai h-min bg-secondary dark:bg-dark-secondary text-white rounded-md"
          >
            confirmar 
          </button>
          <button 
          (click)="cancelPassword()"
            class="px-7 font-hind-madurai h-min bg-red-700 text-white rounded-md"
          >
            cancelar  
          </button>
        </div>
        
      </div>
    </div>
    <div>
      <div class="flex justify-between items-center">
        <div>
          <p class="font-titulo font-medium">Tema padrão:</p>
          <p class="font-hind-madurai text-fontGray">{{ loggedUser.theme }}</p>
        </div>
        <button
          class="px-3 py-1 font-hind-madurai h-min bg-primary dark:bg-dark-primary text-white rounded-md"
        >
          <i class="icon pi pi-moon self-center" (click)="darkMode()"></i>
        </button>
      </div>
    </div>
    <div class="w-full">
      <div class="flex justify-between w-full">
        <div class="flex flex-col gap-2 w-full">
          <p class="font-titulo font-medium">Cores do sistema:</p>
          <p class="font-titulo text-fontGray font-medium text-base">
            cores atuais:
          </p>
          <div class="flex justify-between items-end w-full">
            <div class="flex gap-2">
              <div class="w-12 h-12 bg-primary  rounded"></div>
              <div class="w-12 h-12 bg-secondary  rounded"></div>
              <div class="w-12 h-12 bg-dark-primary rounded"></div>
              <div class="w-12 h-12 bg-dark-secondary rounded"></div>
            </div>
            <button
              [disabled]="defaultColors"
              class="px-7 h-min py-1 bg-primary dark:bg-dark-primary text-white font-titulo font-medium rounded-lg disabled:opacity-60"
              (click)="changeToDefault()"
              >
              restaurar cores padrões
            </button>
          </div>
        </div>
      </div>

    </div>
    <div class="flex flex-col gap-2">
      <p class="font-titulo font-medium">Altere as cores do sistema:</p>
      <p class="font-titulo text-fontGray font-medium text-base">
        selecione duas cores para o modo claro e duas para o modo escuro:
      </p>
      <div class="flex  justify-between">

      
      <div class="flex flex-col gap-2">
        <p class="font-titulo font-medium text-fontGray">Modo claro:</p>

        <div class="flex gap-2" >
    
          <div class="w-12 h-12 bg-[#0047AB] rounded " (click)="changeColor('#0047AB')" [ngClass]="primaryColor == '#0047AB' ? 'selected' : ''|| secondaryColor == '#0047AB' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#00AAF0] rounded"  (click)="changeColor('#00AAF0')" [ngClass]="primaryColor == '#00AAF0' ? 'selected' : ''||secondaryColor == '#00AAF0' ? 'selected' : ''" ></div>
          <div class="w-12 h-12 bg-[#E91818] rounded"  (click)="changeColor('#E91818')"  [ngClass]="primaryColor == '#E91818' ? 'selected' : ''||secondaryColor == '#E91818' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#A20021] rounded"  (click)="changeColor('#A20021')"  [ngClass]="primaryColor == '#A20021' ? 'selected' : ''||secondaryColor == '#A20021' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#3D9614] rounded"  (click)="changeColor('#3D9614')" [ngClass]="primaryColor == '#3D9614' ? 'selected' : ''||secondaryColor == '#3D9614' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#2E8B57] rounded"  (click)="changeColor('#2E8B57')" [ngClass]="primaryColor == '#2E8B57' ? 'selected' : ''||secondaryColor == '#2E8B57' ? 'selected' : ''"></div>
         
        </div>
        <div class="flex gap-2">
          <div class="w-12 h-12 bg-[#FAA613] rounded"  (click)="changeColor('#FAA613')"[ngClass]="primaryColor == '#FAA613' ? 'selected' : ''|| secondaryColor == '#FAA613' ? 'selected' : ''" ></div>
          <div class="w-12 h-12 bg-[#F44708] rounded"  (click)="changeColor('#F44708')"[ngClass]="primaryColor == '#F44708' ? 'selected' : ''|| secondaryColor == '#F44708' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#E01A4F] rounded"  (click)="changeColor('#E01A4F')"[ngClass]="primaryColor == '#E01A4F' ? 'selected' : ''|| secondaryColor == '#E01A4F' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#E072A4] rounded"  (click)="changeColor('#E072A4')"[ngClass]="primaryColor == '#E072A4' ? 'selected' : ''|| secondaryColor == '#E072A4' ? 'selected' : ''" ></div>
          <div class="w-12 h-12 bg-[#3B429F] rounded"  (click)="changeColor('#3B429F')"[ngClass]="primaryColor == '#3B429F' ? 'selected' : ''|| secondaryColor == '#3B429F' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#AA7DCE] rounded"  (click)="changeColor('#AA7DCE')"[ngClass]="primaryColor == '#AA7DCE' ? 'selected' : ''|| secondaryColor == '#AA7DCE' ? 'selected' : ''" ></div>
        </div>

      </div>
      <div class="flex flex-col gap-2">
        <p class="font-titulo font-medium text-fontGray">Modo escuro:</p>

        <div class="flex gap-2" >
    
          <div class="w-12 h-12 bg-[#4E97FD] rounded"  (click)="changeDarkColor('#4E97FD')" [ngClass]="primaryColor == '#4E97FD' ? 'selected' : ''|| secondaryColor == '#4E97FD' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#67F6F6] rounded"  (click)="changeDarkColor('#67F6F6')"[ngClass]="primaryColor == '#67F6F6' ? 'selected' : ''|| secondaryColor == '#67F6F6' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#FF4747] rounded"  (click)="changeDarkColor('#FF4747')"[ngClass]="primaryColor == '#FF4747' ? 'selected' : ''|| secondaryColor == '#FF4747' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#CE2F4F] rounded"  (click)="changeDarkColor('#CE2F4F')"[ngClass]="primaryColor == '#CE2F4F' ? 'selected' : ''|| secondaryColor == '#CE2F4F' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#68B245] rounded"  (click)="changeDarkColor('#68B245')"[ngClass]="primaryColor == '#68B245' ? 'selected' : ''|| secondaryColor == '#68B245' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#35C979] rounded"  (click)="changeDarkColor('#35C979')"[ngClass]="primaryColor == '#35C979' ? 'selected' : ''|| secondaryColor == '#35C979' ? 'selected' : ''"></div>
         
        </div>
        <div class="flex gap-2">
          <div class="w-12 h-12 bg-[#FFC052] rounded" (click)="changeDarkColor('#FFC052')" [ngClass]="primaryColor == '#FFC052' ? 'selected' : ''|| secondaryColor == '#FFC052' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#FC6B2E] rounded" (click)="changeDarkColor('#FC6B2E')" [ngClass]="primaryColor == '#FC6B2E' ? 'selected' : ''|| secondaryColor == '#FC6B2E' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#FF5C88] rounded"(click)="changeDarkColor('#FF5C88')" [ngClass]="primaryColor == '#FF5C88' ? 'selected' : ''|| secondaryColor == '#FF5C88' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#FF6CDF] rounded" (click)="changeDarkColor('#FF6CDF')" [ngClass]="primaryColor == '#FF6CDF' ? 'selected' : ''|| secondaryColor == '#FF6CDF' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#7560F9] rounded"(click)="changeDarkColor('#7560F9')" [ngClass]="primaryColor == '#7560F9' ? 'selected' : ''|| secondaryColor == '#7560F9' ? 'selected' : ''"></div>
          <div class="w-12 h-12 bg-[#CD8EFF] rounded" (click)="changeDarkColor('#CD8EFF')"[ngClass]="primaryColor == '#CD8EFF' ? 'selected' : ''|| secondaryColor == '#CD8EFF' ? 'selected' : ''"></div>
        </div>

      </div>
    </div>
    </div>
  </div>



  
</div>
