<div class=" w-full flex flex-wrap sm:flex-nowrap gap-4 xl:gap-10 sm:flex-row items-end justify-between  xl:items-center ">
    <div class="lg:w-[170px] w-[47%] flex items-center flex-col sm:gap-4 gap-1">
        <p class="font-hind-madurai text-fontGray dark:text-gray-300 font-light sm:text-base text-xs leading-4">{{'Horas totais trabalhadas no projeto:' | translate}}</p>
        <p class="rounded-xl md:max-w-max w-full sm:py-5 p-3 sm:px-8 bg-secondary dark:bg-dark-secondary text-center lg:text-3xl sm:text-2xl text-lg font-titulo text-white  font-semibold "> {{this.horasTotais}}:{{this.minutosTotais}}h</p>

    </div>
    <div class="md:w-[350px] sm:w-[300px] 2xl:w-[400px]  ">
      <p-chart type="bar" [data]="stackedData" [options]="stackedOptions" #chart ></p-chart>

    </div>
    <div class="w-[47%] xl:w-min flex justify-center items-end r -order-1 sm:order-1">
        <p class="rounded-xl lg:w-[190px] py-3 lg:px-9 px-4 bg-primary dark:bg-dark-primary text-center lg:text-2xl xl:text-xl 2xl:text-2xl sm:text-lg text-base font-titulo text-white  font-semibold "> {{totalTask}} {{'tarefas atribuidas' | translate}}</p>
    </div>
  </div>