

.status {
    @apply rounded-lg  px-7 text-sm text-end w-max  ;
    font-family: "Montserrat", sans-serif;
  }
  .dndDraggingSource {
    opacity: 0.5;
    transform: scale(0.98);
  }
  
  .dndPlaceholder {
    background: #fdfdfd;
    min-height: 46px;
    min-width: 46px;
  }
  
  [dnddropzone] {
    background: #f8f8f8;
    min-height: 60px;
    display: flex;
  }