<div class="container-fluid">
  <ng-template #recursiveList statusList>
    <div appearance="raised" class="dndPlaceholder" dndPlaceholderRef></div>

    <div
      appearance="raised"
      *ngFor="let item of statusList"
      [dndDraggable]="item"
     
      (dndEnd)="onDragEnd($event)"
      (dndStart)="onDragStart($event)"
      dndEffectAllowed="move"
      
    >
      <div class="p-2 border" dndHandle id="{{item.columnIndex}}">
        {{ item.name }}
      </div>

      <div
        class="flex flex-col"
        (dndDrop)="onDropTask($event, taskList, item)"
        dndDropzone
        id="1"
      >
        <div appearance="raised" class="dndPlaceholder" dndPlaceholderRef></div>

        <div
          appearance="raised"
          *ngFor="let task of taskList; let i = index"
          [dndDraggable]="task"
          (dndEnd)="onDragEnd($event)"
          (dndMoved)="onDragged(task, taskList, 'move')"
          class="flex flex-col"
          dndEffectAllowed="move"
          
        >
          <div *ngIf="task.currentStatus?.id == item.id">
            <app-tarefa-card-padrao
              [tarefaAtual]="task"
              dndHandle
              id="2"
            ></app-tarefa-card-padrao>
          </div>
        </div>
      </div>
    </div>
  </ng-template>

  <div
    (dndDrop)="onDrop($event, statusList)"
    class="d-flex gap-3 p-3 rounded-2"
    dndDropzone
  >
    <ng-container *ngTemplateOutlet="recursiveList"></ng-container>
  </div>
</div>
