  <div class=" flex justify-between  w-full gap-7 overflow-auto " cdkDropListGroup>
    <div
      *ngFor="let status of listaStatus"
      cdkDropList
      [cdkDropListData]="filtrarLista(status)"
      (cdkDropListDropped)="drop($event, status, filtrarLista(status))"
      class="min-w-[400px] bg-primaryGray flex flex-col items-center"
    >
      <div class=" w-full flex justify-end bg-[#F8F8F8]">
       <p class="status w-min "  [ngStyle]="{
        'background-color': status.corFundo,
        color: status.corTexto
      }"> {{ status.nome }}</p>
      </div>
      <div>ADICIONAR TAREFA</div>
      <div
        *ngFor="let item of filtrarLista(status)"
        cdkDrag
        [cdkDragData]="item"
        class="p-8"
      >
        <app-tarefa-card-padrao [tarefaAtual]="item"></app-tarefa-card-padrao>
      </div>
    </div>
  </div>
