<div class="div-pai">
    <div class="div-maior">
        <div class="cabecalho">
            <div class="foto-projeto"></div>
            <div class="texto">
                <p class="titulo">Projeto Padrão</p>
                <p class="descricao">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore. Lrem Ipsum is simply dummy text of the printing and typesetting industry. Lore</p>
            </div>
        </div>
        <div class="dashboard-pai">
            <div class="newDashBoard">
                <button #buttonNewDash type="button"  (click)="newDashVisible()" class="flex gap-2 items-center h-full"><i class="pi pi-plus" options="delay"></i>New Dashboard</button>
            </div>
            <app-new-dashboard-modal [newDashId]="dashboards.length" (newDash)="createNewDashBoard($event)" [newDashBool]="newDashVisibleBol" [ngClass]="!newDashVisibleBol?'invisible':'visible'" ></app-new-dashboard-modal>
            <div  class="container" *ngFor="let dashboard of dashboards">
                <div>
                    <div class="titulo-dashboard">
                        <p>{{dashboard.nome}}</p>
                        <button type="button"><i class="pi pi-plus" options="delay"></i> Adicionar novo gráfico</button>
                    </div>
                    <div class="dashboard flex" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)">
                        <div class="chart " cdkDrag *ngFor="let squad of dashboard.style, index as i" [ngClass]="squad">
                            <p-chart [type]="charts[i].type" [data]="charts[i].data" [options]="charts[i].options" width="100%" height="100%" ></p-chart>
                        </div>
                    </div>
                </div>

                <div class="comentario-pai">
                    <div class="fundo-comentario">
                        <div class="comentarios">
                            <div class="comentario" ngFor="100">
                                <div class="foto-user">
                                    <div class="foto"></div>
                                </div>
                                <div class="nome">
                                    <p>Felipe</p>
                                </div>
                                <div class="comentario-text">
                                    <p>gostei do seu  comentário, irei adicionar um também, é uma ótima ideia.</p>
                                </div>
                                <div class="date">
                                    <p>29/10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="top">
            <button class="top-b">Voltar para o topo</button>
        </div>
    </div>
</div>
<div class="div-menor">
    <div class="square">
        <div class="name">
            <p class="name-text">Membros</p>
        </div>
        <div class="membros">
            <div class="membro">
                <i class="pi pi-ellipsis-v ponto"></i>
                <p class="name-user">José Almeida</p>
            </div>
            <div class="membro">
                <i class="pi pi-ellipsis-v ponto"></i>
                <p class="name-user">Clarice Lispector</p>
            </div>
            <div class="membro">
                <i class="pi pi-ellipsis-v ponto"></i>
                <p class="name-user">Jorge Amado</p>
            </div>
            <div class="membro">
                <i class="pi pi-ellipsis-v ponto"></i>
                <p class="name-user">Fernando Pessoa</p>
            </div>
        </div>
        <div class="name">
            <p class="name-text">Status das Tarefas</p>
        </div>
        <app-status-component-criar-tarefa [isVisible]="true"></app-status-component-criar-tarefa>
        <div class="name">
            <p class="name-text pt-[8%]">Propriedades</p>
        </div>
        <div class="propriedades">
            <div class="propriedade">
                <i class="pi pi-calendar"></i>
                <p class="prop-name">revisão</p>
                <i class="pi pi-pencil"></i>
                <i class="pi pi-trash"></i>
            </div>
            <div class="propriedade">
                <i class="pi pi-dollar"></i>
                <p class="prop-name">orçamento</p>
                <i class="pi pi-pencil"></i>
                <i class="pi pi-trash"></i>
            </div>
        </div>
    </div>
</div>
