<div class="div-pai">
    <div class="div-maior">
        <div class="cabecalho">
            <div class="foto-projeto"></div>
            <div class="texto">
                <p class="titulo">Projeto Padrão</p>
                <p class="descricao">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lore. Lrem Ipsum is simply dummy text of the printing and typesetting industry. Lore</p>
            </div>
        </div>
        <div class="dashboard-pai overflow-hidden">
            <div class="newDashBoard">
                <button #buttonNewDash type="button"  (click)="newDashVisible()" class="flex gap-2 items-center h-full"><i class="pi pi-plus" options="delay"></i>New Dashboard</button>
            </div>
            <app-new-dashboard-modal  [newDashId]="dashboards.length" (newDash)="createNewDashBoard($event)" [newDashBool]="newDashVisibleBol" [ngClass]="!newDashVisibleBol?'invisible':'visible'" ></app-new-dashboard-modal>
            <div  class="container" *ngFor="let dashboard of dashboards">
                <div>
                    <div class="titulo-dashboard">
                        <p>{{dashboard.nome}}</p>
                        <div class="flex gap-3 flex-row-reverse" #Options >
                            <button (click)="viewOptions()" class="dark:text-gray-300 bg-primaryGray"><i class="pi pi-ellipsis-v duration-500 text-primary dark:text-dark-primary" [ngClass]="!viewOptionsBol ? 'rotate-90':'rotate-0'"></i></button>
                            <div class="flex gap-2 overflow-hidden duration-500 " [ngClass]="viewOptionsBol ? 'w-0':'w-full pr-2'">
                                <button type="button" (click)="newChartVisible()" class="text-gray-800 dark:text-gray-300 bg-primaryGray"><i class="pi pi-plus text-primary dark:text-dark-primary" options="delay"></i> Adicionar novo gráfico</button>
                                <app-new-chart-modal style="z-index: 99999;" (closeNewChart)="newChartVisible()" [dashboard]="dashboard" [newChartBool]="newChartBool" [charts]="charts" ></app-new-chart-modal>
                                <button type="button" (click)="viewEdit()" class="text-gray-800 dark:text-gray-300 bg-primaryGray mr-[0.5rem]"><i class="pi pi-pencil text-primary dark:text-dark-primary" options="delay"></i> Editar Dashboard</button>
                                <button type="button" (click)="deleteDashboard(dashboard)" class="bg-red-600 text-secondaryWhite"><i class="pi pi-trash text-secondaryWhite" options="delay"></i> Deletar Dashboard</button>
                            </div>
                        </div>
                    </div>
                    <div class="dashboard  flex" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event, dashboard)">
                        <div class="chart relative " cdkDrag *ngFor="let squad of dashboard.style, index as i" [ngClass]="squad">
                            <button (click)="chartToTrash(dashboard,i)" [ngClass]="!viewEditBol ? 'w-0 h-0':'w-[3rem] h-[3rem]'" *ngIf="dashboard.charts[i]" class="trash"><i [ngClass]="!viewEditBol ? 'invisible':'visible'" class="pi pi-trash trachPi"></i></button>
                            <p-chart *ngIf="dashboard.charts[i]" [type]="dashboard.charts[i].type" [data]="dashboard.charts[i].data" [options]="dashboard.charts[i].options" width="100%" height="100%" ></p-chart>
                        </div>
                    </div>
                </div>

                <div class="comentario-pai">
                    <div class="fundo-comentario">
                        <div class="comentarios">
                            <div class="comentario" ngFor="100">
                                <div class="foto-user">
                                    <div class="foto"></div>
                                </div>
                                <div class="nome">
                                    <p>Felipe</p>
                                </div>
                                <div class="comentario-text">
                                    <p>gostei do seu  comentário, irei adicionar um também, é uma ótima ideia.</p>
                                </div>
                                <div class="date">
                                    <p>29/10</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <div class="top">
            <button class="top-b" (click)="gotoTop()" > <i class="pi pi-arrow-up text-2xl font-bold px-2"></i> Voltar para o topo</button>
        </div>
    </div>
</div>
<div class="div-menor">
    <div class="square">
        <div class="name">
            <p class="name-text">Membros</p>
        </div>
        <div class="membros">
            <div class="membro">
                <i class="pi pi-ellipsis-v ponto"></i>
                <p class="name-user">José Almeida</p>
            </div>
            <div class="membro">
                <i class="pi pi-ellipsis-v ponto"></i>
                <p class="name-user">Clarice Lispector</p>
            </div>
            <div class="membro">
                <i class="pi pi-ellipsis-v ponto"></i>
                <p class="name-user">Jorge Amado</p>
            </div>
            <div class="membro">
                <i class="pi pi-ellipsis-v ponto"></i>
                <p class="name-user">Fernando Pessoa</p>
            </div>
        </div>
        <div class="name">
            <p class="name-text">Status das Tarefas</p>
        </div>
        <app-status-component-criar-tarefa [isVisible]="true"></app-status-component-criar-tarefa>
        <div class="name">
            <p class="name-text pt-[8%]">Propriedades</p>
        </div>
        <div class="propriedades">
            <div class="propriedade">
                <i class="pi pi-calendar"></i>
                <p class="prop-name">revisão</p>
                <i class="pi pi-pencil"></i>
                <i class="pi pi-trash"></i>
            </div>
            <div class="propriedade">
                <i class="pi pi-dollar"></i>
                <p class="prop-name">orçamento</p>
                <i class="pi pi-pencil"></i>
                <i class="pi pi-trash"></i>
            </div>
        </div>
    </div>
</div>
