<div class="propertie">
    <div class="name-icon">
        <i class="icon-propertie {{property.icon}}"></i>
        <p class="name-propertie">{{property.property.name}}:</p>
    </div>
    <div *ngIf="booleanEditProperty" class="propertie-value">
        {{property.value}}
    </div>
    <div 
    *ngIf="!booleanEditProperty"
    class="propertie-value-no"
    (click)="addPropertyValue(property)"
    >
        sem valor
    </div>
    <input 
    *ngIf="property.editable == true"
    class="inputPropertyValue"
    type="number"
    >
    <div class="confirmation-buttons">
        <div class="cancel-btn btn">
            <i class="pi pi-times"></i>
        </div>
        <div class="confirm-btn btn">
            <i class="pi pi-check"></i>
        </div>
        
    </div>
</div>