<div class="main">
  <div class="main-grid">
    <div class="column1">
      <i class="icon pi pi-align-justify"></i>
    </div>
    <div class="column2">
      <img src="../../../assets/logo.svg">
        <label class="span-input p-input-icon-right">
            <i class="pi pi-search"></i>
            <input 
            class="search-input" 
            type="text" 
            pInputText 
            placeholder="Search items, collections, account"
            />
        </label>
    </div>
    <div class="column3">
        <i class="icon pi pi-bell"></i>
        <i class="icon pi pi-moon" (click)="darkMode()"></i>
        <i class="icon pi pi-user"></i>
    </div>
  </div>
</div>
