<div class="main ">
  <app-side-bar *ngIf="sideBar" (sideBar)="closeSideBar($event)"></app-side-bar>   

  <div class="main-grid">
    <div class="column1">
      <i class="icon pi pi-align-justify" (click)="openSideBar()"></i>
      
    </div>
    <div class="column2">
      <img src="../../../assets/logo.svg" (click)="goInitialPage()">
        <label class="span-input p-input-icon-right">
            <i class="pi pi-search"></i>
            <input 
            class="search-input" 
            type="text" 
            pInputText 
            placeholder="Search items, collections, account"
            />
        </label>
    </div>
    <div class="column3">
        <i class="icon pi pi-bell"></i>
        <i class="icon pi pi-moon" (click)="darkMode()"></i>
        <i class="icon pi pi-user" (click)="irParaPerfil()"></i>
    </div>
  </div>
</div>
