<div class="h-[90vh] mt-5">
    <div class="px-[12%]">
        <p class="text-primary font-bold text-4xl ">Suas tarefas do seu jeito:</p>
    </div>

    <div class="px-[11%] mt-16 flex items-center justify-between mb-12">
        <p class="font-bold  text-xl cursor-pointer " (click)="slide(0)" [ngClass]="indexSlide === 0 ? 'text-primary':'text-gray-400'" >Cards</p>

        <div class="w-[12vw] h-1 rounded-lg bg-gray-300" [ngClass]="indexSlide === 1 ? 'rotate-180':''">
            <div *ngIf="indexSlide === 0" class="bg-secondary w-full h-full"></div>
            <div *ngIf="indexSlide === 1" class="bg-secondary w-1/2 h-full"></div>
        </div>

        <p class="font-bold text-xl cursor-pointer" (click)="slide(1)" [ngClass]="indexSlide === 1 ? 'text-primary':'text-gray-400'" >Kanban</p>

        <div class="w-[12vw] h-1 rounded-lg bg-gray-300" [ngClass]="indexSlide === 2 ? 'rotate-180':''">
            <div [ngClass]="indexSlide === 2 || indexSlide === 1 ? 'bg-secondary w-1/2 h-full':'bg-gray-300'"></div>
        </div>

        <p class="font-bold text-xl cursor-pointer " (click)="slide(2)" [ngClass]="indexSlide === 2 ? 'text-primary':'text-gray-400'" >Listas</p>
        <div class="w-[12vw] h-1 rounded-lg bg-gray-300">
            <div *ngIf="indexSlide === 3" class="bg-secondary w-full h-full"></div>
            <div *ngIf="indexSlide === 2" class="bg-secondary w-1/2 h-full"></div>
        </div>
        <p class="font-bold text-xl cursor-pointer " (click)="slide(3)" [ngClass]="indexSlide === 3 ? 'text-primary':'text-gray-400'" >Calendario</p>

    </div>

    <div class="h-[70vh] flex justify-center items-center px-[15%] py-[1%]">
        <div class="h-full w-full flex flex-col justify-between shadow-2xl p-4 rounded-lg px-10">
            <div class="h-full w-full">
                <app-landingpage-screes-separator></app-landingpage-screes-separator> 
            </div>
        </div>
    </div>
</div>