<div class="main">
    <div class="main-card">
        <div class="card">
            <div class="tasks">
                <div class="task">
                    <div class="s-input flex gap-1">
                        <input type="checkbox" id="1">
                       <label class="task-label" for="1">se eu quiser adicionar muito texto cabe coisa aqui, a escolha do usuario</label> 
                       </div>
                </div>
                <div class="task">
                    <div class="s-input flex gap-1">
                        <input type="checkbox" id="2">
                       <label class="task-label" for="2">se eu quiser adicionar muito texto cabe coisa aqui, a escolha do usuario</label> 
                       </div>
                </div>
                <div class="task">
                    <div class="s-input flex gap-1">
                        <input type="checkbox" id="3">
                       <label class="task-label" for="3">se eu quiser adicionar muito texto cabe coisa </label> 
                       </div>
                </div>

            </div>
        </div>
        <div *ngIf="!booleanAddSubtarefa" class="box-btn-add">
            <div *ngIf="!booleanAddSubtarefa" (click)="adicionarSubtarefa()" class="btn-add-content">
                <i class="pi pi-plus btn-add-text"></i>
                <p class="btn-add-text">adicionar sub-tarefa </p>
            </div>
        </div>
        <div *ngIf="booleanAddSubtarefa" class=" h-min w-full flex justify-between py-3 px-2 border-x-2 border-b-2 items-center">
            <input type="text">
            <div>
                <i class="pi pi-check"></i>
                <i class="pi pi-trash"></i>
            </div>
        </div>
    </div>
</div>