


.tasks {
@apply flex flex-col gap-4 rounded-xl  overflow-y-auto h-full border-2 flex-1 pt-3
}

.task {
  @apply px-3  w-full
}

.main-task {
@apply w-full flex justify-between
}

.task-label {
  @apply sm:text-lg text-sm font-semibold
}

.box-btn-add {
  @apply w-full h-min  py-2 px-3 border-t-2 rounded-b-xl flex justify-center items-center cursor-pointer
}

.s-input input {
  display: none;
}

.s-input input + label:before {
  content: "";
  height: 18px;
  width: 18px;
  vertical-align: middle;
  border: solid 2px #6A7181;
  border-radius: 4px;
  margin-right: 8px;
  margin-bottom: 3px;
  display: inline-block;
  cursor: pointer;
}

.s-input input:checked + label:before{
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M9.54961 17.9996L3.84961 12.2996L5.27461 10.8746L9.54961 15.1496L18.7246 5.97461L20.1496 7.39961L9.54961 17.9996Z' fill='%23F8F8F8'/%3E%3C/svg%3E");
  padding: 1px;
  background-position: center;
  background-color: #4C956C;
  border: solid 2px #4C956C;


}

.btn-add-content {
  @apply flex justify-center items-center gap-3
}

.btn-add-text {
  @apply text-primary sm:text-xl text-base font-bold
}

.input-new-sub {
  @apply outline-none ml-3
}

.modal-subtarefa {
   @apply w-24 h-16  shadow-md 
}

.main-modal-subtarefa {
  @apply w-24 h-16 absolute bg-primaryWhite shadow-md flex flex-col justify-center items-end
}

.icon {
  font-size: small;
}

.divInputEdit {
  @apply w-[40%]
}

.inputEditNameSubtarefa{
  @apply outline-none border-b-2 border-primary w-full
}

.btn-confirm {
  @apply py-2 px-2 bg-secondary flex items-center justify-center rounded-lg font-bold;
}

.pi {
  font-size: small;
}